#appnope==0.1.3
#argon2-cffi==21.3.0
#argon2-cffi-bindings==21.2.0
attrs==22.1.0
Authlib==0.14.1
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
certifi==2019.11.28
#cffi==1.14.0
#chardet==3.0.4
#click==7.1.1
cryptography==3.3.2
#cycler==0.10.0
#debugpy==1.6.3
decorator==5.1.1
#defusedxml==0.7.1
entrypoints==0.4
fastjsonschema==2.16.2
Flask==1.1.1
Flask-Cors==3.0.10
Flask-Login==0.4.1
Flask-OAuthlib==0.9.5
gevent==21.8.0
greenlet==1.1.3
gunicorn==20.0.4
#h5py==2.10.0
idna==2.9
importlib-metadata==5.0.0
importlib-resources==5.9.0
ipykernel==6.16.0
ipython==7.34.0
ipython-genutils==0.2.0
ipywidgets==7.0.0
itsdangerous==1.1.0
jedi==0.18.1
Jinja2==2.11.3
joblib==0.14.1
jsonschema==4.16.0
#jupyter-client==7.3.5
#jupyter-core==4.11.1
#jupyterlab-pygments==0.2.2
#Keras==2.3.1
#Keras-Applications==1.0.8
#Keras-Preprocessing==1.1.0
#kiwisolver==1.1.0
MarkupSafe==2.0.1
#matplotlib==3.2.1
#matplotlib-inline==0.1.6
mistune==2.0.4
nbclient==0.7.0
#nbconvert
nbformat==5.6.1
nest-asyncio==1.5.6
#notebook==6.4.12
#numpy==1.18.2
oauthlib==2.1.0
packaging==21.3
pandas
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pkgutil-resolve-name==1.3.10
#plotly==4.10.0
prometheus-client==0.14.1
prompt-toolkit==3.0.31
psutil==5.9.2
ptyprocess==0.7.0
pycparser==2.20
Pygments==2.13.0
pyparsing==2.4.6
pyrsistent==0.18.1
python-dateutil
python-dotenv==0.12.0
#pytz==2019.3
#PyYAML==5.4
pyzmq==24.0.1
requests==2.23.0
requests-oauthlib
retrying==1.3.3
#scikit-learn==0.22.2.post1
#scipy
Send2Trash==1.8.0
six==1.14.0
soupsieve==2.3.2.post1
spotipy==2.10.0
terminado==0.16.0
tinycss2==1.1.1
tornado==6.2
traitlets==5.4.0
typing-extensions==4.3.0
urllib3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.0
widgetsnbextension==3.0.8
zipp==3.8.1
zope.event==4.5.0
zope.interface==5.1.2
