


{% extends "skala3ma-layout.html" %}

{% block topcontent %}

{% endblock %}


	{% block secondarycontent %}


	<div >{% include "competition-menu.html" %}




<div align="center">
	<br><br>

    <!-- create a login form with email and password fields and a button called login and 
    two links on the bottom one to register and another to forget password -->






    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
           
            <img src="/public/images/botek-ai-up.jpeg" width="200">
                    <h3 class="h3 mb-3 fw-normal text-center"></h3>

                    <h1 class="h3 mb-3 fw-normal text-center">Oupsie daisy</h1>

                    {% if error  %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endif %}
                   
                    
              


	<br><br>
	<br><br>
	<br><br
</div>  </div>  </div>
{% endblock %}