
{% extends "skala3ma-layout.html" %}

{% block topcontent %}

{% endblock %}

	{% block secondarycontent %}




    
	<div name='container'>

		{% include "competition-menu.html" %}

		<div class="text-center heading-section" >
            
            <h3>{{ reference_data['current_language'].activities}}
                <!--div id="toggl-icon" style="box-sizing: border-box; box-shadow: 1px 1px 1px 3px #9ecab3;outline-color: transparent;
            outline-style:solid; width: 45px; height: 45px; padding: 0px 8px 8px 8px; border-radius: 32%;display: inline-block; margin: 6px 4px; background: #eff3ef ">
            <a href="#" onClick="showModal()"><i class="bi bi-plus-circle-fill" style="font-size: 3rem; color: #46cb86;"></i></a>
            </div-->
            <a href="#" onClick="showModal()"><i class="bi bi-plus-circle-fill" style="font-size: 3rem; color: #53be6b;"></i></a>
            </h3>
		</div>
            
		<div class="container text-center heading-section" >
        	
            <div  id="activitiesChart"></div>
        </div>
            
        
        <div class="container heading-section">
        
            <div id="activities"></div>
        </div>
              
             
			 

		</div>


        <br>
    </div>

</div>

</div>



<script>
   



        

    
var activities;
var gyms;

function getData()
{

    /*
    Example gym data is a list:
    routesid is the id of the currently default set of routes for the given gym

    [{"id": "1", "routesid": "35576371427d4a6ca5d0f590795cdeb1", "name": "Nanterre Grimpe",  "logoimg": "logo-ESN-HD-copy-1030x1030.png", "homepage": "https://www.esnanterre.com/escalade/", "address": "14 Av. du Mar\u00e9chal Joffre, 92000 Nanterre", "organization": "FSGT", "logo_img_id": "1", "lat": 48.885579, "lon": 2.20922, "status": 2, "ref_id": 1},
    

    */
    fetch(`/api1/gyms`)
    .then(response => response.json())
    .then(data => {
        // use the retrieved data here
        //console.log("retrieved data in activities.js")
        //console.log(data);
        gyms=data
        processGyms(gyms);
    })
    .catch(error => console.error(error));
    

    /*

    Example activity data: 
    routes_id is the id of the set of routes for the given gym
    id inside the routes list is the id of the actual route within the routes set
    
    {"id": "f589a3195dd84483a7643500c3173692", "gym_id": "1", "routes_id": "35576371427d4a6ca5d0f590795cdeb1", "starttime": "2025-09-26", "gym_name": "Nanterre Grimpe", 
    "routes": [
        {"id": "adc97f20c2f94166bb2c8c486fe9643f", "routenum": "27", "line": "8", "colorfr": "#00ff7b", "color1": "#00ff7b", "color_modifier": "solid", "grade": "5c+", "name": "La coul\u00e9e verte", "openedby": "Sebastien, Yohan", "opendate": "", "notes": "", "route_id": "86ee3273-26c1-4f49-bd7f-907401327c9c", "status": "climbed", "note": "", "user_grade": "5c+"}, 
        {"id": "7e48d0986e1e428b9a0adf82193a20e1", "routenum": "29", "line": "9", "colorfr": "#000000", "color1": "#000000", "color_modifier": "solid", "grade": "5a+", "name": "", "openedby": "", "opendate": "", "notes": "", "route_id": "2d60a065-0280-4c8b-a6aa-25ca5de663a6", "status": "climbed", "note": "", "user_grade": "5a+"}, 
        {"id": "6f1e9df67130429495f955ff0328cde5", "routenum": "63", "line": "18", "colorfr": "#78d973", "color1": "#78d973", "color_modifier": "solid", "grade": "5c", "name": "La v\u00e9ridique ", "openedby": "Alex", "opendate": "2024-09-14", "notes": "Sans di\u00e8dres", "route_id": "c1d98bc4a5184a76b58bddd4131d7e70", "status": "climbed", "note": "", "user_grade": "5c"}, 
        {"id": "fc974a5e0e8a4546a05e44e871df19f6", "routenum": "65", "line": "18", "colorfr": "#ffe436", "color1": "#ffe436", "color_modifier": "solid", "grade": "6a+", "name": "yellowstone", "openedby": "Alex", "opendate": "2023-09-21", "notes": "Sans di\u00e8dres", "route_id": "4adac2a5-0643-4f08-baad-3e29ae03b311", "status": "climbed", "note": "", "user_grade": "6a+"}
        ], 
        "date": "2025-09-26"}
    **/

    fetch(`/api1/activities`)
    .then(response => response.json())
    .then(data => {
        // use the retrieved data here
        //console.log(data);
        activities=data
        processActivities(activities);

            

    })
    .catch(error => console.error(error));


    /*
    to retrieve the routes for a given gym and a specific routeset id:
    fetch(`/api1/gym/{gymid}/routes/{routesid}`)'
    Example response:
    {
    "gym_id":"1","id":"35576371427d4a6ca5d0f590795cdeb1","name":"Juin 2025","routes":[{"color1":"#fefc78","color_modifier":"solid","colorfr":"#fefc78","grade":"6b","id":"e126a8e212314357b34f59ea113c1525","line":"1","name":"","notes":"","opendate":"2025-06-25","openedby":"Franck","routenum":1},{"color1":"#2e8b57","color_modifier":"solid","colorfr":"#2e8b57","grade":"4c","id":"9cb85a6d-1f48-427e-99a9-5762176d9bc9","line":"1","name":"","notes":"très facile","opendate":"","openedby":"","routenum":2},{"color1":"#ff0000","color_modifier":"solid","colorfr":"#ff0000","grade":"5a+","id":"64068aca-6a8f-4709-9e0b-c4e10de2129f","line":"1","name":"L'égyptienne","notes":"Départ bas / horizontal","opendate":"","openedby":"Sebastiao","routenum":3},{"color1":"#b0b0b0","color_modifier":"solid","colorfr":"#b0b0b0","grade":"5b","id":"025f8412c86f426388f197519b2340d5","line":"1","name":"","notes":"","opendate":"2024-06-01","openedby":"Pablo","routenum":4},

    */
}

function processActivities(activities)
{
   

    for (var i = 0; i < activities.activities.length; i++) {
        // placeholder for processing each activity
    }	  
}

function processGyms(gyms)
{
    for (var i = 0; i < gyms.length; i++) {
        //add gym option to gym_id select field
        var option = document.createElement("option");
        option.text = gyms[i].name;
        option.value = gyms[i].id;
        var select = document.getElementById("gym_id");
        select.appendChild(option);

    }	  
}	



window.addEventListener('load', () => {
  
  var now = new Date();
  document.getElementById('date').value  = now.toISOString().split('T')[0];
  getData();
  
});





</script>



					


	
{% endblock %}