


{% extends "skala3ma-layout.html" %}

{% block topcontent %}

{% endblock %}

	{% block secondarycontent %}




    <style>
        /* Style for the modal dialog container */
        .modal-container {
            display: none;
            justify-content: center;
            
            position: fixed;
            z-index: 1023;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        /* Style for the modal dialog box */
        .modal-box {
            background-color: hsl(0, 0%, 100%);
            /*margin: 2%;*/
            margin: auto;
            padding: 15px;
            border: 1px solid #888;
            vertical-align: middle; 
            /*width:max-content;*/
            width:fit-content;
            
            display:flex;
            
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 14px;
            color: #333;
        }

        /* Style for the close button */
        .close-button {
            position: absolute;
            top: 20px;
            right: 30px;
            font-size: 30px;
            color: #aaa;
            font-weight: bold;
            cursor: pointer;
        }
    </style>

    


    
    <div id="modal" class="modal-container">
        
        <div id="modal-box" class="modal-box">
           
                <style>
                    .form-row-heading {
                      display: flex;
                      justify-content: center;
                      align-items: baseline;
                      margin: 2px;
                      font-size: 20px;
                      color: #292424;
                      font-weight: bold;
                      vertical-align: bottom;
                    }
                    .form-row {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      margin: 0px;
                    }
                  
                    .form-row label {
                      text-align: right;
                      margin-right: 6px;
                      flex: 1;
                    }
                  
                    .form-row input,
                    .form-row select,
                    .form-row textarea {
                      flex: 1;
                    }
                  </style>

            <div id="hidden_message" class="form-row" style=" font: bold 24px;color: red; align-content: center;"></div>
            <span class="close-button" onclick="hideModal()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

            <div id="tabulator-table" class="form-row"></div>

            <div id="mainModalMenu">
                
            
                <div class="form-row">
                <span class="close-button" onclick="hideModal()"></span>

                <div class="form-row-heading">
                    <div id="route-routenum" style="font-size:40px;"></div>  &nbsp;&nbsp;&nbsp; <div id="route-name"></div>
                </div>

            <div class="form-row-heading">
                <div id="route-line" style="font-size:20px;"></div> &nbsp;&nbsp;&nbsp;
                <div id="route-color1" >&nbsp;&nbsp;&nbsp;</div>&nbsp;&nbsp;  
                <div style="font-size:20px;" id="route-grade"></div>
            </div>
            </div>
            
            <div class="form-row row">

                    <div id="toggle-flash-icon col" style="box-sizing: border-box; box-shadow: 1px 1px 1px 3px #9ecab3;outline-color: transparent;
                    outline-style:solid; padding: 9px; border-radius: 32%;display: inline-block; margin: 4px 10px; background: #eff3ef; width: 60px; height:60px ">
                    <img id="toggle-flash-image" class="img-fluid" src="" width="60" height="60" onclick="toggleFlashImage()"/>
                    
                   

                    </div>
                    <div class="col">

                    <select class="col form-select form-select-lg" id='route-grade-user' name="route-grade-user"  size="1" type="text" 
                       style="box-sizing: border-box; box-shadow: 1px 1px 1px 3px #9ecab3;outline-color: transparent;
                       outline-style:solid; padding: 6px; border-radius: 2%;display: inline-block; margin: 1x 1px; border-width: 0px; 
                       font-size:1.6em; font-weight: bold; color: #40ad48">
                    <option value="?">?</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4a">4a</option>
                    <option value="4b">4b</option>
                    <option value="4c">4c</option>
                    <option value="5a">5a</option>
                    <option value="5a+">5a+</option>
                    <option value="5b">5b</option>
                    <option value="5b+">5b+</option>
                    <option value="5c">5c</option>
                    <option value="5c+">5c+</option>
                    <option value="6a">6a</option>
                    <option value="6a+">6a+</option>
                    <option value="6b">6b</option>
                    <option value="6b+">6b+</option>
                    <option value="6c">6c</option>
                    <option value="6c+">6c+</option>
                    <option value="7a">7a</option>
                    <option value="7a+">7a+</option>
                    <option value="7b">7b</option>
                    <option value="7b+">7b+</option>
                    <option value="7c">7c</option>
                    <option value="7c+">7c+</option>
                    <option value="8a">8a</option>
                    <option value="8a+">8a+</option>
                    <option value="8b">8b</option>
                    <option value="8b+">8b+</option>
                    <option value="8c">8c</option>
                    <option value="8c+">8c+</option>
                    <option value="9a">9a</option>
                    <option value="9a+">9a+</option>
                    <option value="9b">9b</option>
                    <option value="9b+">9b+</option>
                    <option value="9c">9c</option>
                  
                    </select>

                 
                    
                  
                </div>
                <div class="col">
                   
                    <input id='notes' name="notes" size="20" type="text" 
                       style="box-sizing: border-box; box-shadow: 1px 1px 1px 3px #9ecab3;outline-color: transparent;
                       outline-style:solid; padding: 12px; border-radius: 2%;display: inline-block; margin: 1x 1px; border-width: 0px;"/>

                 
                    
                  
                </div>
                </div>
                <div class="form-row">
             

                        
            

                    <button id='editbutton' type="button" class="btn btn-primary btn-lg" onclick="saveData('climbed');">Save</button>&nbsp;
                 
                    <button id='cancelbutton' type="button" class="btn btn-secondary  btn-lg" onclick="closeDialog()">Cancel</button>
                    
            </div> 
            </div>

                  
            
        </div>
        
    </div>




<script>

    let queryParams = new URLSearchParams(window.location.search);

    let queryRouteid = queryParams.get("routeid"); // return john
    console.log("queryRouteid: "+queryRouteid);

    // Get the modal dialog container
    var modal = document.getElementById("modal");
    var mainModalMenuDiv = document.getElementById('mainModalMenu');
    var modalBoxDiv = document.getElementById('modal-box');
    var currentRow;
    var mod_type;


    function showEditDiv(){
        mainModalMenuDiv.style.display='none'
        //editDiv.style.display='block';
    }

    function editContent(){
        mod_type='save'
        showEditDiv();
        return false;
    }

// Function to display the modal dialog
function showModal() {
        mainModalMenuDiv.style.display='none';
        document.getElementById('tabulator-table').style.display='block';
        
        modal.style.display = "block";
    }

    // Function to hide the modal dialog
    function hideModal() {
        modal.style.display = "none";
    }

    function hideTable(){
        document.getElementById('tabulator-table').style.display='none';
        //tabulator-table.style.display = 'none';
    }

    function clearModal(){
        document.getElementById('hidden_message').textContent='';
        
        document.getElementById('activity_name').value = 'My activity';
        
        
    }


    function closeDialog(){
        //clearModal();
        hideModal();
    }
    

    function deleteActivity()
    {
        fetch(`/api1/activity/{{activity['id']}}`,
        { method: 'DELETE'})
        .then(response => response.json())
        .then(data => {
            // use the retrieved data here
            window.location.href = "/activities";
        })
        .catch(error => console.error(error));
        
        // redirect to /activities page
        

    }



    var gym_id;
    var routes;
    var activity;
    var table;
      
      function getData()
      {
        const gymid = "{{gym['gym_id']}}";
        const routeid = "{{routes['id']}}";
    
        fetch(`/api1/activity/{{activity['id']}}`)
        .then(response => response.json())
        .then(data => {
            // use the retrieved data here
            //console.log(data);
            activity=data.activities;
            if (data.routes == 0)
            {
                showModal();
            }
            document.getElementById('activityName').innerHTML = data.name;
            document.getElementById('activityDate').innerHTML = '<a href="/gyms/'+data.gym_id+'">'+data.gym_name+'</a> - '+data.starttime;
            
        })
        .catch(error => console.error(error));
    

        fetch(`/api1/gym/{{gym['id']}}/`)
        .then(response => response.json())
        .then(data => {
            // use the retrieved data here
            //console.log(data);
            routes=data.routes
            renderGymRoutesTabulatorTable(routes);
            
              
    
        })
        .catch(error => console.error(error));
      }
    
    

    getData();
    

    function renderGymRoutesTabulatorTable(routesA)
      {
        var columns = [
            {title: "{{ reference_data['current_language'].route_num}}", visible:false, field: "routenum", "responsive": 0 , minWidth:2, width:60, headerVertical:false},
            {title: "{{ reference_data['current_language'].line }}", field: "line", "responsive": 0 , minWidth:2, width:60, headerVertical:false,
                formatter:function(cell, formatterParams, onRendered){
                    return `${cell.getValue()} <sup>${cell.getRow().getData().routenum}</sup>`;
                },
            
            },
            
            {title: "{{ reference_data['current_language'].color }}", field: "color1", 
            "responsive": 0 , minWidth:10, 
            formatter:function(cell, formatterParams, onRendered){ 
                return getColorSVGDiv(cell.getValue(), cell.getRow().getData().color_modifier, '100px', '50px');
                },
            
                formatterPrint:function(cell, formatterParams, onRendered){
                return getColorSVGDiv(cell.getValue(), cell.getRow().getData().color_modifier, '100px', '50px');
                },
            },
            {title: "{{ reference_data['current_language'].grade }}", field: "grade", "responsive": 0 , minWidth:10, headerVertical:false},
            {title: "{{ reference_data['current_language'].route_name }}", field: "name", "responsive": 1 , minWidth:10},
            {title: "{{ reference_data['current_language'].route_opened_by}}", field: "openedby", "responsive": 2 , minWidth:10},
            {title: "{{ reference_data['current_language'].route_opened_date}}", field: "opendate", "responsive": 2},
            {title: "{{ reference_data['current_language'].notes}}", field: "notes", "responsive": 1 , formatter:"plaintext"}
            ];
        
          // Create the Tabulator table
        table = new Tabulator("#tabulator-table", {
            columns: columns,
            data: routesA ,
            layout:"fitDataStretch",
            //layout: "fitDataFill",
            movableRows: true,
            selectable: 1,
            responsiveLayout:"collapse",
            //responsiveLayout:"fitColumns",
            //movableColumns: true, 
            responsiveLayoutCollapseStartOpen:false,
            formatter:"responsiveCollapse", headerSort:true,
            rowFormatter:function(row){
            if(row.getData().line % 2 == 0){
                    //row.getElement().style.backgroundColor = "#dddddd";
                    //row.getElement().classList.add("celled"); //mark rows with age less than 18 with a warning state;
                    row.getElement().style.backgroundColor = "#f1f1f1";
                
                }else{
                    row.getElement().style.backgroundColor = "#ffffff";
                
                }
                },

              /*rowContextMenu:[
              {
                label:"Edit Row",
                action:function(e, row){
                    row.delete();
                }
                },
                {
                    label:"Delete Row",
                    action:function(e, row){
                        row.delete();
                    }
                },
            ]*/
          });

          table.on("rowClick", function(e, row){
            gymRouteDetail(row.getData());
            
          });

          table.on("tableBuilt", function(){
            checkAndOpenAddRouteActivity();
          });

          if (currentRow !== undefined)
          {
            //table.selectRow(Math.abs(parseInt(currentRow.routenum)));
            //table.selectRow(2);
          }
      
      }

      function checkAndOpenAddRouteActivity()
      {
        if (queryRouteid == undefined)
        {
            return;
        }
        console.log("checkAndOpenAddRouteActivity: "+queryRouteid);
        
        rows = table.searchRows("id", "=", queryRouteid);

        if (rows == undefined || rows.length == 0)
        {
            return;
        }
        
        console.log(rows);
        console.log(rows[0]);
        console.log(rows[0].getData());
        showModal();
        gymRouteDetail(rows[0].getData());


      } 
      
    
      var formData = {};

      function gymRouteDetail(data) {
            resetFlashImage();

            //console.log(data);
            currentRow=data;
            document.getElementById('route-routenum').innerHTML = data.routenum;
            document.getElementById('route-grade').innerHTML = data.grade;
            document.getElementById('route-name').innerHTML = data.name;
            //document.getElementById('color1').style.backgroundColor = currentRow.color1;
            document.getElementById('route-color1').style.background = data.color1;
            document.getElementById('mainModalMenu').style.display='block';
            //mainModalMenuDiv.style.display='block';
            document.getElementById('route-grade-user').value = data.grade; 

            formData = {};
            formData['route_id'] = data.id;
            
            hideTable();
            //hideModal();
            //document.getElementById('id').value = data.id;

      }



    function saveData(status)
    {
        //console.log("saveData  ");
        ///console.log(currentRow);
        //console.log(status);
        //console.log(document.getElementById('notes').value);

        formData['note'] = document.getElementById('notes').value;
        formData['route_finish_status'] = routeFinishStatus;
        formData['gym_id'] = "{{gym['id']}}";
        formData['routes_id'] = "{{routes['id']}}";
        formData['route-grade'] = document.getElementById('route-grade').innerHTML;
        formData['route-grade-user'] = document.getElementById('route-grade-user').value;

        fetch('/api1/activity/{{activity['id']}}', {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
        .then(response => response.json())
        .then(data => {
            // use the retrieved data here
            //console.log('data after save')
            //console.log(data);

            hideModal();
            window.location.href = "/activities/{{activity['id']}}";
              
        })
        .catch(error => console.error(error));
    }


    function deleteRoute(routeId)
    {
        //console.log("deleteActivity  "+routeId);
        if (routeId == undefined || routeId.length == 0)
        {
            return;
        }

        fetch(`/api1/activity/{{activity['id']}}/route/`+routeId,
        { method: 'DELETE'})
        .then(response => response.json())
        .then(data => {
            // reload the activities page
            window.location.href = "/activities/{{activity['id']}}";
        })
        .catch(error => console.error(error));
        
        // redirect to /activities page
        

    }

    
    
        
</script>




	<div name='bbb'>

		{% include "skala3ma-menu.html" %}
     
		<!--div id="fh5co-blog-section" class="fh5co-section-gray"	-->
					<div class="text-center heading-section">
					
				<h3><span id="activityName"></span>	
                   
						
                       
                </h3>
                         <div id="activityDate"></div>
                         
                         
                         <!--div id="toggl-icon" style="box-sizing: border-box; box-shadow: 1px 1px 1px 3px #9ecab3;outline-color: transparent;
                         outline-style:solid; width: 45px; height: 45px; padding: 0px 8px 8px 8px; border-radius: 32%;display: inline-block; margin: 6px 4px; background: #eff3ef ">
                         <a href="#" onClick="showModal()"><i class="bi bi-plus-circle-fill" style="font-size: 3rem; color: #46cb86;"></i></a>
                         </div-->
					</div>
                    
		<div class="container">
			<div class="row row-bottom-padded-md">

               <!-- <button name="competition_update_button" value="competition_update_button" 
                class="btn btn-success btn-sm" onClick="showModal()">
                <i class="bi bi-node-plus-fill" style="font-size: 3rem; color: rgb(240, 247, 241);"></i>
                </button>-->

                
                
                
<table class="table thead-dark table-hover" >
         <!--thead><tr>
            <th data-width="250" data-field="Time Added" data-filter-control="input" >
                <a href="#" onClick="showModal()"> <i class="bi bi-plus-circle-fill" style="font-size: 2.2rem; color: #40ad48;"></i></a>

            </th>
            <th data-width="250" data-field="Time Added" data-filter-control="input"></th>
        
         <th data-width="250" data-field="Time Added" data-filter-control="input">{{ reference_data['current_language'].name }}</th>
         
<th data-field="category" data-filter-control="input">{{ reference_data['current_language'].notes }}</th>
			 <th> </th>
         </tr>
         </thead-->
    <tbody>
         {# here we iterate over every item in our list which we will pass from bar() #}
    				{% for route in activity['routes'] %}

		 <tr>
            <td> {% if route['status'] == 'climbed' %}
                <img src="/public/images/1398911_correct_mark_success_tick_valid_icon.png" width="30" height="30" alt="climbed">
                {% elif route['status'] == 'attempted' %}
                <img src="/public/images/4125784_confounded_confused_emoji_emotion_fail_icon.png" width="30" height="30" alt="attempted">
                {% elif route['status'] == 'flashed' %}
                <img src="/public/images/2682840_bolt_elictricity_light_lightning_storm_icon.png" width="30" height="30" alt="flashed">
                {% endif %}
            </td>
                <td>
                    <script>
                        document.write(''+getColorSVGDiv("{{route['color1']}}", '{{route['color_modifier']}}', '50px','25px')+' ');
                      </script>
                </td>
                <td class="col-1">{{ route['grade'] }}  </td>
               
                <td class="col-5">{{ route['name'] }}</td>
           
                <td class="col-1"><i>{{ route['user_grade'] }} </i> </td>
        <td class="col-5"><i> {{ route['note'] }}</i></td>
			 <td>
                <!--div style="box-sizing: border-box;outline-color: transparent;
                outline-style:solid; padding: 5px; border-radius: 32%;display: inline-block; margin: 4px 10px; background: #d8303777 ">
				 <a href="#" onclick="deleteRoute('{{route['id']}}')"><img src="/public/images/613_delete.png" width="30"/>
                </a></div-->

                <!--button id='deletebutton' type="button" class="btn btn-sm btn-outline-danger" onclick="deleteRoute('{{route['id']}}')"-->
                <a href="#" onclick="deleteRoute('{{route['id']}}')">
                    <i class="bi bi-x-circle-fill" style="font-size: 1.5rem; color: rgb(246, 21, 21);"></i>
                    
                </a><!--/button-->
<!--
                <img src="/public/icons/x-circle.svg" 
                    width="14" height="15" alt="{{ reference_data['current_language'].remove }}" class="text-success"/>

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-heart-eyes" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M11.315 10.014a.5.5 0 0 1 .548.736A4.498 4.498 0 0 1 7.965 13a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .548-.736h.005l.017.005.067.015.252.055c.215.046.515.108.857.169.693.124 1.522.242 2.152.242.63 0 1.46-.118 2.152-.242a26.58 26.58 0 0 0 1.109-.224l.067-.015.017-.004.005-.002zM4.756 4.566c.763-1.424 4.02-.12.952 3.434-4.496-1.596-2.35-4.298-.952-3.434zm6.488 0c1.398-.864 3.544 1.838-.952 3.434-3.067-3.554.19-4.858.952-3.434z"/></svg>
				
               
                  <i class="bi-x-circle" style="font-size: 2rem; color: rgb(234, 44, 44);"></i>

                  
                  <img src="/public/icons/bootstrap.svg" style="text-color:rgb(144, 107, 15)"  width="32" height="32">
-->
			 </td>

                    </tr>
             {% endfor %}

                    <tr><td class="text-center" colspan="7">    
                         <a href="#" onClick="showModal()"> <i class="bi bi-plus-circle-fill" style="font-size: 2.5rem; color: #40ad48;"></i></a>
                    </td></tr>
         </tbody>
     </table>
<hr/>
</div>
<div class="text-center heading-section">
    <button id='deletebutton' type="button" class="btn btn-danger  btn-lg" onclick="deleteActivity()">{{ reference_data['current_language'].remove }} {{ reference_data['current_language'].activity }}</button>

</div>





{% if activity is not none and activity is not undefined  %}


				{% else %}


				No journyes yet. Add your first!


				{% endif %}
			</div>

		</div>
		<!-- fh5co-blog-section -->

	</div>




{% endblock %}
