


{% extends "skala3ma-layout.html" %}

{% block topcontent %}

{% endblock %}


	{% block secondarycontent %}

	
    <div class="container">
		<!--div id="fh5co-blog-section" class="fh5co-section-gray"	-->
					<div class="row text-left heading-section animate-box">
						
						<h3>{{reference_data['current_language'].update_details}} </h3>
						<font color="red">{{ error_message }}</font>
                        <font color="darkgreen"><b>{{ subheader_message }}</b></font><br>
						{% if climber is not none  %}

						<form action="/updateuser">
                            
                            <div class="form-floating">
                                <input type="text" class="form-control mb-2" name="firstname" id="firstname" value="{{climber['firstname']}}">
                                <label for="firstname">{{reference_data['current_language'].firstname}}</label>
                            </div>
                          
						
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="lastname" name="lastname" value="{{climber['lastname']}}">
                                <label for="lastname">{{reference_data['current_language'].lastname}}</label>
                            </div>
                            
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="nick" name="nick" value="{{climber['nick']}}">
                                <label for="nick">{{reference_data['current_language'].nickname}}</label>
                            </div>

							{% if climber['email'] is none %}
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="email" name="email" size="40">
                                    <label for="email">Email:</label>
                                </div>
                            {% else %}
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="email" name="email" value="{{logged_email}}" readonly>
                                    <label for="email">{{reference_data['current_language'].email}}</label>
                                </div>
                            
                            {% endif %}

                            <div class="form-floating mb-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="F" value="F" name="sex" {% if climber['sex']=='F'%}checked{%endif%}>
                                <label class="form-check-label" for="F">{{reference_data['current_language'].woman}}</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="M" value="M" name="sex" {% if climber['sex']=='M'%}checked{%endif%}>
                                <label class="form-check-label" for="M">{{reference_data['current_language'].man}}</label>
                            </div>
                        </div>

							

                            <div class="form-floating mb-3">
                                <select class="form-select" name="category" id="category">
                                    {% for category in reference_data['categories'] %}
                                        <option value="{{category}}" size="20" {% if (category|string == climber['category']) %}selected{% endif %}>
                                            {{reference_data['categories'][category]}}
                                        </option>
                                    {% endfor %}
                                </select>
                                <label for="category">{{reference_data['current_language'].category}}</label>
                            </div>


                            <div class="form-floating mb-3">
                                <select class="form-select" name="club" id="club">
                                    <option value="--" size="20">{{reference_data['current_language'].choose}}</option>
                                    {% for club in reference_data['clubs'] %}
                                        <option value="{{ club }}" {% if reference_data['clubs'][club] == climber['club'] %}selected{% endif %} size="20">
                                            {{reference_data['clubs'][club]}}
                                        </option>
                                    {% endfor %}
                                    <option value="other" size="20">{{reference_data['current_language'].other}}</option>
                                </select>
                                <label for="club">{{reference_data['current_language'].club}}</label>
                            </div>

							<div class="form-floating mb-3">
                                <input type="text" class="form-control" id="otherclub" name="otherclub" size="40">
                                <label for="otherclub">Si autre club non répertorié lequel:</label>
                            </div>

                            <button type="submit" class="btn btn-primary">
                                {{reference_data['current_language'].submit}}
                            </button>
					</form>
<br>

						{% else %}
<a href="/competitionDashboard/{{competitionId}}">  <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> back</a><br>


						{% endif %}


					</div>


		<div class="container">
			<div class="row row-bottom-padded-md">


				{% if competitions is none  %}

				{% endif %}



{% if climber is not none and climber is not undefined  %}

				{% endif %}





{% if competition is not none and competition is not undefined  %}


<div class="container-fluid">
<table class="table thead-dark table-hover" >
         <thead><tr>
         <th data-width="250" data-field="Time Added" data-filter-control="input">Name</th>
         <th data-field="artist" data-filter-control="input">Sex</th>
         <th data-field="track" data-filter-control="input">Club</th>

         </tr>
         </thead>
    <tbody>
         {# here we iterate over every item in our list which we will pass from bar() #}
    				{% for climberId in competition['climbers'] %}

		 <tr><td>{{ competition['climbers'][climberId]['name'] }}</td>
					<td> {{ competition['climbers'][climberId]['sex'] }}</td> <td><i>{{competition['climbers'][climberId]['club'] }}</i></td>

                    </tr>
             {% endfor %}


         </tbody>
     </table>


</div>




				{%endif %}

{% if competitions is not none  %}





					{% for competitionId in competitions %}


<div class=" col-md-2 ">

						<div id='albumArt{{ loop.index }}' class="fh5co-blog animate-box">

							<a href="competitionDashboard/{{ competitionId }}">
							<div class="blog-text">
								<div class="prod-title">
									<h4>{{ competitions[competitionId]['name'] }}</h4>
									<span class="posted_by">{{ competitions[competitionId]['gym'] }}</span>
									<br>
									<span class="posted_by">{{ competitions[competitionId]['date'] }}</span>
									<!--span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span-->




								</div>
							</div>
								</a>
						</div>
					</div>

					 {% endfor %}





{% endif %}


			</div>
		</div>
	</div>

{% endblock %}