


{% extends "skala3ma-layout.html" %}

{% block topcontent %}

			<!--div class="container"-->
		<!--		<div class="row" style="background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.8)), url(public/images/group-of-people-1587927.jpg);  background-size: cover;">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">


					<br>	<h3>{{ subheader_message }}</h3>


			<h4>Below tracks are in your playlist but you never added a full album of the artist. These could be some gems!</h4>
</div>
				</div>
				-->
<!--/div-->

{% endblock %}


	{% block secondarycontent %}

	<div  staaayle="background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.9)), url(/public/images/pexels-vladimir-kudinov-36363-1.jpg);  background-size: cover;">

		<!--div id="fh5co-blog-section" class="fh5co-section-gray"	-->
					<div class="col-md-8 col-md-offset-2 text-left heading-section animate-box">
						<br>
						<h3>{{ subheader_message }} </h3>
						<font color="red">{{ error_message }}</font><br><br>
						{% if climber is not none  %}

						<form action="/updateuser">
							<label >Logged in as:</label><br> {{logged_name}}<br><br>
							<!--label for="fullname">Full name:</label><br> <input id="fullname" name="fullname" size="40" value="{{climber['fullname']}}"/><br><br-->
							<label for="firstname">Prenom:</label><br> <input id="firstname" name="firstname" size="40" value="{{climber['firstname']}}"/><br><br>
							<label for="lastname">Nom:</label><br> <input id="lastname" name="lastname" size="40" value="{{climber['lastname']}}"/><br><br>

							<label for="nick">Nick:</label><br> <input id="nick" name="nick" size="40" value="{{climber['nick']}}"/><br><br>

							{% if climber['email'] is none %}
							<label for="email">Email:</label><br> <input id="email" name="email" size="40" /><br><br>
							{% else %}
							<label for="email">Email:</label><br> {{logged_email}}<input id="email" name="email" size="40" value="{{logged_email}}" type="hidden" /><br><br>
							{% endif %}


							<input type="radio" id="F" value="F" name="sex" {% if climber['sex']=='F'%}checked{%endif%}>
							<label for="F">Femme</label>
							<input type="radio" id="M" value="M" name="sex" {% if climber['sex']=='M'%}checked{%endif%}>
							<label for="M">Homme</label>
							<br>
							<br>

							<label for="category">{{reference_data['current_language'].category}}:</label><br><select name="category" id="category">
							{% for category in reference_data['categories'] %}

							<option value="{{category}}" size="20"
							{% if (category|string  == climber['category']) %}selected{% endif %}

							>{{reference_data['categories'][category]}}</option>
							{% endfor %}
						</select><br><br>

							<label for="club">Club:</label><br><select name="club" id="club">
							<option value="--" size="20" >{{reference_data['current_language'].choose}}</option>
							{% for club in reference_data['clubs'] %}

							{% if reference_data['clubs'][club] == climber['club'] %}selected{% endif %}
							<option value="{{reference_data['clubs'][club]}}"
									{% if reference_data['clubs'][club] == climber['club'] %}selected{% endif %}
									size="20" >{{reference_data['clubs'][club]}}</option>
							{% endfor %}
							<option value="other" size="20" >Other</option>


							</select>
							<br><br>

							<label for="otherclub">Si autre club non répertorié lequel:</label><br> <input id="otherclub" name="otherclub" size="40" /><br><br>


<button >Sumbit</button>
					</form>
<br>

						{% else %}
<a href="/competitionDashboard/{{competitionId}}">  <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> back</a><br>


						{% endif %}


					</div>


		<div class="container">
			<div class="row row-bottom-padded-md">


				{% if competitions is none  %}
	<table class="table table-borderless thead-dark table-hover table-dark table-sm border-0" data-toggle="table" >
         <thead borderless><tr>
		 <th></th>
         <th data-width="250" data-field="TimeAdded" data-filter-control="input">Name</th>
         <th data-field="artist" data-filter-control="input">Description</th>
         <th data-field="Owner" data-filter-control="select">Owner</th>
         <th data-filter-control-placeholder>Followers</th>
		 <th data-field="trackcount" data-filter-control="select">Track count</th>

         </tr>
         </thead>
    <tbody borderless>
         {# here we iterate over every item in our list which we will pass from bar() #}
         {% for key in library['playlists-tracks'] %}


                <tr><td>
					{% if key['images']|length >0 %}

						{% if key['public']  %}
							<a href="playlist/{{key['id']}}"><img src="{{ key['images'][0]['url'] }}"  width="100"></a>
					 	{% else %}
							<a href="playlistDashboard?playlistId={{key['id']}}"><img src="{{ key['images'][0]['url'] }}"  width="100"></a>
						{% endif %}
					{% endif %}

					</td>
					<td>
						{% if key['public']  %}
							<a href="playlist/{{key['id']}}"><b>{{key['name']}} </b></a></td> <td><i>{{key['description']}}</i><br>
						<a href="https://open.spotify.com/playlist/{{key['id']}}" target="_blank">
								<img src="public/images/spotify-green-icon.png" width="20"></a></a>
						{% else %}
							<a href="playlistDashboard?playlistId={{key['id']}}"><b>{{key['name']}}</b></a></td> <td><i><br>{{key['description']}}</i></a>
						{% endif %}

					</td>
					<td><i>{{key['owner']['display_name']}} </i></td><td class="text-right"> {{key['followers']['total']}}</td>
					<td class="text-right"> {{key['tracks']['total']}}</td>
                    </tr>


         {% endfor %}
         </tbody>
     </table>


{% endif %}



{% if climber is not none and climber is not undefined  %}

				{% endif %}





{% if competition is not none and competition is not undefined  %}


<div class="container-fluid">
<table class="table thead-dark table-hover" >
         <thead><tr>
         <th data-width="250" data-field="Time Added" data-filter-control="input">Name</th>
         <th data-field="artist" data-filter-control="input">Sex</th>
         <th data-field="track" data-filter-control="input">Club</th>

         </tr>
         </thead>
    <tbody>
         {# here we iterate over every item in our list which we will pass from bar() #}
    				{% for climberId in competition['climbers'] %}

		 <tr><td>{{ competition['climbers'][climberId]['name'] }}</td>
					<td> {{ competition['climbers'][climberId]['sex'] }}</td> <td><i>{{competition['climbers'][climberId]['club'] }}</i></td>

                    </tr>
             {% endfor %}


         </tbody>
     </table>


</div>




				{%endif %}

{% if competitions is not none  %}





					{% for competitionId in competitions %}


<div class=" col-md-2 ">

						<div id='albumArt{{ loop.index }}' class="fh5co-blog animate-box"
							 onmouseover="playPreview('trackPreview{{ loop.index }}')"
							 onmouseleave="stopPreview('trackPreview{{ loop.index }}')">

							<a href="competitionDashboard/{{ competitionId }}">
							<div class="blog-text">
								<div class="prod-title">
									<h4>{{ competitions[competitionId]['name'] }}</h4>
									<span class="posted_by">{{ competitions[competitionId]['gym'] }}</span>
									<br>
									<span class="posted_by">{{ competitions[competitionId]['date'] }}</span>
									<!--span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span-->




								</div>
							</div>
								</a>
						</div>
					</div>

					 {% endfor %}





{% endif %}


			</div>
		</div>
		<!-- fh5co-blog-section -->

	</div>

{% endblock %}