


{% extends "layoutfsgt.html" %}

{% block topcontent %}


{% endblock %}


	{% block secondarycontent %}

	<div  >

		<!--div id="fh5co-blog-section" class="fh5co-section-gray"	-->
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">


						<br>Competition resultats
						<h3>{{ subheader_message }} </h3>

					</div>


		<div class="container">
			<div class="row row-bottom-padded-md">



{% if climber is not none and climber is not undefined  %}
<div class="container">
	<div class="row">
				Name {{ climber['name'] }}
	({{ climber['sex'] }} ) from <i>{{climber['club'] }}</i>



				{{ climber['routesClimbed'] }}

</div>
		<div class="row">
			<form target="/competitionDashboard/{{competitionId}}/updateRoutes">
<table style="width:100%"><tr>

					{% for i in range(100) %}
<td style="width:10%">

						<h3>	<a href="#" onclick="document.getElementById('route{{i}}').checked=!document.getElementById('route{{i}}').checked; return false;">
								 {{i}}</a>


								<input type="checkbox" id="route{{i}}" name="route{{i}}" value="{{i}}"
								{% if i in climber['routesClimbed'] %}checked{% endif %} ></h3>

</td>
	{% if i%10==9 %} </tr><tr> {% endif %}

</td>

					{%endfor%}
</tr>
			</table>
				<button>Submit</button>
				</form>

</div>
	</div>
				{% endif %}




{% if rankings is not none and rankings is not undefined %}

	<!-- first do club rankings -->
<h2>Classement club</h2>
<table  class="table thead-dark table-bordered table-hover "  id="classsment"   data-toggle="table">
         <thead><tr>
		 <th data-field="rank" data-sortable="True">Classement</th>
    	 <th data-width="350" data-sortable="true" >Prenom Nom</th>
         <th data-field="m" >Homme</th>
         <th data-field="f" >Femme</th>
		 <th data-field="mc" data-sortable="false">Homme classe</th>
         <th data-field="fc" data-sortable="false">Femme classe</th>

         <th data-field="total"  data-sortable="false">Points</th>

         </tr>
         </thead>
    <tbody>
         {# here we iterate over every item in our list which we will pass from bar() #}
		 {% for club in rankings['club'] %}

		 {% if loop.index == 1 %}
		 <tr style="background: #CFC">
		{% elif loop.index == 2 %}
			 <tr style="background: #AEA">
		{% elif loop.index == 3 %}
			 <tr style="background: #9C9">
		{% else  %}
			 <tr >
		{% endif  %}
			<td>{{ club['rank']}}</td>
			 <td>	<b>{{ club['name'] }}</b></a></td>

			 <td><i>{{club['M'] }}</i></td>
			 <td><i> {{club['F'] }}   </i></td>
			 <td><i>{{club['MC'] }}</i></td>
			 <td><i> {{club['FC'] }}   </i></td>
			 <td><i> {{club['TOTAL'] }}   </i></td>

			        </tr>
             {% endfor %}


         </tbody>
     </table>
<br><br>




				{% for key in ['2F', '1F', '0F', '2M', '1M', '0M', 'F', 'M'] %}
				<h2>
				{% if key == '2F' %} Classement Diamante Femme {% endif %}
				{% if key == '1F' %} Classement Titane Femme {% endif %}
				{% if key == '0F' %} Classement Senior Femme {% endif %}
				{% if key == '2M' %} Classement Diamante Homme {% endif %}
				{% if key == '1M' %} Classement Titane Homme {% endif %}
				{% if key == '0M' %} Classement Senior Homme {% endif %}
				{% if key == 'M' %} Classement Scratch Homme {% endif %}
				{% if key == 'F' %} Classement Scratch Femme {% endif %}

</h2>

<table class="table thead-dark table-hover"  data-toggle="table">
         <thead><tr>
		 <th data-field="rank" data-filter-control="input" data-sortable="True">Classement</th>
    	 <th data-width="250" data-field="Time Added" data-filter-control="input">Prenom Nom</th>
         <th data-field="track" data-sortable="True">Club</th>
         <th data-field="category" data-sortable="false">Catégorie</th>
         <th data-field="routes" data-sortable="false">Voies</th>
		 <th data-field="points" data-filter-control="input" data-sortable="True">Points</th>

         </tr>
         </thead>
    <tbody>
         {# here we iterate over every item in our list which we will pass from bar() #}
    				{% for climber in rankings[key] %}

		 {% if loop.index == 1 %}
		 <tr style="background: #CFC">
		{% elif loop.index == 2 %}
			 <tr style="background: #AEA">
		{% elif loop.index == 3 %}
			 <tr style="background: #9C9">
		{% else  %}
			 <tr >
		{% endif  %}
			<td>{{loop.index}}</td>
			 <td>	<b>{{ climber['name'] }}</b></a></td>

			 <td><i>{{climber['club'] }}</i></td>
			 <td><i>  {{ reference_data['categories'][climber['category']] }}  </i></td>
			 <td>{{ climber['routesClimbed']|length }}  </i></td>
			 <td>{{ climber['score'] }}  </td>
			        </tr>
             {% endfor %}


         </tbody>
     </table>
<br><br>
			{% endfor %}
				{% endif %} <!-- if rankings -->





{% if competitions is not none  %}





					{% for competitionId in competitions %}


<div class=" col-md-2 ">

						<div id='albumArt{{ loop.index }}' class="fh5co-blog animate-box"
							>

							<a href="competitionDashboard/{{ competitionId }}">
							<div class="blog-text">
								<div class="prod-title">
									<h4>{{ competitions[competitionId]['name'] }}</h4>
									<span class="posted_by">{{ competitions[competitionId]['gym'] }}</span>
									<br>
									<span class="posted_by">{{ competitions[competitionId]['date'] }}</span>
									<!--span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span-->




								</div>
							</div>
								</a>
						</div>
					</div>

					 {% endfor %}





{% endif %}


			</div>
		</div>
		<!-- fh5co-blog-section -->

	</div>

{% endblock %}