


{% extends "skala3ma-layout.html" %}

{% block topcontent %}

{% endblock %}


	{% block secondarycontent %}
    
	<!--script src="https://cdn.jsdelivr.net/npm/apexcharts"></script-->


		<!--styaaale="background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url(/public/images/pexels-vladimir-kudinov-36363-1.jpg);  background-size: cover;"-->

		{% include "competition-menu.html" %}


<div class="container">
    <div class="text-center heading-section">
   
			{% if rankings is not none and rankings is not undefined %}
	
						<br> 

							<h3>{{competition['name'] }} - {{ competition['date'] | strftime(format='short')}}</h3>

			{% else %}
            <br><br>
							<h3>{{competition['name'] }} - {{ competition['date'] | strftime(format='short')}}</h3>
						<br><br>
						<h3> {{ reference_data['current_language'].competition_results }} <br>
						<br>{{ reference_data['current_language'].not_available }}</h3>
						{{ reference_data['current_language'].competition_status }}:  {{ reference_data['current_language']['competition_status_'~competition['status']] }}
			{% endif %}
    </div>
</div>


{% if rankings is not none and rankings is not undefined %}

<div class="container">
    <div class="text-center">


				<!--div>
					<div style="display: flex;" id="chartMF"></div>
                    <div style="display: flex;" id="chartRoutes"></div>
                    
                    
                </div-->
                    <div class="">
                        <div  id="myChart3"></div>
                    </div>
                    <br><br>
                    <div class="">
                   
						<div id="myChart2"></div>
				  </div>
				  


				
<script>
	const ctx2 = document.getElementById('myChart2');
                const url2 = '/api1/competition_results/{{competition['id']}}/stats_points_per_difficulty';
                const url = '/api1/competition_results/{{competition['id']}}/stats_repeats_per_route';
               

                async function getData() {
                  try {
                  
                    const rangejsondata = await apiFetchJson(url2);
                    processDataRange(rangejsondata);
                  } catch (err) {
                    console.error('Failed to load competition stats', err);
                  }

                  try {
                    const jsondata = await apiFetchJson(url);
                    processData2(jsondata);
                    
                  } catch (err) {
                    console.error('Failed to load competition stats', err);
                  }
                }
                
            
                getData();
                //console.log('lll');
            
                
	
// graph with all routes for all categories - Route Repeats by Sex/Category
	var chart2options = {
		colors: ['#1B998B', '#4CAF50', '#C5D86D', '#FF9800', '#FEC029', '#F9E83E'],
        series: [{
          name: 'M0',
          data: []
        }, {
          name: 'M1',
          data: []
        }, {
          name: 'M2',
          data: []
        }, {
          name: 'F0',
          data: []
        }, {
          name: 'F1',
          data: []
        }, {
          name: 'F2',
          data: []
        }],
          chart: {
          type: 'bar',
          height: 800,
          stacked: true,
          toolbar: {
            show: true
          },
          zoom: {
            enabled: true
          }
        },
        responsive: [{
          breakpoint: 480,
          options: {
            legend: {
              position: 'bottom',
              offsetX: -10,
              offsetY: 0
            }
          }
        }],
        plotOptions: {
          bar: {
            horizontal: true,
            borderRadius: 2,
            dataLabels: {
              position: 'top'
            }
          },
        },
        dataLabels: {
          enabled: true,
          style: {
            fontSize: '11px',
            colors: ['#333']
          }
        },
        xaxis: {
          title: { 
            text: 'Number of Repeats',
            style: {
              fontSize: '14px',
              fontWeight: 600
            }
          },
          labels: { 
            style: { fontSize: '12px' } 
          },
          categories: [],
        },
        yaxis: {
          title: { 
            text: 'Route (Number | Line | Grade)',
            style: {
              fontSize: '11px',
              fontWeight: 600
            }
          },
          categories: [],
          labels: { 
            formatter: function (value, opts) {
                
                return value ;
            },
            show: true,
            align: 'left',
            minWidth: 0,
            maxWidth: 250,
            style: { 
              fontSize: '10px',
              cssClass: 'apexcharts-yaxis-label'
            },
          
          },
          axisBorder: {
            show: true
          },
          axisTicks: {
            show: true
          }
        },
        legend: {
          position: 'top',
          horizontalAlign: 'left',
          offsetY: 0,
		  onItemHover: {
      		highlightDataSeries: true
    		},
        },
        fill: {
          opacity: 0.9
        },
		tooltip: {
          shared: false,
          x: {
            formatter: function (val, opts) {
              // Display the y-axis category (route info) in tooltip
              // For horizontal bar charts, the category is stored in w.config.yaxis[0].categories
              if (opts && opts.w && opts.w.config && opts.w.config.yaxis && opts.w.config.yaxis[0]) {
                var categories = opts.w.config.yaxis[0].categories;
                if (categories && categories[opts.dataPointIndex]) {
                  return categories[opts.dataPointIndex];
                }
              }
              return val;
            }
          },
          y: {
            formatter: function (val) {
              return val + " repeats"
            }
          }
        },
        };

        var chart2 = new ApexCharts(document.getElementById("myChart2"), chart2options);
        chart2.render();
      





	function processData(fullresponse)
	{
		//console.log('here');
		//console.log(fullresponse['results']['F']['0']);
		chart.updateSeries([{
          name: 'Feminin',
          //data: fullresponse['results']['F']['0'],
		  data: [{
      x: 'category A',
      y: 10
    }, {
      x: 'category B',
      y: 18
    }, {
      x: 'category C',
      y: 13
    }]
        }])

	}



	function processData2(fullresponse)
	{
        ylabels = fullresponse['y_labels'];
        chart2.updateOptions({
            xaxis: {
                categories: ylabels
            },
            
        });
		chart2.updateSeries(fullresponse['chartdata']);
	}


	function processDataRange(fullresponse)
	{
		//console.log('here3');
		console.log(fullresponse['rangeData']);
		
        options3.series[0] = fullresponse['rangeData'][0];
        options3.series[1] = fullresponse['rangeData'][1];
        
		var chart3 = new ApexCharts(document.getElementById("myChart3"), options3);
        
        //chart3.updateSeries(fullresponse['rangeData']);
            //var chart3 = new ApexCharts(document.querySelector("#myChart3"), options3);
            
        chart3.render();

	}


    var optionsRouteschart = {
          series: [12],
          chart: {
          height: 250,
          type: 'radialBar',
        },
        plotOptions: {
          radialBar: {
            dataLabels: {
                show: true,
              name: {
                fontSize: '24px',
              },
              value: {
                fontSize: '26px',
                formatter: function (val) {
                    return val 
                  }
              },
              total: {
                show: true,
                label: 'Total',
                formatter: function (w) {
                    return w.globals.seriesTotals.reduce((a, b) => {
                      return a + b
                    }, 0) 
                  }
              }
            }
          }
        },
        labels: ['Apples', 'Oranges', "soooo"],
       };

      



// top chart with men and women
var options3 = {
        //labels: ['Femme Senior', 'Femme Titane'],
		//colors: [ '#FF9800','#4CAF50'],
        colors: [ '#DDDDDD','#eeeeee'],
        
    series:  [
    {
      
      
        "data": [
        {
          "x": "5a", 
          "y": [
            121, 
            379
          ]
        }, 
        {
          "x": "5b", 
          "y": [
            400, 
            650
          ]
        }, 
        {
          "x": "7a", 
          "y": [
            890, 
            1000
          ]
        }
      ], 
      "name": "Homme"
    }, 
    {
      "data": [
        {
          "x": "6b", 
          "y": [
            420,
            790, 
            900,
            1000
          ]
        }, 
        {
          "x": "6b", 
          "y": [
            190, 
            191
          ]
        }, 
        {
          "x": "7a", 
          "y": [
            390, 
            600
          ]
        }
      ], 
      "name": "Femme"
    }
  ], 
  
       
        chart: {
          height: 650,
          
          //type: 'rangeBar',
          type : 'rangeBar',
          //stacked: true,
        },
        /*dataLabels: {
            enabled: true,
            //enabledOnSeries: undefined,
            
            textAnchor: 'start',
            position: 'center',
            offsetX: -200,
            hideOverflowingLabels: false,
            dropShadow: {
                enabled: false
            },
            style: {
                colors: ['#FF0000'],
            },
          
        
            custom: function({series, seriesIndex, dataPointIndex, w}) {
                var data = w.globals.initialSeries[seriesIndex].data[dataPointIndex];    
                return 'customr data label'
                }
        },*/
        plotOptions: {
            bar: {
            horizontal: true,
            dataLabels: {
            position: 'top',
            //columnWidth: '600px',
            rangeBarOverlap: true,
            isDumbbell: true,
            },
            },
        },
        tooltip: {
            enabled: false,
            enabledOnSeries: undefined,
            shared: false,
            
            /*custom: function({series, seriesIndex, dataPointIndex, w}) {
                //var data = w.globals.initialSeries[seriesIndex].data[dataPointIndex];    
                const goals =
              options3.series[seriesIndex].data[dataPointIndex]
                .goals
        
            var    t = '<div class="arrow_box"><span> ' 
            
            if (goals && goals.length) {
                    t = t+ goals.map(goal => goal.value).sort((a,b) => a-b).join(', ');
                //return ` ${val} / ${t}`;
                }
            //console.log('t: '+t);   
            return t + '</span>' +'</div>'
            },*/

            x: {
                show: false,
                format: 'dd MMM',
                formatter: undefined,
                },
            y: {
                formatter: function(value, opts) {
                    console.log(value)
                    const goals = w.config.series[seriesIndex].data[dataPointIndex].goals;
                    let t = '';
                    if (goals && goals.length) {
                        t = goals.map(goal => goal.value).sort((a, b) => a - b).join(', ');
                        return `${value} / Goals: ${t}`;
                    }
                    return value;
                },
                title: {
                    formatter: (seriesName) => seriesName+ ' 999 ',
                },
            },    
        },
   
        dataLabels: {
          enabled: true,

          textAnchor: 'start',
            position: 'center',
            offsetX: -400,
            hideOverflowingLabels: false,
            dropShadow: {
                enabled: false
            },
            style: {
                colors: ['#33aa33'],
            },
          


            formatter: function(val, opts) {
              var a = val[0]
              var b = val[1]
              var diff = val[1] - val[0]

              console.log(opts)
             console.log(opts.config.series[opts.seriesIndex])
             const goals = opts.config.series[opts.seriesIndex].data[opts.dataPointIndex].goals;
                    let t = '';
                    if (goals && goals.length) {
                        t = goals.map(goal => goal.value).sort((a, b) => a - b).join('  ,   ');
                        //return `${value} / Goals: ${t}`;
                    }
                    //return value;

            return  '  '+ t + ' '
           
          },
          /*formatter: function({series, seriesIndex, dataPointIndex, w}) {
            //var a = val[0]
            //var b = val[1]
            //var diff = val[1] - val[0]

            const goals = w.config.series[seriesIndex].data[dataPointIndex].goals;
                    let t = '';
                    if (goals && goals.length) {
                        t = goals.map(goal => goal.value).sort((a, b) => a - b).join(', ');
                        return `${value} / Goals: ${t}`;
                    }
                    //return value;

            return  t
           
          }*/
        },
        /*fill: {
          type: 'gradient',
          gradient: {
            shade: 'light',
            type: 'vertical',
            shadeIntensity: 0.25,
            gradientToColors: undefined,
            inverseColors: true,
            opacityFrom: 1,
            opacityTo: 1,
            stops: [50, 0, 100, 100]
          }
        },*/
        
        xaxis: {
          type: 'integer',
          //categories: ['4', '5a', '5b', '6a', '6b', '7a', '7b', '8a', '8b', '9a', '9b', '10a', '10b'],
          tickAmount: 20,
      
        },
        grid: {
          xaxis: {
            lines: {
              show: true
            }
          }
        },
        legend: {
          position: 'top'
        }
    };




    




      
				  </script>
			  




			</div>
		</div>
		<!-- fh5co-blog-section -->

	</div>


	{% endif %}

{% endblock %}