					<!-- START #fh5co-menu-wrap -->
					<div class="nav">



<ul class="nav justify-content-center ">

    <a href="/competitionDashboard"  class="nav-link sf-menu2"><i class="bi bi-grid-fill" ></i>
        Gallery</a></li>

        <a href="/competitionCalendar?view=multiMonthFourMonth"  class="nav-link sf-menu2"><i class="bi bi-calendar-fill" ></i>
            Calendar</a></li>

            <a href="/competitionCalendar?view=timeGridFourDay"  class="nav-link sf-menu2"><i class="bi bi-list-columns-reverse" ></i>
                List</a></li>
					
                                


						{% if username is defined %}

							<!--li><a href="/progresstest">Progress</a></li-->



								{% endif %}
						



						</ul>

</div>
					<br>