


{% extends "skala3ma-layout.html" %}

{% block topcontent %}

{% endblock %}

	{% block secondarycontent %}


   


		{% include "competition-menu.html" %}

		<div class="container-fluid">	
            <div class="text-center heading-section">


                <br>
                <h3>
                        {{competition['name'] }} - {{ competition['date'] | strftime(format='short') }}</h3>
             
                </div>

            <div class="row align-items-md-stretch">	
           
                <div class="row align-items-md-stretch">	
                    <div class="col">
                        <div class="row">
                            <!-- competiton poster -->
                            <div class="col-md-6 text-center">
                                <a href="#" onclick="showFullscreen('{{ url_for('app_ui.image_route', img_id=competition['id']) }}', '{{ competition['name'] }} - {{ competition['date']| strftime(format='short') }}')">
                                    <img src="{{ url_for('app_ui.image_route', img_id=competition['id']) }}" width="65%" class=""><br><br>
                                </a>
                            </div>
                            <!-- qr code -->
                            <div class="col-md-6 text-center">
                                <img src="/competition/{{ competition['id'] }}/qrcode" width="400"><br><br>

                                <!--a href="https://calendar.google.com/calendar/r/eventedit?text='{{competition['name'] }}'&dates='{{ competition['date'] }}'&details='{{competition['name'] }}'&location={event location}" target="_blank" class="btn btn-primary">Add to Google Calendar</a-->

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">   </div>
                            <div class="col">
                                    
                                <pre style="font-family: Arial, Helvetica, sans-serif; white-space: pre-wrap; background-color: #f9f9f9; padding: 10px; border-radius: 5px;">{{ competition['instructions'] }}
                                </pre>
                            </div>
                            <div class="col-2">   </div>
                        </div>
                    </div>
                </div>


                <div class="table-responsive ">
			



			</div>
		</div>
        </div>
		<!-- fh5co-blog-section -->


{% endblock %}