


{% extends "layoutfsgt.html" %}

{% block topcontent %}

{% endblock %}


	{% block secondarycontent %}


	<div style="background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url(/public/images/pexels-vladimir-kudinov-36363-1.jpg);  background-size: cover;">
		{% include "fsgt-competition-menu.html" %}


		{% if session is defined and session['name'] is defined %}


<div align="center">
	<br><br>
<br><br>

		<h3>You don't have a permission to do that</h3>
<br><br>
<br><br>

</div>

{% else %}


<div align="center">
	<br><br>
	<a href="/google"><img id="googlelogin"
            src="/public/images/googlelogin.jpeg" height="60"
            alt="Facebook"></a>

	<br><br>
	<br><br>
	<a href="/facebook/"><img id="facebooklogin	"
            src="/public/images/facebooklogin.png" height="60"
            alt="Facebook">
         </a>


	<br><br>
	<br><br>
	<br><br>
	<br><br>
</div>

         {% endif %}

{% endblock %}