
<div class="nav">



<ul class="nav justify-content-center ">

    <li><a href="/competitionDashboard"  class="nav-link sf-menu2"><i class="bi bi-grid-fill" ></i>
        {{ reference_data['current_language'].Gallery }}</a></li>

        <li> <a href="/competitionCalendar?view=multiMonthFourMonth"  class="nav-link sf-menu2"><i class="bi bi-calendar-week-fill" ></i>
            {{ reference_data['current_language'].Calendar }}</a></li>

            <li>     <a href="/competitionCalendar?view=timeGridFourDay"  class="nav-link sf-menu2"><i class="bi bi-border-width" ></i>
                {{ reference_data['current_language'].list }}</a></li>
					
                                


						{% if username is defined %}

							<!--li><a href="/progresstest">Progress</a></li-->



								{% endif %}
</ul>

</div>