


{% extends "skala3ma-layout.html" %}

{% block topcontent %}


{% endblock %}


	{% block secondarycontent %}

	<div name='bbb'>

		{% include "skala3ma-menu.html" %}

			<div class="text-center heading-section">
						<br>
				
				    <h3  class="display-2">{{ reference_data['current_language'].competitions }}
					<select 
                        style="width:200px; border-radius: 5px; font-size: 22px; border-color: #5a5a5a	" onchange="document.location.href='/competitions/year/'+this.value+''">
						name="competition_year">
						<!--option name="all" {% if year=="Latest" %} selected {% endif %}>Latest</option-->		
						<option name="2023" value="2023" {% if year=="2023" %} selected {%endif %}>2023-2024</option>
						<option name="2022" value="2022" {% if year=="2022" %} selected {%endif %}>2022-2023</option>
						<option name="2021" value="2021" {% if year=="2021" %} selected {%endif %}>2021-2022</option>
	
                    </select>
                    </h3>

						{% if can_create_competition is true %}
							<button type="button" class="btn btn-success btn-md" 
                                onclick='location.href="/newCompetition"'>{{reference_data['current_language'].add}}</button>

						{% endif %}

			</div>

		<div class="container">
		<div class="row row-bottom-padded-md">

					{% for competitionId in competitions %}


<div class=" col-lg-3 " >

						<div id='albumArt{{ loop.index }}' class="fh5co-blog text-center">

							<a href="/competitionDetails/{{ competitionId }}">
							<div class="blog-text" >
								<div class="AAprod-title">
									<h3>{{ competitions[competitionId]['name'] }}<br>
										{{ competitions[competitionId]['date'] }}</h3>

                                      
									<span class="posted_by">{{ competitions[competitionId]['gym'] }}<br>
                                    <!--    {{ reference_data['current_language']['competition_type_'~competitions[competitionId]['competition_type']] }}-->

                                    </span>
									<br>
									<img src="{{ url_for('app_ui.image_route', img_id=competitionId) }}" width="200"><br><br>
									<span class="posted_by">{{ reference_data['current_language']['competition_status_'~competitions[competitionId]['status']] }}
										{% if user['id'] in competitions[competitionId]['climbers'] %}</span><br>
										<span class="posted_by"><i class="icon-thumbs-up"></i>
 {{ reference_data['current_language'].registered }}</span>
										{% endif %}
									<!--span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span-->


								</div>
							</div>
								</a>
						</div>
					</div>

					 {% endfor %}

				</div>




			</div>
		</div>
		<!-- fh5co-blog-section -->

	</div>

{% endblock %}