


{% extends "skala3ma-layout.html" %}

{% block topcontent %}

{% endblock %}

	{% block secondarycontent %}

	<div name='bbb'>

		{% include "skala3ma-menu.html" %}

		<!--div id="fh5co-blog-section" class="fh5co-section-gray"	-->
					<div class="text-center heading-section animate-box">
						<br>
				<h3>{{competition['name'] }} - {{ competition['date']}} <br>
				{{competition['gym']}}</h3>
				 	 {{ reference_data['current_language']['competition_status_'~competition['status']] }}
					</div>

		<div class="container">
			<div class="row row-bottom-padded-md">


{% if competition is not none and competition is not undefined  %}


<form action="/competition_admin/{{competition['id']}}" method="POST">

<div class="container-fluid">

	<label for="competition_name">{{ reference_data['current_language'].nazwa }}:</label>
	<input name="competition_name" size="40" value="{{competition['name']}}" id="competition_name"/>
	<input name="competition_date" size="30" type="date" id="competition_date" value="{{competition['date']}}"/>

	<select name="competition_routes" id="default_routes">
		{% for route in all_routes %}
			<option name="id" value="{{all_routes[route]['id']}}" {% if all_routes[route]['id'] == competition['routesid'] %} selected {% endif %}  >{{all_routes[route]['name']}} </option>
		{% endfor %}
	</select>
	<button name="competition_update_button" value="competition_update_button">{{ reference_data['current_language'].save}}</button>

	<br><br>


	<label for="competition_status">{{ reference_data['current_language'].competition_status}}:</label>
	<select name="competition_status" id="competition_status">
							<option value="choose" size="20" ></option>

		{% for competition_status in reference_data['competition_status'] %}

							<option value="{{reference_data['competition_status'][competition_status]}}" size="20" >{{competition_status}}</option>
	{% endfor %}

							</select>&nbsp;&nbsp;&nbsp;&nbsp;


	<button name="update_status" value="update_status">{{ reference_data['current_language'].save}}</button>


<br><br>
	<label for="permissioned_user">{{ reference_data['current_language'].user}}:</label>
	<select name="permissioned_user" id="permissioned_user">
							<option value="" size="20" ></option>

		{% for email in user_list %}

							<option value="{{email}}" size="20" >{{email}}</option>
	{% endfor %}

							</select>&nbsp;&nbsp;&nbsp;&nbsp;


	<button name="permission_admin_user" value="permission_admin_user">{{ reference_data['current_language'].addadminuser}}</button>

	&nbsp;&nbsp;
	<button name="permission_scorer_user" value="permission_scorer_user">{{ reference_data['current_language'].addscoreruser}}</button>

<br><br>




<table class="table thead-dark table-hover" >
         <thead><tr>
         <th data-width="250" data-field="Time Added" data-filter-control="input">{{ reference_data['current_language'].name }}</th>
         <th data-field="artist" data-filter-control="input">{{ reference_data['current_language'].malefemale }}</th>
         <th data-field="track" data-filter-control="input">{{ reference_data['current_language'].club }}</th>
<th data-field="category" data-filter-control="input">{{ reference_data['current_language'].category }}</th>
<th data-field="category" data-filter-control="input">{{ reference_data['current_language'].email }}</th>
			 <th>{{reference_data['current_language'].action}}</th>
         </tr>
         </thead>
    <tbody>
         {# here we iterate over every item in our list which we will pass from bar() #}
    				{% for climberId in competition['climbers'] %}

		 <tr><td>{{ competition['climbers'][climberId]['name'] }}</td>
					<td> {{ competition['climbers'][climberId]['sex'] }}</td>
			 <td><i>{{competition['climbers'][climberId]['club'] }}</i></td>
			 <td><i>{{reference_data['categories'][ competition['climbers'][climberId]['category']] }}</i></td>
 <td><i>{{competition['climbers'][climberId]['email'] }}</i></td>
			 <td>
				<button name="remove_climber" value="{{ competition['climbers'][climberId]['id'] }}">{{ reference_data['current_language'].remove}}</button>

			 </td>

                    </tr>
             {% endfor %}


         </tbody>
     </table>


</div>


</form>




<table class="table thead-dark table-hover"  id="entrytable">
         <thead><tr>
         <th data-width="250"  data-filter-control="input">{{ reference_data['current_language'].name }}</th>
         <th data-field="artist" data-sortable="True">{{ reference_data['current_language'].malefemale }}</th>
         <th data-field="track" data-sortable="True">{{ reference_data['current_language'].club }}</th>
         <th data-field="category" data-sortable="True">{{ reference_data['current_language'].category }}</th>
         <th data-field="routes" data-filter-control="input">{{ reference_data['current_language'].routes_climbed }}</th>
		 <th data-field="points" data-filter-control="input" data-sortable="True">{{ reference_data['current_language'].points }}</th>
		 <th data-field="rank" data-filter-control="input" data-sortable="True">{{ reference_data['current_language'].rank }}</th>

         </tr>
         </thead>
    <tbody>
         {# here we iterate over every item in our list which we will pass from bar() #}
		 {% for climberId in competition['climbers'] %}
		<tr
		 {% if (competition['climbers'][climberId]['rank'] == 1) %}
		     style="background: #CFC">
		{% elif competition['climbers'][climberId]['rank'] == 2 %}
			 style="background: #AEA">
		{% elif competition['climbers'][climberId]['rank'] == 3 %}
			 style="background: #9C9">
		{% else  %}
			 style="background: #EEE">
		{% endif  %}

			 <td><a href="/competitionRoutesEntry/{{ competitionId }}/climber/{{ climberId}}"><b>{{ competition['climbers'][climberId]['name'] }}</b></a></td>
					<td> {{ competition['climbers'][climberId]['sex'] }}</td>
			 <td><i>{{competition['climbers'][climberId]['club'] }}</i></td>
			 <td><i>  {{ reference_data['categories'][competition['climbers'][climberId]['category']] }}  </i></td>
			 <td><i>
				 <a href="/competitionRoutesEntry/{{ competitionId }}/climber/{{ climberId}}" alt="Click to edit">
				 {{ competition['climbers'][climberId]['routesClimbed']}}  --
				 {{ competition['climbers'][climberId]['routesClimbed']|length }}  </a></td>
			 <td>{{ competition['climbers'][climberId]['score'] }}  </td>
			 <td>
				 <!--font size="+{{ 5-competition['climbers'][climberId]['rank'] }}"-->
				 <b>{{ competition['climbers'][climberId]['rank'] }}</b>
				 <!--/font-->

			 </td>
		 </tr>
		 {% endfor %}


         </tbody>
     </table>


				{%endif %}

			</div>

		</div>
		<!-- fh5co-blog-section -->

	</div>

{% endblock %}