
<!-- page to register @fsgtapp.route('/competitionDashboard/<competitionId>/register')
 -->

{% extends "layoutfsgt.html" %}

{% block topcontent %}

			<!--div class="container"-->
		<!--		<div class="row" style="background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.8)), url(public/images/group-of-people-1587927.jpg);  background-size: cover;">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">


					<br>	<h3>{{ subheader_message }}</h3>


			<h4>Below tracks are in your playlist but you never added a full album of the artist. These could be some gems!</h4>
</div>
				</div>
				-->
<!--/div-->

{% endblock %}


	{% block secondarycontent %}

	<div>
		<!--style="background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.9)), url(/public/images/pexels-vladimir-kudinov-36363-1.jpg);  background-size: cover;"-->
	{% include "fsgt-competition-menu.html" %}

		<!--div id="fh5co-blog-section" class="fh5co-section-gray"	-->
					<div class="col-md-8 col-md-offset-2 text-left heading-section animate-box">
						<br>
						<h3>{{ reference_data['current_language'].register }} - {{ competition['name']}} - {{ competition['date']}}</h3>
						{% if climber is  none  %}

						<form action="/competitionDashboard/{{competitionId}}/register">
							<!--label for="name">Name:</--label><br> <input id="name" name="name" size="40" value="{{logged_name}}"/><br><br-->
							<label for="firstname">Prenom:</label><br> <input id="firstname" name="firstname" size="40" value="{{climber['firstname']}}"/><br><br>
							<label for="lastname">Nom:</label><br> <input id="lastname" name="lastname" size="40" value="{{climber['lastname']}}"/><br><br>

							{% if climber['email'] is none or logged_email is none %}
							<label for="email">Email:</label><br> <input id="email" name="email" size="40" /><br><br>
							{% else %}
							<label for="email">Email:</label><br> {{logged_email}}<input id="email" name="email" size="40" value="{{logged_email}}" type="hidden" /><br><br>
							{% endif %}


							<input type="radio" id="F" value="F" name="sex" {% if climber['sex']=='F'%}checked{%endif%}>
							<label for="F">Femme</label>
							<input type="radio" id="M" value="M" name="sex" {% if climber['sex']=='M'%}checked{%endif%}>
							<label for="M">Homme</label>


							<br>
							<br>
							<label for="category">Category:</label><br><select name="category" id="category">
							{% for category in reference_data['categories'] %}
							{{category}}
							<option value="{{category}}" size="20" >{{reference_data['categories'][category]}}</option>
							{% endfor %}
						</select><br><br>

							<label for="club">Club:</label><br><select name="club" id="club">
							<option value="--" size="20" >Choose</option>
							{% for club in reference_data['clubs'] %}

							{% if reference_data['clubs'][club] == climber['club'] %}selected{% endif %}
							<option value="{{reference_data['clubs'][club]}}"
									{% if reference_data['clubs'][club] == climber['club'] %}selected{% endif %}
									size="20" >{{reference_data['clubs'][club]}}</option>
							{% endfor %}
							<option value="other" size="20" >Other</option>


							</select>
							<br><br>

							<label for="otherclub">Si autre club non répertorié lequel:</label><br> <input id="otherclub" name="otherclub" size="40" /><br><br>


<button >Sumbit</button>
					</form>


						{% else %}
<!-- climber is null here -->
						{% endif %}


					</div>


		<div class="container">
			<div class="row row-bottom-padded-md">







			</div>
		</div>
		<!-- fh5co-blog-section -->

	</div>

{% endblock %}