
<!-- page to register @fsgtapp.route('/competitionDashboard/<competitionId>/register')
 -->

{% extends "skala3ma-layout.html" %}

{% block topcontent %}

			<!--div class="container"-->
		<!--		<div class="row" style="background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.8)), url(public/images/group-of-people-1587927.jpg);  background-size: cover;">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">


					<br>	<h3>{{ subheader_message }}</h3>


			<h4>Below tracks are in your playlist but you never added a full album of the artist. These could be some gems!</h4>
</div>
				</div>
				-->
<!--/div-->

{% endblock %}


	{% block secondarycontent %}

	<div>
		<!--style="background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.9)), url(/public/images/pexels-vladimir-kudinov-36363-1.jpg);  background-size: cover;"-->
	    {% include "skala3ma-menu.html" %}
        <div class="container">
		    <!--div id="fh5co-blog-section" class="fh5co-section-gray"	-->
					<div class=" text-left heading-section animate-box">
						<br>
						<h3>{{ reference_data['current_language'].register }} - {{ competition['name']}} - {{ competition['date']}}</h3>
						<font color="red">{{ reference_data['current_language'][error_code] }}</font>
						{% if climber is  none and not error_code|length %}

						<form action="/competitionDashboard/{{competitionId}}/register">
							<!--label for="name">Name:</--label><br> <input id="name" name="name" size="40" value="{{logged_name}}"/><br><br-->
							<label for="firstname">{{ reference_data['current_language'].firstname}}</label><br> <input id="firstname" name="firstname" size="40" value="{{user['firstname']}}" required/><br><br>
							<label for="lastname">{{ reference_data['current_language'].lastname}}</label><br> <input id="lastname" name="lastname" size="40" value="{{user['lastname']}}"/><br><br>

							{% if climber['email'] is none or logged_email is none %}
							<label for="email">Email:</label><br> <input id="email" name="email" size="40" required /><br><br>
							{% else %}
							<label for="email">Email:</label><br> {{logged_email}}<input id="email" name="email" size="40" value="{{logged_email}}" type="hidden" /><br><br>
							{% endif %}


							<input type="radio" id="F" value="F" name="sex" {% if user['sex']=='F'%}checked{%endif%} required>
							<label for="F">{{ reference_data['current_language'].women}}</label>
							<input type="radio" id="M" value="M" name="sex" {% if user['sex']=='M'%}checked{%endif%} required>
							<label for="M">{{ reference_data['current_language'].men}}</label>


							<br>
							<br>
							<label for="category">{{ reference_data['current_language'].category}}:</label><br>
							<select name="category" id="category">
							{% for category in reference_data['categories'] %}
							
							<!-- Print the current category value in the loop and the user's category for debugging -->
							<p>Loop Category: {{ category }}</p>
							<p>User Category: {{ user['category'] }}</p>
							
							<option value={{category}} size="20"
								{% if (category|string == user['category']|string) %}selected  
								{{ "Selected category: " ~ category }} 
								{% endif %}
							>{{reference_data['categories'][category]}}</option>
	
							
							
							{% endfor %}
						</select><br><br>

							<label for="club">{{ reference_data['current_language'].club}}:</label><br><select name="club" id="club">
							<option value="--" size="20" >{{ reference_data['current_language'].choose}}</option>
							{% for club in reference_data['clubs'] %}

							{% if reference_data['clubs'][club] == user['club'] %}selected{% endif %}
							<option value="{{reference_data['clubs'][club]}}"
									{% if reference_data['clubs'][club] == user['club'] %}selected{% endif %}
									size="20" >{{reference_data['clubs'][club]}}</option>
							{% endfor %}
							<!--option value="other" size="20" >{{ reference_data['current_language'].other}}</option-->


							</select>
							<br><br>

							<!--label for="otherclub">{{ reference_data['current_language'].other_club_not_listed}}:</label><br> 
								<input id="otherclub" name="otherclub" size="40" /><br><br-->


                    <button class="btn btn-success btn-lg">{{ reference_data['current_language'].submit}}</button>
					</form>


						{% else %}
            <!-- climber is null here -->
						{% endif %}


					</div>


		</div>
		<!-- fh5co-blog-section -->

	</div>

{% endblock %}