


{% extends "skala3ma-layout.html" %}

{% block topcontent %}

{% endblock %}

	{% block secondarycontent %}


   


		{% include "skala3ma-menu.html" %}

		<div class="container-fluid">	
            <div class="h-100 p-5 bg-light border rounded-3 text-center">
                <h1 class="display-5 fw-medium">{{competition['name'] }} </h1>
                <h2 class="display-8 fw-medium"> {{ competition['date']}}</h2>
                </div>	
            <div class="row align-items-md-stretch">	
           
    <div class="col"> 
        <div class="p-1 mb-2 text-center">
        <img src="{{ url_for('app_ui.image_route', img_id=competition['id']) }}"
        width="65%" class=""><br><br>
                        </div>
					</div>
            </div>
        </div>
        </div>
		<div class="table-responsive ">
			



{% if competition is not none and competition is not undefined  %}






<table class="table thead-dark table-hover" >
         <thead><tr><th></th>
         <th data-width="250" data-field="Time Added" data-filter-control="input">{{ reference_data['current_language'].name }}</th>
         <th data-field="artist" data-filter-control="input">{{ reference_data['current_language'].malefemale }}</th>
         <th data-field="track" data-filter-control="input">{{ reference_data['current_language'].club }}</th>
<th data-field="category" data-filter-control="input">{{ reference_data['current_language'].category }}</th>
<th data-field="category" data-filter-control="input">{{ reference_data['current_language'].status }}</th>

         </tr>
         </thead>
    <tbody>
         {# here we iterate over every item in our list which we will pass from bar() #}
    				{% for climberId in competition['climbers'] %}

      
		 <tr><td>{{ loop.index }} </td>
			<td>{{ competition['climbers'][climberId]['name'] }}</td>
			<td> {{ competition['climbers'][climberId]['sex'] }}</td>
			 <td><i>{{competition['climbers'][climberId]['club'] }}</i></td>
			 <td><i>{{reference_data['categories'][ competition['climbers'][climberId]['category']] }}</i></td>
            

			 {%if (loop.index <= competition['max_participants']|int) %}
			 <td><i>{{ reference_data['current_language'].registered }}</i></td>
			 {% else %}
			 <td><i>{{ reference_data['current_language'].waitlist }}</i></td>
			 {% endif %}

                    </tr>
             {% endfor %}


         </tbody>
     </table>






				{%endif %}

			</div>
		</div>
		<!-- fh5co-blog-section -->


{% endblock %}