


{% extends "skala3ma-layout.html" %}

{% block topcontent %}

{% endblock %}

	{% block secondarycontent %}


   


		{% include "competition-menu.html" %}

		<div class="container-fluid">	
            <div class="h-100 p-5 bg-light border rounded-3 text-center">
                <h1 class="display-5 fw-medium">{{competition['name'] }} </h1>
                <h2 class="display-8 fw-medium">{{ competition['gym']}} - {{ competition['date']}}</h2>
             
                </div>	
            <div class="row align-items-md-stretch">	
           
    
                <div class="row align-items-md-stretch">	
                    <div class="col">
                        <div class="row">
                            <!-- Image Column -->
                            <div class="col-md-6 text-center"><br>
                                <img src="{{ url_for('app_ui.image_route', img_id=competition['id']) }}" width="65%" class=""><br><br>
                            </div>
                            <!-- Instructions Column -->
                            <div class="col-md-6">
                                <div class="p-3">
                                    <pre>
                                    {{ competition['instructions'] }}
                                    </pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="table-responsive ">
			



{% if competition is not none and competition is not undefined  %}






<table class="table thead-dark table-hover" >
         <thead><tr><th></th>
         <th data-width="250" data-field="Time Added" data-filter-control="input">{{ reference_data['current_language'].name }}</th>
         <th data-field="artist" data-filter-control="input">{{ reference_data['current_language'].malefemale }}</th>
         <th data-field="track" data-filter-control="input">{{ reference_data['current_language'].club }}</th>
<th data-field="category" data-filter-control="input">{{ reference_data['current_language'].category }}</th>
<th data-field="category" data-filter-control="input">{{ reference_data['current_language'].status }}</th>

         </tr>
         </thead>
        
         <tbody>
            {% for climberId in competition['climbers'] %}
                {% set is_waitlisted = loop.index > competition['max_participants']|int %}
                <tr class="{% if is_waitlisted %}waitlisted{% endif %}">
                    <td>{{ loop.index }}</td>
                    <td>{{ competition['climbers'][climberId]['name'] }}</td>
                    <td>{{ competition['climbers'][climberId]['sex'] }}</td>
                    <td><i>{{ competition['climbers'][climberId]['club'] }}</i></td>
                    <td><i>{{ reference_data['categories'][competition['climbers'][climberId]['category']] }}</i></td>
                    <td><i>
                        {% if is_waitlisted %}
                            {{ reference_data['current_language'].waitlist }}
                        {% else %}
                            {{ reference_data['current_language'].registered }}
                        {% endif %}
                    </i></td>
                </tr>
            {% endfor %}
        </tbody>

   
     </table>

     <style>
        .waitlisted {
            background: rgb(255, 149, 87);
            color: rgb(25, 6, 6);
            
        }
        .waitlisted td {
        background: rgb(249, 156, 102) !important;
        color: rgb(25, 6, 6) !important;
    }
    </style>




				{%endif %}

			</div>
		</div>
        </div>
		<!-- fh5co-blog-section -->


{% endblock %}