
<!-- page to register @app_ui.route('/competitionDashboard/<competitionId>/register')
 -->

{% extends "skala3ma-layout.html" %}

{% block topcontent %}

		

{% endblock %}


	{% block secondarycontent %}

    {% include "competition-menu.html" %}
    
    <div class=" text-left heading-section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <br>
                    <h3> {{ competition['name']}} - {{ competition['date']| strftime(format='short') }}</h3>
                    <font color="red">{{ reference_data['current_language'][error_code] }}</font>
                    <br>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
                <div class="row">
                    <div class="col-6">
            
                    
					{% if enable_registration %}

						<form action="/competitionDashboard/{{competitionId}}/register" method="post">
                            <div class="form-floating">
							<!--label for="name">Name:</--label><br> <input id="name" name="name" size="40" value="{{logged_name}}"/><br><br-->
							<input class="form-control mb-2" id="firstname" name="firstname" size="40" value="{{user['firstname']}}" required/><br>
                            <label for="firstname"><span data-translate-key="firstname"></span></label>
                            </div>
                            <div class="form-floating">
                            <input class="form-control mb-2" id="lastname" name="lastname" size="40" value="{{user['lastname']}}"/><br>
                            <label for="lastname"><span data-translate-key="lastname"></span></label>
                            
                        </div>
                     
                        
                            <div class="form-floating">
                             
							{% if user['email'] is none or logged_email is none %}
                            <input  class="form-control mb-2" name="email" id="email" size="40">
                        
                           
							{% else %}
                            <input  class="form-control mb-2" id="email" name="email" size="40" value="{{logged_email}}" readonly />
							{% endif %}

                            
                                  <label for="email">Email</label>
                            </div><br>

                            <div class="form-floating">
                            
                            <input class="form-control mb-3" id="dob" name="dob" type="date" value="{{user['dob']}}" required />
                            <label for="dob">{{ reference_data['current_language'].dob}}</label>
                        </div>
                    
							<input type="radio" id="F" value="F" name="sex" {% if user['sex']=='F'%}checked{%endif%} required>
							<label for="F">{{ reference_data['current_language'].women}}</label>
							<input type="radio" id="M" value="M" name="sex" {% if user['sex']=='M'%}checked{%endif%} required>
							<label for="M">{{ reference_data['current_language'].men}}</label>
                                

						
                        
                        <br><br>

                        <div class="form-floating">
							
                            <select class="form-control mb-2" name="gymid" id="gymid">
                                <option value="--">{{ reference_data['current_language'].choose}}</option>
                            </select>
                            <div id="other-club-container" style="display:none; margin-top:10px;">
                                <input class="form-control mb-2" id="otherclub" name="otherclub" size="40" placeholder="{{ reference_data['current_language'].other_club_not_listed}}" />
                            </div>
                            <script>
                            var climber_gymid = "{{ user['gymid'] if user['gymid'] is not none else '' }}";
                            console.log('Climber gym id: '+climber_gymid);
                            document.addEventListener('DOMContentLoaded', function() {
                                if (typeof window.apiFetchJson !== 'function') {
                                    console.error('apiFetchJson not loaded');
                                    return;
                                }
                                window.apiFetchJson('/api1/gyms')
                                    .then(gyms => {
                                        const clubSelect = document.getElementById('club');
                                        gyms.forEach(gym => {
                                            const option = document.createElement('option');
                                            option.value = gym.id;
                                            option.textContent = gym.name;
                                            option.setAttribute('data-gymid', gym.id);
                                            if (gym.id == climber_gymid) {
                                                option.selected = true;
                                            }   
                                            clubSelect.appendChild(option);
                                        });
                                        // Add 'Other' option
                                        const otherOption = document.createElement('option');
                                        otherOption.value = 'other';
                                        otherOption.textContent = '{{ reference_data['current_language'].other }}';
                                        clubSelect.appendChild(otherOption);
                                    })
                                    .catch(err => {
                                        console.error('Failed to fetch gyms:', err);
                                    });
                                // Show/hide manual entry
                                document.getElementById('club').addEventListener('change', function() {
                                    const otherContainer = document.getElementById('other-club-container');
                                    if (this.value === 'other') {
                                        otherContainer.style.display = 'block';
                                    } else {
                                        otherContainer.style.display = 'none';
                                    }
                                });
                            });
                            </script>
                            <label for="club">{{ reference_data['current_language'].club}}:</label>
                            </div>
							<br>

							<!--label for="otherclub">{{ reference_data['current_language'].other_club_not_listed}}:</label><br> 
								<input id="otherclub" name="otherclub" size="40" /><br><br-->


							
								
                            <button class="btn btn-success btn-lg">{{ reference_data['current_language'].submit}}</button>

                            <br><br>


                        </form>


					{% else %}
                        <!-- climber is null here -->
                        
                        {{ reference_data['current_language'].status}}: <b>{{ reference_data['current_language'].registered}}/{{ reference_data['current_language'].waitlist}}<br><br></b>
                        {% if can_unregister is true %}
                        <a href="/competitionDashboard/{{competitionId}}/unregister" class="btn btn-danger btn-lg"> {{ reference_data['current_language'].unregister}}</a>
                        <br><br>
                        {% endif %}
                    

         
					{% endif %}
		
                </div>
                <div class="col">
                    
                    <img src="{{ url_for('app_ui.image_route', img_id=competition['id']) }}"
									width="200"><br><br>
                </div>
                </div>
            </div>
        

					</div>

			
		</div>
		<!-- fh5co-blog-section -->

		<!-- lien vers la politique de confidentialité -->
		<div class="container">
			En vous inscrivant à cette compétition, vous acceptez que vos données personnelles soient utilisées pour garantir une organisation efficace de l'événement, y compris pour l'affichage des classements.
			<br>
			Pour en savoir plus sur la manière dont nous protégeons vos données personnelles, veuillez consulter notre <a href="/privacy">Politique de Confidentialité</a>.
		</div>
        <br>
	</div>

{% endblock %}