


{% extends "skala3ma-layout.html" %}

{% block topcontent %}

{% endblock %}


	{% block secondarycontent %}


		<!--styaaale="background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url(/public/images/pexels-vladimir-kudinov-36363-1.jpg);  background-size: cover;"-->

		{% include "competition-menu.html" %}


			<!--style="background-image: linear-gradient(to bottom right, rgba(240,248,255,0.5), rgba(235,245,255,0.8));" -->
 <!--style="background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.8)), url(/public/images/pexels-vladimir-kudinov-36363-1.jpg);  background-size: cover;"-->


<div class="container">
    <div class="text-center heading-section">
   

		{% if rankings is not none and rankings is not undefined %}

						<br>{{ reference_data['current_language'].competition_results }} |
						<a href="{{competition['id']}}/download">{{ reference_data['current_language'].download }} </a>

							<h3>{{competition['name'] }} - {{ competition['date']| strftime(format='short')}}</h3>

		{% else %}
            <br><br>
							<h3>{{competition['name'] }} - {{ competition['date']| strftime(format='short')}}</h3>
						<br><br>
						<h3> {{ reference_data['current_language'].competition_results }} <br>
						<br>{{ reference_data['current_language'].not_available }}</h3>
						{{ reference_data['current_language'].competition_status }}:  {{ reference_data['current_language']['competition_status_'~competition['status']] }}
		{% endif %}
	</div>
</div>

<div class="table-responsive">
    <div class="row-bottom-padded-md">

        {% if rankings is not none and rankings is not undefined %}

	    <!-- first do club rankings -->
        <h2 class="display-4">{{ reference_data['current_language'].ranking_clubs }}</h2>
        <table class="table thead-dark table-bordered table-hover "  id="classsment"   data-toggle="table">
            <thead><tr>
                <th data-field="rank" data-sortable="True">{{ reference_data['current_language'].ranking }}</th>
                <th data-width="350" data-sortable="true" >{{ reference_data['current_language'].full_name }}</th>
                <th data-field="m" >{{ reference_data['current_language'].men }}</th>
                <th data-field="f" >{{ reference_data['current_language'].women }}</th>
                <th data-field="mc" data-sortable="false">{{ reference_data['current_language'].ranked_men }}</th>
                <th data-field="fc" data-sortable="false">{{ reference_data['current_language'].ranked_women }}</th>

                <th data-field="total"  data-sortable="false">{{ reference_data['current_language'].points }}</th>

                </tr>
            </thead>
            <tbody>
                {# here we iterate over every item in our list which we will pass from bar() #}
                {% for club in rankings['club'] %}

                {% if loop.index == 1 %}
                <tr class="table-success" style="background: #CFC !important" bgcolor="#CFC">
                {% elif loop.index == 2 %}
                    <tr class="table-primary" style="background: #AEA">
                {% elif loop.index == 3 %}
                    <tr class="table-warning" style="background: #9C9">
                {% else  %}
                    <tr >
                {% endif  %}
                    <td>{{ club['rank']}}</td>
                    <td>	<b>{{ club['name'] }}</b></a></td>

                    <td><i>{{club['M'] }}</i></td>
                    <td><i> {{club['F'] }}   </i></td>
                    <td><i>{{club['MC'] }}</i></td>
                    <td><i> {{club['FC'] }}   </i></td>
                    <td><i> {{club['TOTAL'] }}   </i></td>

                            </tr>
                    {% endfor %}


            </tbody>
        </table>
        <br><br>



        {% for key in ['2F', '1F', '0F', '2M', '1M', '0M', 'F', 'M', 'A'] if rankings[key]|length > 0 %}
    </div>
    <div class="table-responsive">
        
        <h2 class="display-4">
        {% if key == '2F' %} {{ reference_data['current_language'].ranking_diament_women}} {% endif %}
        {% if key == '1F' %} {{ reference_data['current_language'].ranking_titan_women}} {% endif %}
        {% if key == '0F' %} {{ reference_data['current_language'].ranking_senior_women}} {% endif %}
        {% if key == '2M' %} {{ reference_data['current_language'].ranking_diament_men}} {% endif %}
        {% if key == '1M' %} {{ reference_data['current_language'].ranking_titan_men}} {% endif %}
        {% if key == '0M' %} {{ reference_data['current_language'].ranking_senior_men}} {% endif %}
        {% if key == 'M' %} {{ reference_data['current_language'].ranking_scratch_men}} {% endif %}
        {% if key == 'F' %} {{ reference_data['current_language'].ranking_scratch_women}}  {% endif %}
        {% if key == 'A' %} {{ reference_data['current_language'].ranking_scratch_all}} {% endif %}

        </h2>

        <table class="table thead-dark table-hover table-bordered"  data-toggle="table">
         <thead><tr>
		 <th data-field="rank" data-filter-control="input" data-sortable="True">{{ reference_data['current_language'].ranking }}</th>
    	 <th data-width="250" data-field="Time Added" data-filter-control="input">{{ reference_data['current_language'].full_name }}</th>
         <th data-field="track" data-sortable="True">{{ reference_data['current_language'].club }}</th>
         <th data-field="category" data-sortable="false">{{ reference_data['current_language'].category }}</th>
         <th data-field="routes" data-sortable="false">{{ reference_data['current_language'].routes }}</th>
		 <th data-field="points" data-filter-control="input" data-sortable="True">{{ reference_data['current_language'].points }}</th>

         </tr>
         </thead>
         <tbody>
         {# here we iterate over every item in our list which we will pass from bar() #}
    				{% for climber in rankings[key] %}

		 {% if loop.index == 1 %}
		 <tr class="table-success" style="background: #CFC">
		{% elif loop.index == 2 %}
			 <tr class="table-info" style="background: #AEA">
		{% elif loop.index == 3 %}
			 <tr class="table-primary" style="background: #9C9">
		{% else  %}
			 <tr >
		{% endif  %}
			<td>{{loop.index}}</td>
			 <td>	<b>{{ climber['name'] }}</b></a></td>

			 <td><i>{{climber['club'] }}</i></td>
			 <td><i>  {{ reference_data['categories'][climber['category']] }}  </i></td>
			 <td>{{ climber['routesClimbed']|length }}  </i></td>
			 <td>{{ climber['score'] }}  </td>

			        </tr>
                    <!-- termporarily disable this -->
                {% if (key == 'F' or key == 'M') and  climber['routesClimbed2'] and false %}
                   

                    <tr><td></td>
                        <td  colspan="5">
                            {% for route in  climber['routesClimbed2'] %}   
                        {{ route['routenum'] }}: <b> {{ route['grade'] }}</b>
                        {% endfor %}
                        </td>

                    </tr>

                    {% endif %}
             {% endfor %}


         </tbody>
        </table><br><br>
        <br><br>
		{% endfor %}


		{% endif %} 





	</div>
</div>

{% endblock %}