


{% extends "skala3ma-layout.html" %}

{% block topcontent %}



{% endblock %}


	{% block secondarycontent %}

    
	
<div class=" text-center heading-section animate-box">
    <div id="alertPlaceholder"></div>
                <br>
                <h3><span data-translate-key="Contact_us"></span></h3>
</div>


    

<script>

    //var  top_notification_label = ;
    //var  top_notification_level = "";

    app.setNotification("{{top_notification_label}}", "{{top_notification_level}}");
    console.log('{{top_notification_label}} in contact    ');
    //showAlert(top_notification_label, top_notification_level);
	//me.addRow = function(btn){
     // btn ? btn.parentNode.parentNode.insertAdjacentHTML('afterend', row1): table.insertAdjacentHTML('beforeend',row1);
      //setIds();
    //}
</script>



<div class="container">

    <div class="row">
      
	    <form action="/contact" method="POST" enctype="multipart/form-data">



            <div class="form-floating">
                <!--label for="name">Name:</--label><br> <input id="name" name="name" size="40" value="{{logged_name}}"/><br><br-->
                <input class="form-control mb-2" id="name" name="name" size="40" value="{{name}}" required/><br>
                <label for="name"><span data-translate-key="name"></span></label>
            </div>
            <div class="form-floating">
                <input class="form-control mb-2" id="email" name="email" size="40" value="{{email}}" type=email required/><br>
                <label for="lastname"><span data-translate-key="email"></span></label>
            </div>
            <div class="form-floating">
                <input class="form-control mb-2" id="subject" name="subject" size="40" value="{{subject}}"  required/><br>
                <label for="subject"><span data-translate-key="Subject"></span></label>
            </div>
               
            <br>

            
            <div class="form-floating mb-3">
          	

            <textarea class="form-control" name="message" id="email_text" rows="6" cols="50" size="50" style="height: 200px">{{message}}</textarea><br>
            <label for="message"><span data-translate-key="Message"></span></label>
            
           
                <br>

            </div>


            CAPTCHA: {{ captcha_html(captcha)|safe }}<br><br>


               
            <div class="form-floating mb-3">
          	

            <button name=save value="Save" class="btn btn-success btn-lg" data-translate-key="send">SAVE</button>
            </div>
    	</form>



    </div>


  
    <br><br>
    <script>
       
</script>
<br><br><br><br><br><br>


</div>
{% endblock %}