


{% extends "layout.html" %}

{% block topcontent %}

			<!--div class="container"-->
				<div class="row" style="background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.9)), url(public/images/group-of-people-1587927.jpg);  background-size: cover;">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
<br><br>
						<div id="progressMessages" class="section-title">
							<h3>{{ subheader_message }}
							  Click below to load newest data...</h3></div>
<div id="updateButton"><a href="#" onClick="retrieveData()" style="font-size: 24px;font-weight: bold;">
	<input type="button" value="Update"/></a>
</div>
					<br>



<br><br>
	<!--h4><a href="/datadownload">Update all Spotify data</a></li></h4-->

</div>
				</div>

{% endblock %}
