					<!-- START #fh5co-menu-wrap -->
					<div class="nav-header">

{% if competition is defined %}

						<ul class="sf-menu sf-menu2" id="fh5co-primary-menu">
<!-- li>{{ competition['name'] }}</li -->
										<li><a href="/competitionDashboard/{{ competitionId}}/register">{{ reference_data['current_language'].register }}</a> </li>
						<li><a href="/competitionDetails/{{ competitionId}}">{{ reference_data['current_language'].climbers }}</a> </li>
					<li><a href="/competitionRoutesEntry/{{ competitionId}}">{{ reference_data['current_language'].routes }}</a></li>

							<li><a href="/competitionResults/{{ competitionId}}">{{ reference_data['current_language'].resultats }}</a>
							<!-- <ul class="fh5co-sub-menu">
							<li><a href="/competitionResults/{{ competitionId}}/download">Download</a> </li>
								</li></ul>-->

{% endif %}

						{% if username is defined %}

							<!--li><a href="/progresstest">Progress</a></li-->



								{% endif %}
							<!--li><a href="blog.html">Blog</a></li-->
							<!--li class="active"><a href="blog.html">Blog</a></li-->
							<!--li><a href="contact.html">Contact</a></li-->
							{% if username is not defined %}

							{% endif %}

{% if session is defined and session['name'] is defined %}


{% else %}




  {% endif %}

{% if competition is defined and competition is not none %}

							<li><a href="/competition_admin/{{competitionId}}">{{ reference_data['current_language'].competition_status }}:  {{ reference_data['current_language']['competition_status_'~competition['status']] }}</a></li>
							{% endif %}
						</ul>

</div>
					<br>