
<ul class="nav justify-content-left ">
   
    
    <a href="/gyms/{{ gymid}}"  class="nav-link sf-menu2"><i class="bi bi-house-door-fill" ></i>
    <span id="{{ gym['name'] }}">{{ gym['name'] }}</span> </a>

    <a href="/gyms/{{gymid}}/{{ gym['routesid']}}" class="sf-menu2 nav-link">{{ reference_data['current_language'].routes }}</a> 
                        <!--li><a href="/competitionDetails/{{ competitionId}}">{{ reference_data['current_language'].climbers }}</a> </li-->
    <!--a href="/gyms/{{gymid}}/climbers" class="nav-link sf-menu2">{{ reference_data['current_language'].climbers }}</a-->
    <!--a href="/gyms/{{gymid}}/{{ gym['routesid']}}/beta" class="sf-menu2 nav-link">{{ reference_data['current_language'].routes }} (beta)</a--> 

    <a href="/gyms/{{gymid}}/qrcode" class="sf-menu2 nav-link">QR Code</a> 
    
</ul>
