


{% extends "skala3ma-layout.html" %}

{% block topcontent %}

{% endblock %}


	{% block secondarycontent %}





	{% if gym is not none and gym is not undefined  %}





        <style>
            /* Style for the modal dialog container */
            .modal-container {
                display: none;
                position: fixed;
                z-index: 1023;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgba(0, 0, 0, 0.4);
            }
    
            /* Style for the modal dialog box */
            .modal-box {
                background-color: #fff;
                margin: 2% auto;
                padding: 15px;
                border: 1px solid #888;
                width:max-content;
                
                display: flex;
                
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 14px;
                color: #333;
            }
    
            /* Style for the close button */
            .close-button {
                position: absolute;
                top: 20px;
                right: 30px;
                font-size: 30px;
                color: #aaa;
                font-weight: bold;
                cursor: pointer;
            }
        </style>
    
        


        
        <div id="modal" class="modal-container">
            
            <div id="modal-box" class="modal-box">
               
                <form action="/gyms/{{gym['id']}}/{{routes['id']}}/edit" enctype="multipart/form-data"  method="POST">
                    <style>
                        .form-row-heading {
                          display: flex;
                          justify-content: center;
                          align-items: baseline;
                          margin: 10px;
                          font-size: 20px;
                          color: #292424;
                          font-weight: bold;
                          vertical-align: bottom;
                        }
                        .form-row {
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          margin: 10px;
                        }
                      
                        .form-row label {
                          text-align: right;
                          margin-right: 6px;
                          flex: 1;
                        }
                      
                        .form-row input,
                        .form-row select,
                        .form-row textarea {
                          flex: 1;
                        }
                      </style>

                <div id="hidden_message" class="form-row" style=" font: bold 24px;color: red; align-content: center;"></div>
               
                <div id="mainModalMenu">
                    
                    <div  onclick="hideModal()">
                    <div class="form-row-heading">
                        <div id="route-routenum" style="font-size:40px;"></div>  &nbsp;&nbsp;&nbsp; <div id="route-name"></div>
                    </div>

                <div class="form-row-heading">
                    <div id="route-line" style="font-size:20px;"></div> &nbsp;&nbsp;&nbsp;
                    <div id="route-color1">&nbsp;&nbsp;&nbsp;</div>&nbsp;&nbsp;  <div id="route-grade"></div>
                </div>
                <div class="form-row-heading">
                    <div id="route-openedby">&nbsp;&nbsp;&nbsp;</div>&nbsp;&nbsp;  <div id="route-opendate"></div>
                </div>
                <div class="form-row">
                    <div id="route-notes">&nbsp;&nbsp;&nbsp;</div>
                </div>
                </div>
                <div class="form-row">
                  <!--button id='submitbutton' type="button" class="btn btn-info btn-lg" onclick="addActivityRoute()">I finished it</button-->

                </div>      
                
                <div class="form-row">
                    <span class="close-button" onclick="hideModal()">&times;</span>
                    
                    {% if (user_can_edit_gym) %}
                    <button id='editbutton' type="button" class="btn btn-info btn-md" onclick="editContent();">{{reference_data['current_language'].edit}}</button>&nbsp;
                    {% endif %}
                    <button id='cancelbutton' type="button" class="btn btn-info" onclick="document.getElementById('modal').style.display='none';">{{reference_data['current_language'].close}}</button>
                </div> 
                </div>

                    <div id="editContent" style="display: none">

                         <div class="form-row">
                          <input type="hidden" id="id" name="id" value="">
                          
                        </div>
                      
                        <div class="form-row">
                          <label for="routenum">{{reference_data['current_language'].route_num}}:</label>
                          <input type="text" id="routenum" name="routenum" value="1">
                        </div>
                      
                        <div class="form-row">
                          <label for="line">{{reference_data['current_language'].line}}:</label>
                          <input type="text" id="line" name="line" value="1">
                        </div>
                      
                        <div class="form-row">
                          <input type="hidden" id="colorfr" name="colorfr" value="#2e8b57">
                        </div>
                      
                        <div class="form-row">
                          <label for="color1">Color 1:</label>
                          <input id="color1"  type="color"  
                          style="background-color: transparent; border:0; outline: none; padding:0px; height: 35px"  />
                          <!--div id="color1-display" style="background-color: #819a1e; width: 20px; height: 20px;"></div-->
                        </div>
                      
                        <div class="form-row">
                          <label for="color_modifier">{{reference_data['current_language'].color_modifier}}:</label>
                          <select id="color_modifier" name="color_modifier">
                            <option value="solid">{{reference_data['current_language'].solid}}</option>
                            <option value="marble">{{reference_data['current_language'].marble}}</option> 
                          </select>
                        </div>
                      
                        <div class="form-row">
                          <label for="grade">{{reference_data['current_language'].grade}}:</label>
                          <select id="grade" name="grade">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4a">4a</option>
                            <option value="4b">4b</option>
                            <option value="4c">4c</option>
                            <option value="5a">5a</option>
                            <option value="5a+">5a+</option>
                            <option value="5b">5b</option>
                            <option value="5b+">5b+</option>
                            <option value="5c">5c</option>
                            <option value="5c+">5c+</option>
                            <option value="6a">6a</option>
                            <option value="6a+">6a+</option>
                            <option value="6b">6b</option>
                            <option value="6b+">6b+</option>
                            <option value="6c">6c</option>
                            <option value="6c+">6c+</option>
                            <option value="7a">7a</option>
                            <option value="7a+">7a+</option>
                            <option value="7b">7b</option>
                            <option value="7b+">7b+</option>
                            <option value="7c">7c</option>
                            <option value="7c+">7c+</option>
                            <option value="8a">8a</option>
                            <option value="8a+">8a+</option>
                            <option value="8b">8b</option>
                            <option value="8b+">8b+</option>
                            <option value="8c">8c</option>
                            <option value="8c+">8c+</option>
                            <option value="9a">9a</option>
                            <option value="9a+">9a+</option>
                            <option value="9b">9b</option>
                            <option value="9b+">9b+</option>
                            <option value="9c">9c</option>
                          </select>
                          
                        </div>
                      
                        <div class="form-row">
                          <label for="name">{{reference_data['current_language'].route_name}}:</label>
                          <input type="text" id="name" name="name" value="">
                        </div>
                      
                        <div class="form-row">
                          <label for="openedby">{{reference_data['current_language'].route_opened_by}}</label>
                          <input type="text" id="openedby" name="openedby" value="">
                        </div>
                      
                        <div class="form-row">
                          <label for="opendate">{{reference_data['current_language'].route_opened_date}}:</label>
                          <input type="date" id="opendate" name="opendate" value="">
                        </div>
                      
                        <div class="form-row">
                          <label for="notes">{{reference_data['current_language'].notes}}:</label>
                          <textarea id="notes" name="notes">très facile</textarea>  <!-- TODO revoir le texte ici ?-->
                        </div>
                      
                  <div class="form-row">
                    <span class="close-button" onclick="hideModal()">&times;</span>
                    
                    <button id='submitbutton' type="button" class="btn btn-info" onclick="saveLine()">{{reference_data['current_language'].save}}</button>&nbsp;
                  
                  <button id='deletebutton' type="button" class="btn btn-danger" onclick="deleteContent()">{{reference_data['current_language'].remove}}</button>&nbsp;
                  <button id='cancelbutton' type="button" class="btn btn-info" onclick="hideModal()">{{reference_data['current_language'].cancel}}</button>
                    </div>    <div class="form-row">
                  <button id='closebutton' type="button" class="btn btn-info" onclick="addBefore()">{{reference_data['current_language'].add_before}}</button>&nbsp;
                  <button id='submitbutton' type="button" class="btn btn-info" onclick="addAfter()">{{reference_data['current_language'].add_after}}</button>
                    </div>
               
                </div>
                </form>
                
            </div>
            
        </div>


        <script>
            // Get the modal dialog container
            var modal = document.getElementById("modal");
            var editDiv = document.getElementById('editContent');
            var mainModalMenuDiv = document.getElementById('mainModalMenu');
            var modalBoxDiv = document.getElementById('modal-box');
            var currentRow;
            var mod_type;


            function showEditDiv(){
                mainModalMenuDiv.style.display='none'
                editDiv.style.display='block';
            }

            function editContent(){
                mod_type='save'
                showEditDiv();
                return false;
            }

            function deleteContent(){
                mod_type='delete'
                document.getElementById('routenum').value=-1
                var data = getFormData();
                
                saveData(data)
                //mainModalMenuDiv.style.display='none'
                //editDiv.style.display='none';
                //modal.style.display='none'
                
            }

            // Function to display the modal dialog
            function showModal() {
                mainModalMenuDiv.style.display='block'
                
                editDiv.style.display='none';
                modal.style.display = "block";
            }
    
            // Function to hide the modal dialog
            function hideModal() {

                modal.style.display = "none";
            }
  
  
        function addBefore(){
            mod_type='add_before';
            clearModal();
            showEditDiv();
        }

        function addAfter(){
            mod_type='add_after';
            clearModal();
            showEditDiv();
        }

        function clearModal(){
            document.getElementById('hidden_message').textContent='';
            const greenColor = '#aaffaa';
            document.getElementById('id').value = '';
            if (mod_type == 'add_before'){
                document.getElementById('routenum').value = currentRow.routenum-0.5;
            }else if (mod_type == 'add_after'){
                document.getElementById('routenum').value = parseInt(currentRow.routenum)+0.5;
            }
            document.getElementById('routenum').disabled = true;

            document.getElementById('line').value = '';
            document.getElementById('colorfr').value = '#aaffaa';
            document.getElementById('color1').value = '#aaffaa';
            //document.getElementById('color1-display').style.backgroundColor = '#aaffaa';
            document.getElementById('color_modifier').value = 'solid';
            document.getElementById('grade').value = '';
            document.getElementById('name').value = '';
            document.getElementById('openedby').value = '';
            document.getElementById('opendate').value = '';
            document.getElementById('notes').value = '';

            document.getElementById('route-color1').style.background = greenColor;
           
            document.getElementById('route-name').innerHTML =  '';
            
            document.getElementById('route-routenum').innerHTML =  '';
            document.getElementById('route-grade').innerHTML =  '';
            modalBoxDiv.style.border="5px solid "+greenColor;
            //document.getElementById('color1').style.backgroundColor = greenColor;
        
        }


        function routeDetail(data) {
        	//console.log("routeDetail.. "+data+" - ");
            currentRow=data;

            var hatchColor = data.color1;
            var backgroundColor = 'transparent'; // or any other color
            var hatchedBackground = `repeating-linear-gradient(45deg, ${hatchColor}, ${hatchColor} 15px, ${backgroundColor} 5px, ${backgroundColor} 20px)`;
            
            document.getElementById('id').value = data.id;
            document.getElementById('routenum').value = data.routenum;
            document.getElementById('line').value = data.line;
            document.getElementById('colorfr').value = data.colorfr;
            document.getElementById('color1').value = data.color1;
            
            
            //document.getElementById('color1-display').style.backgroundColor = data.color1;
            document.getElementById('color_modifier').value = data.color_modifier;
            document.getElementById('grade').value = data.grade;
            document.getElementById('name').value = data.name;
            document.getElementById('openedby').value = data.openedby;
            document.getElementById('opendate').value = data.opendate;
            document.getElementById('notes').value = data.notes;

            if (data.color_modifier == 'marble') { 
              document.getElementById('route-color1').style.background = hatchedBackground;
            } else {
              document.getElementById('route-color1').style.background = data.color1;
            }

//            document.getElementById('route-color1').style.background = data.color1;
            document.getElementById('route-name').innerHTML = data.name;
            document.getElementById('route-routenum').innerHTML = data.routenum;
            document.getElementById('route-grade').innerHTML = data.grade;
            modalBoxDiv.style.border="5px solid "+data.color1;
            document.getElementById('route-openedby').innerHTML = data.openedby;
            document.getElementById('route-opendate').innerHTML = data.opendate;
            document.getElementById('route-notes').innerHTML = data.notes;
            document.getElementById('route-line').innerHTML = data.line;
            
            // this is a background on edit popup input field
            //document.getElementById('color1').style.backgroundColor = currentRow.color1;
            document.getElementById('hidden_message').textContent='';
        }

        
        function colorChanged(tp){
            var color = document.getElementById('color1').value;
            //document.getElementById('route-color1').style.background = color;
            
            document.getElementById('color1').style.backgroundColor = color;
            modalBoxDiv.style.border="5px solid "+color;
            /*if (tp){
                color.close();
            }*/
        } 

        color1input = document.getElementById('color1');
        color1input.addEventListener("input", colorChanged(0), false);
        color1input.addEventListener("change", colorChanged(1), false);

    </script>
{%endif%}



<div class=" text-center  heading-section" style="border: 0px solid black; display:flexbox; align-items: center;">
    <br><br>

        {% if gym is not none and gym is not undefined  %}
      
                
        <div>
            <img src="/image/{{  gym.get('logo_img_id') }}"  height="200"/>

        </div>
        <div>
                <h1  class="display-2"> {{ gym['name'] }}</h1>
                
                <h1>
                <a href="/gyms/{{gym['id']}}/edit" alt="{{gym['homepage']}}"><i class="icon-wrench"></i></a>
                    <a href="/gyms/{{gym['id']}}/{{gym['routesid']}}/edit" alt="{{gym['homepage']}}"><i class="icon-list"></i></a>


                <a href="/gyms/{{gym['id']}}/{{gym['routesid']}}/download" alt="{{gym['homepage']}}"><i class="icon-grid2"></i></a>
                <a href="#" id="print-table" alt="{{gym['homepage']}}"><i class="icon-print"></i></a>
            
                <a href="/gyms/{{gym['id']}}/{{gym['routesid']}}/routes_csv" alt="download"><i class="icon-download2"></i></a>
            
            </h1>
                
                    
                {{ gym['address'] }} <i class="icon-location"></i><br>
                <a href="{{gym['homepage']}}" alt="{{gym['homepage']}}" target="tab">{{gym['homepage']}}<i class="icon-home"></i></a>
            </div>

    {% else %}
                <h3>{{ reference_data['current_language'].gyms }} </h3>

                {% if user is defined and user is not none and 'create_gym' in user['permissions']['general'] %}
                    <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal" data-afterrow="121"
                            onclick='location.href="/gyms/add"'>{{reference_data['current_language'].add}}</button>

                {% endif %}
        
    {% endif %}
    
    
</div>
    



<div class="container">  

    
    <div id="tabulator-table"></div>
    {{ routes['name'] }}
</div>

<br><br>
{% if gym is not none and gym is not undefined  %}




	<!-- Trigger the modal with a button -->


   






    <script>

        var routes;
      
        function getData()
        {
          const gymid = "{{gymid}}";
          const routeid = "{{routesid}}";
      
          fetch(`/api1/gym/${gymid}/${routeid}`)
          .then(response => response.json())
          .then(data => {
              // use the retrieved data here
              // console.log(data);
              routes=data.routes
              renderTabulatorTable(routes);
                
      
          })
          .catch(error => console.error(error));
      
        }
      
        // Function to create a hatched pattern in color rendering when printing to pdf  
        function createHatchedSVG(color, width = '100px', height = '20px') {
              return `
                <svg width="${width}" height="${height}" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <pattern id="hatch-${color}" width="4" height="4" patternTransform="rotate(-45 0 0)" patternUnits="userSpaceOnUse">
                            <line x1="0" y1="0" x2="0" y2="4" style="stroke:${color}; stroke-width:5" />
                        </pattern>
                    </defs>
                    <rect width="${width}" height="${height}" fill="url(#hatch-${color})" />
                </svg>`;
        }
      
      function renderTabulatorTable(routesA)
      {
        var columns = [
          {title: "{{ reference_data['current_language'].route_num}}", visible:false, field: "routenum", "responsive": 0 , minWidth:2, width:60, headerVertical:false},
          {title: "#", field: "line", "responsive": 0 , minWidth:2, width:70, headerVertical:false,
            formatter:function(cell, formatterParams, onRendered){
                return `${cell.getValue()} <sup>${cell.getRow().getData().routenum}<sup>`;
            },
        
        
        
        },
          {title: "{{ reference_data['current_language'].color }}", field: "color1", 
           "responsive": 0 , minWidth:10, 
           formatter:function(cell, formatterParams, onRendered){ 
              return getColorSVG(cell, formatterParams, onRendered);
            },
        
            formatterPrint:function(cell, formatterParams, onRendered){
              return getColorSVG(cell, formatterParams, onRendered);
            },
        },

         
          {title: "{{ reference_data['current_language'].grade }}", field: "grade", "responsive": 0 , minWidth:10, headerVertical:false},
          {title: "{{ reference_data['current_language'].route_name }}", field: "name", "responsive": 1 , minWidth:10},
          {title: "{{ reference_data['current_language'].route_opened_by}}", field: "openedby", "responsive": 2 , minWidth:10},
          {title: "{{ reference_data['current_language'].route_opened_date}}", field: "opendate", "responsive": 2},
          {title: "{{ reference_data['current_language'].notes}}", field: "notes", "responsive": 1 , formatter:"plaintext"}
          ];
      
          // Create the Tabulator table
          var table = new Tabulator("#tabulator-table", {
            printHeader:"<h1>SKALA3MA - {{ gym['name'] }} - {{ routes['name'] }}</h1>", // set header content on printed table
            printFooter:"<h3></h3>", // set footer content on printed table
            printAsHtml:true,
            //printStyled:true, //copy Tabulator styling to HTML table
            printConfig:{
                //columnHeaders:false, //do not include column headers in printed table
                columnGroups:false, //do not include column groups in column headers for printed table
                rowGroups:false, //do not include row groups in printed table
                //columnCalcs:false, //do not include column calcs in printed table
                //dataTree:false, //do not include data tree in printed table
                //formatCells:true, //show raw cell values without formatter
            },

              columns: columns,
              data: routesA ,
              layout:"fitDataStretch",
              //layout: "fitDataFill",
              movableRows: false,
              selectable: 1,
              responsiveLayout:"collapse",
              //responsiveLayout:"fitColumns",
              responsiveLayout:"collapse",
              //movableColumns: true, 
              responsiveLayoutCollapseStartOpen:true,
              formatter:"responsiveCollapse", headerSort:false,
              rowFormatter:function(row){
                if(row.getData().line % 2 == 0){
                    //row.getElement().style.backgroundColor = "#dddddd";
                    //row.getElement().classList.add("celled"); //mark rows with age less than 18 with a warning state;
                    row.getElement().style.backgroundColor = "#f1f1f1";
                
                }else{
                    row.getElement().style.backgroundColor = "#ffffff";
                
                }
                },

              /*rowContextMenu:[
              {
                label:"Edit Row",
                action:function(e, row){
                    row.delete();
                }
                },
                {
                    label:"Delete Row",
                    action:function(e, row){
                        row.delete();
                    }
                },
            ]*/
          });

          table.on("rowClick", function(e, row){
            routeDetail(row.getData());
            showModal();
            row.toggleSelect();
          });

          /*if (currentRow !== undefined)
          {
            //table.selectRow(Math.abs(parseInt(currentRow.routenum)));
            table.selectRow(2);
          }*/

          document.getElementById("print-table").addEventListener("click", function(){
            table.print(false, true);
            });

      
      }
      
      
        getData();
        
        function getFormData() {
          const formData = {};

          
          
          const id = document.getElementById('id').value;
          formData['id'] = id;
          
          const routenum = document.getElementById('routenum').value;
          formData['routenum'] = routenum;
          
          const line = document.getElementById('line').value;
          formData['line'] = line;
          
          const colorfr = document.getElementById('colorfr').value;
          formData['colorfr'] = colorfr;
          
          const color1 = document.getElementById('color1').value;
          formData['color1'] = color1;
          
          const colorModifier = document.getElementById('color_modifier').value;
          formData['color_modifier'] = colorModifier;
          
          const grade = document.getElementById('grade').value;
          formData['grade'] = grade;
          
          const name = document.getElementById('name').value;
          formData['name'] = name;
          
          const openedBy = document.getElementById('openedby').value;
          formData['openedby'] = openedBy;
          
          const openDate = document.getElementById('opendate').value;
          formData['opendate'] = openDate;
          
          const notes = document.getElementById('notes').value;
          formData['notes'] = notes;
          
          const jsonData = JSON.stringify(formData);
          
          return jsonData;
          }
      
      
        function addRoute() {
          const id = document.getElementById('id').value;
          const routenum = parseInt(document.getElementById('routenum').value);
          const line = document.getElementById('line').value;
          const colorfr = document.getElementById('colorfr').value;
          const color1 = document.getElementById('color1').value;
          const color_modifier = document.getElementById('color_modifier').value;
          const grade = document.getElementById('grade').value;
          const name = document.getElementById('name').value;
          const openedby = document.getElementById('openedby').value;
          const opendate = document.getElementById('opendate').value;
          const notes = document.getElementById('notes').value;
      
          const route = {
            id,
            routenum,
            line,
            colorfr,
            color1,
            color_modifier,
            grade,
            name,
            openedby,
            opendate,
            notes
          };
      
          // insert the new route into the array
          routes.splice(routenum, 0, route);
      
          console.log('Route added:', route);
          console.log('Routes array:', routes);
        }

        function saveLine() {
            var data = getFormData();
            saveData(data)
        }

        function addActivityRoute() {
            var data = getFormData();
            console.log('saving new route to activity '+mod_type)    
            //fetch('/api1/gym/{{gymid}}/{{routesid}}/'+mod_type, {
            fetch('/api1/activity/{{gymid}}/{{routesid}}/saveone', {
                mode: 'no-cors',
                method: 'POST',
                headers: {
                'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                if (!response.ok) {
                    console.log('error response',response.json)
                    //return Promise.reject(response);
                    throw new Error('Network response was not ok');
                }
                //return response.json();
            })
            .then(data => {
                console.log('Response from saving route');
                console.log(data)
                //routes=data.routes
                //renderTabulatorTable(routes);
                //table.replaceData(routes);
                hideModal()
      
            })
            .catch(error => {
                console.error('catch error:', error);
                document.getElementById('hidden_message').textContent="{{ reference_data['current_language']['error5315'] }}";

                
                
            });
          }



        

        function saveData(data){
            console.log('saving data '+mod_type)    
            //fetch('/api1/gym/{{gymid}}/{{routesid}}/'+mod_type, {
            fetch('/api1/gym/{{gymid}}/{{routesid}}/saveone', {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                if (!response.ok) {
                    console.log('error response',response.json)
                    //return Promise.reject(response);
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Response:', data);
                routes=data.routes
                renderTabulatorTable(routes);
                //table.replaceData(routes);
                hideModal()
      
            })
            .catch(error => {
                console.error('catch error:', error);
                document.getElementById('hidden_message').textContent="{{ reference_data['current_language']['error5315'] }}";

                
                
            });
            }


      </script>
      
      
      



</div>




				{%endif %}

{% if gyms is not none  %}





					{% for gymid in gyms %}

                    
					<div class=" col-lg-6 ">

						<div id='albumArt{{ loop.index }}' class="fh5co-blog animate-box"
							 onmouseover="playPreview('trackPreview{{ loop.index }}')"
							 onmouseleave="stopPreview('trackPreview{{ loop.index }}')"
						>
							<a href="gyms/{{ gymid }}">
							<div class="blog-text">
								<div class="prod-title">aaaa

									<img src="/image/{{  gyms.get(gymid).get('logo_img_id') }}"  
									height="130">

									<span class="posted_by">{{ gyms[gymid]['date'] }}</span>

									<br><br>
									<h4>{{ gyms[gymid]['name'] }}</h4>

								</div>
							</div>
								</a>
						</div>
					</div>

					 {% endfor %}





{% endif %}




			</div>
		</div>

	</div>
{% endblock %}