

	

				

					


{% for a in range(5) %}

<div >
                        
		
    <img src="{{ url_for('fsgtapp.image_route', img_id=gym['logo_img_id']) }}" width="50" height="50" align="left">

    <font size="+3"> {{ gym['name'] }}</font>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{{gym['homepage']}}" alt="{{gym['homepage']}}" target="tab">{{gym['homepage']}}<i class="icon-home"></i></a>

    &nbsp;&nbsp;&nbsp;&nbsp;<a href="/main"><img src="/public/images/favicon.png" height="15"> https://skala3ma.com</a>

</div>

<div style="width:100%; border: 0px solid rgb(33, 90, 44);">

	<div style="width:100%; border: 0px solid rgb(193, 31, 112); display:flex">

	<div style="width:80%; border: 6px darkcyan ">
		<label style="font-size:30" for="NOM" value="NOM">NOM: </label> <input name=nom style="font-size:40"  size="30"><br>
		<label style="font-size:30" for="NOM" value="Prenom">Prenom: </label> <input name=nom style="font-size:40"  size="30"><br>
		<label style="font-size:30" for="NOM" value="NOM">Club: </label> <input name=nom style="font-size:40" size="30"><br>
	</div>
	<div style="width:20%; border: 0px solid rgb(19, 178, 106)">	
	
		<div name=skill style="font-size:30; border:1px dashed; text-align: center;  ">  &nbsp;&nbsp; 3-5b &nbsp;&nbsp; 5c-6a &nbsp;&nbsp; 6b-
			</div>
		
		<div name=cat style="font-size:30; border:1px dashed;  text-align: center; ">  &nbsp;&nbsp; seniors &nbsp;&nbsp; titane &nbsp;&nbsp; diamant
			</div>
	</div>
	</div>
	

	<div style="padding-block: 2px 2px;padding:2px 2px; border: 0px solid rgb(226, 15, 15); float:none; position:relative; display:inline-block">

		{# here we iterate over every item in our list which we will pass from bar() #}
		 {% for route in routes['routes'] %}


		 <div style="margin:2px 2px; width:100;  float:left; border: 2px solid {{ route['color1'] }}">


		
			
				  <font style="font-size:32px; background-image: repeating-linear-gradient(to right, {{ route['color1'] }} ,
				  rgba(200,200,200,0.2),  {% if  route['color_modifier'] == 'marble' %} rgba(0,0,0,0.9) {% else %} {{ route['color1'] }} {%endif%} 100% );">
				&nbsp;&nbsp;&nbsp;</font>
				
				
				<font style="font-size:32px; text-shadow: 0px 0px 3px white;"><b>{{ route['routenum'] }}</b> </font>
				</b>

			 <!--i>{{route['grade'] }}</i-->
			  <!-- {{ route['name'] }} -->
			 <!--td> {{ route['opendate'] }}</td-->
		</div>
		 {% endfor %}


	</div>
</div>

-----
{% endfor %}


<div>

			
</div>
			


