

	

				

					


{% for a in range(5) %}

<!--div >
                        
		
    <img src="/image/{{ gym.get('logo_img_id') }}" width="50" height="50" align="left">

    <font size="+3"> {{ gym['name'] }}</font>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{{gym['homepage']}}" alt="{{gym['homepage']}}" target="tab"><i class="icon-home"></i></a>

    &nbsp;&nbsp;&nbsp;&nbsp;<a href="/main"><img src="/public/images/favicon.png" height="15"> https://skala3ma.com</a>

</div-->

<style>

/* Styles for printing */
    @media print {
            .rounded-border {
                border: 2px dashed red; /* Change border style for printing */
            }
            .no-print {
                display: none; /* Hide elements with this class when printing */
            }
        }
    
</style>

<div style="width:100%; border: 0px solid rgb(33, 90, 44);">

	<div style="width:100%; border: 0px solid rgb(193, 31, 112); display:flex">

	<div style="width:60%; border: 6px darkcyan ">
		<label style="font-size:18" for="NOM" value="NOM">NOM: </label> <input name=nom style="font-size:22"  size="30"><br>
		<label style="font-size:18" for="NOM" value="Prenom">Prenom: </label> <input name=nom style="font-size:22"  size="30"><br>
		<label style="font-size:18" for="NOM" value="NOM">Club: </label> <input name=nom style="font-size:22" size="30"><br>
	</div>
   
	<div style="width:40%; border: 0px solid rgb(19, 178, 106)">	
	
		<div name=skill style="font-size:18; border:1px dashed; text-align: center;  ">  &nbsp;&nbsp; 3-5b &nbsp;&nbsp; 5c-6a &nbsp;&nbsp; 6b-
			</div>
		
		<div name=cat style="font-size:18; border:1px dashed;  text-align: center; ">  &nbsp;&nbsp; seniors &nbsp;&nbsp; titane &nbsp;&nbsp; diamant
			</div>

            <div style="text-align: center">
               <br>&nbsp;&nbsp;<a href="/main"><img src="/public/images/favicon.png" height="15"> https://skala3ma.com</a>
            </div>
	</div>
    
	</div>
	
	<div style="padding-block: 0px 0px; padding:0px 0px; border: 0px solid rgb(226, 15, 15); float:none; position:relative; display:inline-block">

		{# here we iterate over every item in our list which we will pass from bar() #}
		 {% for route in routes['routes'] %}


		 <div style="border-radius: 15px; margin:4px 4px; padding: 2px 2px; width:80;  float:left; border: 1px solid black; text-align: center;">
				
				<font style="font-size:18px; "><b>{{ route['routenum'] }}</b>  </font>
                <input type="checkbox" name="route" value="{{ route['routenum'] }}" style="width: 14px; height: 14px; margin: 0px 0px; padding: 0px 0px; border: 0px solid black; text-align: center;">

                <font style="font-size:12px; ">{{ route['grade'] }}</font>
				
              
			 <!--i>{{route['grade'] }}</i-->
			  <!-- {{ route['name'] }} -->
			 <!--td> {{ route['opendate'] }}</td-->
		</div>
		 {% endfor %}


	</div>
</div><br>
{% if loop.index % 2 == 0 and not loop.last %}
<div style="page-break-before: always;"></div>
{% endif %}
{% endfor %}


<div>

			
</div>
			


