


{% extends "skala3ma-layout.html" %}

{% block topcontent %}

{% include "gym-menu.html" %}
                                    
    


{% endblock %}


	{% block secondarycontent %}





	{% if gym is not none and gym is not undefined  %}





        <style>
            /* Style for the modal dialog container */
            .modal-container {
                display: none;
                position: fixed;
                z-index: 1023;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgba(0, 0, 0, 0.4);
            }
    
            /* Style for the modal dialog box */
            .modal-box {
                background-color: #fff;
                margin: 2% auto;
                padding: 0px 0px 15px 0px;
                border: 1px solid #888;
                width:370px;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%); 
                display: block;
                
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 14px;
                color: #333;
            }
    
            /* Style for the close button */
            .close-button {
                position: relative;
                padding: 0px 15px 0px 0px;
                justify-content: right;
                text-align: right;
                
                color: #aaa;
                font-weight: bold;
                
            }

            .form-row-heading {
                          display: flex;
                          justify-content: center;
                          align-items: baseline;
                          margin: 1px;
                          font-size: 20px;
                          color: #292424;
                          font-weight: bold;
                          vertical-align: bottom;
                          
                        }
                        .form-row {
                          display: flex;
                          
                          align-items: center;
                          font-size: 18px;
                          margin: 10px 6px 10px 6px;
                          /*word-wrap: break-word;*/
                          
                        }
                      
                        .form-row label {

                          justify-content: left;
                          text-align: left;
                          display: block;
                          margin-right: 6px;
                          
                        }
                      
                        .form-row input,
                        .form-row select,
                        .form-row textarea {
                          flex: 1;
                        }
        </style>
    


        


        <script>


            // Get the modal dialog container
            var modal = document.getElementById("modal");
            var editDiv = document.getElementById('editContent');
            var mainModalMenuDiv = document.getElementById('mainModalMenu');
            var modalBoxDiv = document.getElementById('modal-box');
            var routeRatingDiv = document.getElementById('route-rating-div');
            var currentRow;
            var mod_type;
            var isLoggedIn = false;


            function showEditDiv(){
                mainModalMenuDiv.style.display='none'
                editDiv.style.display='block';
            }





            </script>
{%endif%}






  



<div class="container-fluid">
    

    
    <div class="row">
        <div class="col m-2 bg-light border rounded-1">
            <div class="row bg-body-secondary">
            <div class="col text-start">{{ reference_data['current_language'].about}}</div>
            <div class="col text-end"> <a href="/gyms/{{gym['id']}}/edit" title="Edit"><span alt="alttext" class="icon-wrench "></span></a></div>
        </div>
            <div class="h-100 p-4 mb-3  text-center">

             <div id="pizza">  </div>
        <script>
            // Example usage
        const colors = ['#FF0000', '#FF7F00', '#FFFF00', '#7FFF00', '#00FF00', '#00FF7F', '#00FFFF', '#007FFF'];
        //const svgPizza = generatePizzaSVG(100, colors);
        //document.getElementById('pizza').innerHTML = svgPizza;
        </script>
                

          

            {{ gym['address'] }} <!--i class="icon-location"></i--><br>
            <a href="{{gym['homepage']}}" alt="{{gym['homepage']}}" target="tab">{{gym['homepage']}}</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m-2 bg-light border rounded-1">
            <div class="row bg-body-secondary">
                <div class="col text-start">{{ reference_data['current_language'].climbers}}</div>
                <div class="col text-end"> </div>
            </div>
        <div class="col" id="users-div-col">
            <div class="h-100 pt-2 mt-2  " id="users-div">
                
            </div>
        </div>
       
    </div>
    </div>
       

    <br><br>

</div>


	<!-- Trigger the modal with a button -->


   


    <script>

        var routes;
        var activitiesRecorded = 0;
        var usersRegistered = 0;
      
        function fetchServerData()
        {
          const gymid = "{{gymid}}";
          const routeListId = "{{routesid}}";

          fetch(`/api1/gym/${gymid}`)
          .then(response => response.json())
          .then(data => {
              // use the retrieved data here
            //console.log(data);
            // set the gym-name span from data name param
            document.getElementById('gym_name').textContent = data.name;


              
          })
          .catch(error => console.error(error));
      
          fetch(`/api1/gym/${gymid}/${routeListId}`)
          .then(response => response.json())
          .then(data => {
              // use the retrieved data here
              // console.log(data);
              //document.getElementById('routes_name').innerHTML = "{{ reference_data['current_language'].routes}} - " +data.name;
              //routes=data.routes
              //renderTabulatorTable(routes);
              
              //renderCarousel(routes);
          })
          .catch(error => console.error(error));
      
          fetch(`/api1/user`)
          .then(response => response.json())
          .then(data => {
              // use the retrieved data here
                //console.log(data);
                if (Object.keys(data).length === 0) {
                    // data is an empty object
                }
                else{
                    isLoggedIn = true;
                }
                
            }                
          )
          .catch(error => console.error(error));

          fetch(`/api1/activity/gym/${gymid}/routes/${routeListId}`)
          .then(response => response.json())
          .then(data => {
              // use the retrieved data here
                //console.log(data);
                if (Object.keys(data).length === 0) {
                    // data is an empty object
                }
                else{
                    activitiesRecorded = Object.keys(data).length;
                    //isLoggedIn = true;
                    //showRatingUi();
                }
                
            }                
          )
          .catch(error => console.error(error));


          fetch(`/api1/gym/${gymid}/users`)
          .then(response => response.json())
          .then(data => {
              // use the retrieved data here
                //console.log(data);
                if (Object.keys(data).length === 0) {
                    // data is an empty object
                    // remove div called users-div
                    var usersDiv = document.getElementById('users-div-col');
                    usersDiv.remove();
                }
                else{
                    usersRegistered = Object.keys(data).length;
                    usersDiv = document.getElementById('users-div');
                    // create div element
                    //var div = document.createElement('div');
                    // loop over usersRegistered and create a div for each user
                    for (var i = 0; i < usersRegistered; i++) {
                        //console.log(data[i]);
                        var user = data[i];
                        var userDiv = document.createElement('div');
                        // set class col on userDiv
                        userDiv.className = 'd-inline-flex text-secondary focus-ring py-1 ms-1 mb-1 px-2 text-decoration-none border rounded-2';
                        // Check if the user has permission for the given gym
                        //console.log(gymid);
                        //console.log(user);
                        var hasPermission = user.permissions && user.permissions.gyms.includes(gymid);
                        var userName = user.firstname;
                        if (hasPermission) {
                            //userName = ' <i class="bi bi-person-gear"></i> &nbsp;'+userName; // Add a star next to the name
                            //userName = ' <i class="bi bi-balloon"></i> &nbsp;'+userName; // Add a star next to the name
                            //userName = ' <i class="bi bi-diamond"></i> &nbsp;'+userName; 
                            //userName = ' <i class="bi bi-disc"></i> &nbsp;'+userName; 
                            //userName = ' <i class="bi bi-flower3"></i> &nbsp;'+userName; 
                            //userName = ' <i class="bi bi-hammer"></i> &nbsp;'+userName; 
                            userName = ' <i class="icon-wrench"></i> &nbsp;'+userName; 
                            //userName = ' <i class="bi bi-info"></i> &nbsp;'+userName; 
                            //userName = ' <i class="bi bi-lightbulb"></i> &nbsp;'+userName; 
                            //userName = ' <i class="bi bi-nut"></i> &nbsp;'+userName; 
                            //userName = ' <i class="bi bi-pencil"></i> &nbsp;'+userName; 
                            //userName = ' <i class="bi bi-shield-lock"></i> &nbsp;'+userName; 
                            //userName = ' <i class="bi bi-signpost"></i> &nbsp;'+userName; 
                            //userName = ' <i class="bi bi-sliders"></i> &nbsp;'+userName; 
                            //userName = ' <i class="bi bi-tools"></i> &nbsp;'+userName; 
                            //userName = ' <i class="bi bi-wrench-adjustable"></i> &nbsp;'+userName; 
                            //userName = ' <i class="bi bi-wrench"></i> &nbsp;'+userName; 
                            

                        }
                        userDiv.innerHTML = userName+'  &nbsp;';
                        // add pictureurl from user to div as an image
                        var img = document.createElement('img');
                        img.src = user['pictureurl'];
                        img.width = 30;
                        
                        // add the image to the div
                        userDiv.appendChild(img);
                        usersDiv.appendChild(userDiv);
                    }
                    //isLoggedIn = true;
                    //showRatingUi();
                }
                
            }                
          )
          .catch(error => console.error(error));

          


        }
      



      function renderCarousel(routes)
      {


      } 
      
   
    
        fetchServerData();
        
        </script>
      
      
      


{% endblock %}