
<ul class="nav justify-content-left ">
   
    <table width="100%" style=" table-border:1"><tr><td width="50%">
    <a href="/gyms/{{ gymid}}/main"  class="nav-link sf-menu2"><img src="/image/{{  gym.get('logo_img_id') }}"  height="80dvh"/><br>
    <span id="{{ gym['name'] }}">{{ gym['name'] }}</span> </a>

    </td><td>
    <a href="/gyms/{{gymid}}/{{ gym['routesid']}}" class="sf-menu2 nav-link">{{ reference_data['current_language'].topo }}</a> 
    <a href="/gyms/{{gymid}}/{{ gym['routesid']}}/stats" class="sf-menu2 nav-link">Stats</a>
                        <!--li><a href="/competitionDetails/{{ competitionId}}">{{ reference_data['current_language'].climbers }}</a> </li-->
    <!--a href="/gyms/{{gymid}}/climbers" class="nav-link sf-menu2">{{ reference_data['current_language'].climbers }}</a-->
    <!--a href="/gyms/{{gymid}}/{{ gym['routesid']}}/beta" class="sf-menu2 nav-link">{{ reference_data['current_language'].routes }} (beta)</a--> 

    <a href="/gyms/{{gymid}}/qrcode" class="sf-menu2 nav-link">QR Code</a> 

    <a href="/gyms/{{gymid}}/{{ gym['routesid']}}/discs" class="sf-menu2 nav-link">{{ reference_data['current_language'].Discs }}</a> 
    </td></tr></table>
</ul>
