


{% extends "skala3ma-layout.html" %}

{% block topcontent %}

{% include "gym-menu.html" %}

{% endblock %}


	{% block secondarycontent %}





<div class=" container-fluid " >
    <div class="row">

      
        <div class="col text-end justify-content-end p-4">
            <img src="/image/{{  gym.get('logo_img_id') }}"  height="120"/>
            </div>
            <div class="col justify-content-left align-items-center">
       <br>
                <h1  class="display-4"> {{ gym['name'] }}</h1> 
                
                <div class="row">
                    <div class="col-1 text-end">
                         <label for="default_routes" class="col-form-label">{{ reference_data['current_language'].routes }}:  </label>
                     </div>
                     <div class="col">
                         <select name="default_routes" class="form-select" id="default_routes" onchange="document.location.href='/gyms/{{gym['id']}}/'+this.value">
             
                         {% for route in all_routes %}
                             <option name="id" value="{{all_routes[route]['id']}}" {% if all_routes[route]['id'] == routes['id'] %} selected {% endif %}  >{{all_routes[route]['name']}}</option>
                         {% endfor %}
             
                         </select>
                     </div>
                 </div>

        </div>
      
    </div>
    
    
</div>
    



<div class="container-fluid text-center justify-content-left">  
   

    <div class="row">  
        <div class="col bg-light border rounded-1">
                <div class="row bg-body-secondary ">
                <div class="col text-start"> {{ routes['name'] }}</div>
                <div class="col">

                    <nav class="navbar navbar-expand-md p-0 ">
                        <div class="container-fluid ">
                          <a class="navbar-brand" href="#"> </a>
                          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
                            <ul class="navbar-nav  text-nowrap ">
                             
                              <li class="nav-item">
                               
                                <a href="/gyms/{{gym['id']}}/{{ routes['id']}}/edit" alt="{{gym['homepage']}}" class="nav-link active p-1">
                                    <i class="icon-list"></i> Batch edit</a>
                              </li>
                            
                              <li class="nav-item">
                               
                                <a href="#" id="print-table" alt="{{gym['homepage']}}" class="nav-link active p-1">
                                    <i class="icon-print"></i> Printable view</a>
                              </li>
                              <li class="nav-item">
                              <a href="/gyms/{{gym['id']}}/{{routes['id']}}/routes_csv" alt="download" class="nav-link active p-1">
                                <i class="icon-download2"></i> Download CSV</a>
                                </li>
                            </ul>
                           
                          </div>
                        </div>
                      </nav>
                   
                </div>
           </div>
            <div class="row">

                {% include "component-routes.html" %}

                <script>       
                
                const userConfig = {
                    gymid: "{{gymid}}",  
                    routeListId: "{{routesid}}",
                    groupBy: "line", // Override the default groupBy setting
                    initialSort: [{ column: "grade", dir: "desc" }], // Override the default initialSort setting
                    user_can_edit_gym: {{ user_can_edit_gym|tojson }}
                };
                
                    configureRoutesTable(userConfig);
                </script>
                
               
            </div>
        </div>

    </div>

</div>





{% endblock %}