


{% extends "skala3ma-layout.html" %}

{% block topcontent %}


{% include "gym-menu.html" %}

{% endblock %}


	{% block secondarycontent %}

	
<div class=" text-center heading-section animate-box">
                <br>
                <h3>{{ gym['name'] }}</h3>
</div>


    

<script>

	//me.addRow = function(btn){
     // btn ? btn.parentNode.parentNode.insertAdjacentHTML('afterend', row1): table.insertAdjacentHTML('beforeend',row1);
      //setIds();
    //}


	function addRowAtId(id) {
	const d = new Date();
	let time = d.getTime();

  var row = document.getElementById(id);
	row.id=time;
  var cell1 = row.insertCell(0);
  var cell2 = row.insertCell(1);
  var cell3 = row.insertCell(2);
  var cell4 = row.insertCell(3);
  var cell5 = row.insertCell(4);
  var cell6 = row.insertCell(5);
  var cell7 = row.insertCell(6);
  var cell8 = row.insertCell(7);
  cell1.innerHTML = '<input type="text" value="" name="routeline" id="routeline1"/>';
  cell2.innerHTML = '<input type="text" value="" name="routegrade" id="routegrade1"/>';
  cell3.innerHTML =  i+'new cell'+time
  cell8.innerHTML = ' <a  onclick="addRowAtId('+time+')" >add</a><a  onclick="deleteRow('+(time)+')" >del</a>';

	var rowHtml = `
	testing one
	testing two
	`;
  var rowHTML = row.outerHTML;
  var rowParent = row.parentNode;

  var row = row.parentNode.insertAdjacentHTML('afterend', row);


}

	function addRow(rowindex) {
	const d = new Date();
	let time = d.getTime();
	var rowid = 0;
	var table = document.getElementById("routestable");

	for (var i = 0, row; row = table.rows[i]; i++) {
		var rowidtemp = row.id
		if (rowidtemp==rowindex){
			rowid = i;
			break;
			}
	}

  var row = table.insertRow(rowid);
  row.id=time;
  var cell1 = row.insertCell(0);
  var cell2 = row.insertCell(1);
  var cell3 = row.insertCell(2);
  var cell4 = row.insertCell(3);
  var cell5 = row.insertCell(4);
  var cell6 = row.insertCell(5);
  var cell7 = row.insertCell(6);
  var cell8 = row.insertCell(7);
  cell1.innerHTML = '<input type="text" value="" name="routeline" id="routeline1"/>';
  cell2.innerHTML = '<input type="text" value="" name="routegrade" id="routegrade1"/>';
  cell3.innerHTML =  i+'new cell'+time
  cell8.innerHTML = ' <a  onclick="addRow('+rowindex+')" >add</a><a  onclick="deleteRow('+(time)+')" >del</a>';
}

function deleteRow(id) {
  //document.getElementById("routestable").deleteRow(i);
  document.getElementById(id).remove();

}
</script>



<div class="container">

    <div class="row">

	    <form action="/gyms/{{gym['id']}}/update" method="POST" enctype="multipart/form-data">

            <div class="form-group">
			<label for="gymName">{{ reference_data['current_language'].nazwa }}:</label><br>
			<input class="form-control" name="gymName" size="40" id="gymName" type="text" value="{{ gym['name'] }}"/><br>

            <label for="address">{{ reference_data['current_language'].address }}:</label><br>
            <input class="form-control" name="address" id="address" type="address"  value="{{ gym['address'] }}" size="80"/>
            <br>

            


            <br>
            <label for="lat">Latitude, longitude</label>
            <div class="row">
                <div class="col">
                    <input class="form-control" name="lat" id="lat" value="{{ gym['lat'] }}" size="40"/>
                </div>
                <div class="col">
                    <input class="form-control" name="lon" id="lon" value="{{ gym['lon'] }}" size="40"/>
                </div>
            </div>				<br>


            <label for="file1">Logo (max 4MB):<br>
                <img src="/image/{{ gym.get('logo_img_id') }}" width="100"></label>
                    <input class="form-control" type="file" name="file1" id="file1"><br>

            <label for="url">{{ reference_data['current_language'].link }}:</label><br>
                <input class="form-control" name="url" id="url"  size="80" value="{{ gym['homepage'] }}" />
                                    <br>


            <label for="organization">{{ reference_data['current_language'].organization }}:</label><br>
            <input class="form-control" name="organization" id="organization" type="organization" value="{{ gym['organization'] }}" size="80"/>
                                    <br>

           
                <label for="default_routes">{{ reference_data['current_language'].routes }}</label>
                <select class="form-control" name="default_routes" id="default_routes">
                    {% for route in all_routes %}
                        <option value="{{all_routes[route]['id']}}" {% if all_routes[route]['id'] == gym['routesid'] %} selected {% endif %}>
                            {{all_routes[route]['name']}}
                        </option>
                    {% endfor %}
                </select>
           
                <br>

                <!-- Input field for look-ahead search -->
                <div class="form-group">
                    <label for="user-search"> {{ reference_data['current_language'].authorized_user}} </label>
                    <input type="text" class="form-control" id="user-search" placeholder="Search for users...">
                    <input type="hidden" id="userId" name="userId">
                    <div id="suggestions" class="list-group mt-2"></div>
                </div>
            </div>





               


            <button name=save value="Save" class="btn btn-success btn-lg" data-translate-key="save">SAVE</button>
    	</form>



    </div>


  
    <br><br>
    <script>
       
   // Add DOMContentLoaded event listener using the named function
   document.addEventListener('DOMContentLoaded', loadUserLookAhead());
</script>
<br><br><br><br><br><br><br><br><br><br>


</div>
{% endblock %}