


{% extends "skala3ma-layout.html" %}

{% block topcontent %}


{% include "gym-menu.html" %}

{% endblock %}


	{% block secondarycontent %}

	
<div class=" text-center heading-section animate-box">
                <br>
                <h3>{{ gym['name'] }}</h3>
</div>


    

<script>

	//me.addRow = function(btn){
     // btn ? btn.parentNode.parentNode.insertAdjacentHTML('afterend', row1): table.insertAdjacentHTML('beforeend',row1);
      //setIds();
    //}


	function addRowAtId(id) {
	const d = new Date();
	let time = d.getTime();

  var row = document.getElementById(id);
	row.id=time;
  var cell1 = row.insertCell(0);
  var cell2 = row.insertCell(1);
  var cell3 = row.insertCell(2);
  var cell4 = row.insertCell(3);
  var cell5 = row.insertCell(4);
  var cell6 = row.insertCell(5);
  var cell7 = row.insertCell(6);
  var cell8 = row.insertCell(7);
  cell1.innerHTML = '<input type="text" value="" name="routeline" id="routeline1"/>';
  cell2.innerHTML = '<input type="text" value="" name="routegrade" id="routegrade1"/>';
  cell3.innerHTML =  i+'new cell'+time
  cell8.innerHTML = ' <a  onclick="addRowAtId('+time+')" >add</a><a  onclick="deleteRow('+(time)+')" >del</a>';

	var rowHtml = `
	testing one
	testing two
	`;
  var rowHTML = row.outerHTML;
  var rowParent = row.parentNode;

  var row = row.parentNode.insertAdjacentHTML('afterend', row);


}

	function addRow(rowindex) {
	const d = new Date();
	let time = d.getTime();
	var rowid = 0;
	var table = document.getElementById("routestable");

	for (var i = 0, row; row = table.rows[i]; i++) {
		var rowidtemp = row.id
		if (rowidtemp==rowindex){
			rowid = i;
			break;
			}
	}

  var row = table.insertRow(rowid);
  row.id=time;
  var cell1 = row.insertCell(0);
  var cell2 = row.insertCell(1);
  var cell3 = row.insertCell(2);
  var cell4 = row.insertCell(3);
  var cell5 = row.insertCell(4);
  var cell6 = row.insertCell(5);
  var cell7 = row.insertCell(6);
  var cell8 = row.insertCell(7);
  cell1.innerHTML = '<input type="text" value="" name="routeline" id="routeline1"/>';
  cell2.innerHTML = '<input type="text" value="" name="routegrade" id="routegrade1"/>';
  cell3.innerHTML =  i+'new cell'+time
  cell8.innerHTML = ' <a  onclick="addRow('+rowindex+')" >add</a><a  onclick="deleteRow('+(time)+')" >del</a>';
}

function deleteRow(id) {
  //document.getElementById("routestable").deleteRow(i);
  document.getElementById(id).remove();

}
</script>



<div class="container">

    <div class="row">

	    <form action="/gyms/{{gym['id']}}/update" method="POST" enctype="multipart/form-data">


			<label for="gymName">{{ reference_data['current_language'].nazwa }}:</label><br>
			<input name="gymName" size="40" id="gymName" type="text" value="{{ gym['name'] }}"/><br><br>

            <label for="address">{{ reference_data['current_language'].address }}:</label><br>
            <input name="address" id="address" type="address"  value="{{ gym['address'] }}" size="80"/>
							<br><br>


            <label for="file1">Logo (max 4MB):<br>
                <img src="/image/{{ gym.get('logo_img_id') }}" width="100"></label>
                    <input type="file" name="file1" id="file1"><br>

            <label for="url">{{ reference_data['current_language'].link }}:</label><br>
                <input name="url" id="url" type="url" size="80" value="{{ gym['homepage'] }}" />
                                    <br><br>


            <label for="organization">{{ reference_data['current_language'].organization }}:</label><br>
            <input name="organization" id="organization" type="organization" value="{{ gym['organization'] }}" size="80"/>
                                    <br><br>


            <label for="default_routes">{{ reference_data['current_language'].routes }}</label> 
            <br>
            <select name="default_routes" id="default_routes">

            {% for route in all_routes %}
                <option name="id" value="{{all_routes[route]['id']}}" {% if all_routes[route]['id'] == gym['routesid'] %} selected {% endif %}  >{{all_routes[route]['name']}} </option>

            {% endfor %}


            </select>

            <br><br>
            <label for="permissioned_user">{{ reference_data['current_language'].authorized_user}}:</label>
            <br>
            <select name="permissioned_user" id="permissioned_user">
                                <option value="choose" size="20" ></option>

            {% for email in user_list %}

                                <option value="{{email}}" size="20" >{{email}}</option>
            {% endfor %}

                                </select>&nbsp;&nbsp;&nbsp;&nbsp;



                <br><br>




            <button name=save value="Save" class="btn btn-success btn-lg">{{ reference_data['current_language'].save}}</button>
            <button name=delete value="Delete" class="btn btn-danger btn-lg">{{ reference_data['current_language'].delete_gym}}</button>
    	</form>



    </div>

    <br><br>






</div>
{% endblock %}