
<!-- START gyms-menu -->
<div class="nav  justify-content-left">
  <ul class="nav justify-content-left">
  
    <li>
      <a href="/gyms" class="nav-link sf-menu2">
        <i class="bi bi-grid-fill"></i>
        <span data-translate-key="Gallery">{{ reference_data['current_language'].Gallery }}</span>
      </a>
    </li>
    <li>
      <a href="/gyms/search" class="nav-link sf-menu2">
        <i class="bi bi-search"></i>
        <span data-translate-key="Search">Search</span>
      </a>
    </li>
     <!--li>
      <a href="/gyms/add" class="nav-link sf-menu2">
        <i class="bi bi-lock-fill"></i>
        <span data-translate-key="create_gym">Create</span>
      </a>
    </li-->
    
  </ul>
</div>
<br>
