


{% extends "skala3ma-layout.html" %}

{% block topcontent %}

			<!--div class="container"-->
		<!--		<div class="row" style="background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.8)), url(public/images/group-of-people-1587927.jpg);  background-size: cover;">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">


					<br>	<h3>{{ subheader_message }}</h3>


			<h4>Below tracks are in your playlist but you never added a full album of the artist. These could be some gems!</h4>
</div>
				</div>
				-->
<!--/div-->

{% endblock %}


	{% block secondarycontent %}

<!--script>
$(document).ready(function () {
    $('#gymtable1').DataTable();
});
</script-->

	





<!-- gyms.html -->

    <div>
		<div class="text-center heading-section">
			<br>

			    {% if gym is not none and gym is not undefined  %}
                        not used
						<img src="/image/{{ gym.get('logo_img_id') }}" width="150" >

						<font size="+5"> {{ gym['name'] }}</font>
						<a href="/gyms/{{gym['id']}}/edit" alt="{{gym['homepage']}}"><i class="icon-wrench"></i></a>
							<a href="/gyms/{{gym['id']}}/{{gym['routesid']}}/edit" alt="{{gym['homepage']}}"><i class="icon-list"></i></a>

						<a href="/gyms/{{gym['id']}}/{{gym['routesid']}}/download" alt="{{gym['homepage']}}"><i class="icon-download"></i></a>
                        <a href="/gyms/{{gym['id']}}/{{gym['routesid']}}/csv" alt="{{gym['homepage']}}"><i class="icon-file"></i></a>
						
							<br>
						{{ gym['address'] }} <i class="icon-location"></i><br>
						<a href="{{gym['homepage']}}" alt="{{gym['homepage']}}" target="tab">{{gym['homepage']}}<i class="icon-home"></i></a>

					{% else %}
						<h3>{{ reference_data['current_language'].gyms }} 

						{% if can_create_gym is true %}
                        <a href="/gyms/add" ><i class="bi bi-plus-circle-fill" style="font-size: 3rem; color: #46cb86;"></i></a>
							
						{% endif %}
                        </h3>
                        {% if can_create_competition is true %}
							
                        

                        {% endif %}
				{% endif %}
		</div>
    </div>


    <div class="container">
        <div class="row text-center">

        {% if home_gym is not none and home_gym is not undefined  %}
       
            <h1></h1>

            <div class="col d-flex justify-content-center align-items-center">
                
                <div class=" fh5co-blog border-0 text-center"  style="width: 10rem;"  >
                   
                    <div id='home_gym' class="fh5co-blog">       
                        <a href="gyms/{{ home_gym['id'] }}">
                        <div class="blog-text">
                            <div class="text-center">
                                <img src="/image/{{  home_gym['logo_img_id'] }}" >
                                <span class="posted_by"></span>
                                <br><br>    
                                <h3 class="display-2">{{ home_gym['name'] }}</h3>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
            


		{%endif %}



        {% if permissioned_gyms is not none and permissioned_gyms is not undefined %}
            
                    <h1></h1>
            {% for gymid in permissioned_gyms %}


                <div class="col d-flex justify-content-center align-items-center">
                    <div class=" fh5co-blog border-0 text-center"  style="width: 10rem;"  >
                       

						<div id='albumArt{{ loop.index }}' class="fh5co-blog"
							 onmouseover="undefined"
							 onmouseleave="undefined">       
							<a href="gyms/{{ gymid }}">
							<div class="blog-text">
								<div class="text-center">
								    <img src="/image/{{  permissioned_gyms[gymid].get('logo_img_id') }}" >
									<span class="posted_by">{{ permissioned_gyms[gymid]['date'] }}</span>
									<br><br>
									<h3 class="display-2">{{ permissioned_gyms[gymid]['name'] }}</h3>

								</div>
							</div>
							</a>
						</div>
					</div>
                </div>

			{% endfor %}

        {% endif %}




        {% if gyms is not none  %}
           
		

            {% if home_gym is not none or permissioned_gyms is not none  %}
            <h1></h1>
            {% endif %}
                <div class="row   g-4 ">
        
            {% for gymid in gyms %}


                <div class="col d-flex justify-content-center align-items-center">
                    <div class=" fh5co-blog border-0"  style="width: 16rem;"  >


						<div id='albumArt{{ loop.index }}' class="fh5co-blog"
							 onmouseover="undefined"
							 onmouseleave="undefined">       
							<a href="gyms/{{ gymid }}">
							<div class="blog-text">
								<div class="text-center">
								    <img src="/image/{{  gyms.get(gymid).get('logo_img_id') }}" >
                                    
									<span class="posted_by">{{ gyms[gymid]['date'] }}</span>
									<br><br>
									<h3 class="display-2">{{ gyms[gymid]['name'] }}</h3>

								</div>
							</div>
							</a>
						</div>
					</div>
                 </div>
                    
            
			{% endfor %}
        </div>
        {% endif %}




		

	</div>
</div>


{% endblock %}