


{% extends "layout.html" %}

{% block topcontent %}

			<!--div class="container"-->
				<div class="row" style="background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.8)), url(public/images/group-of-people-1587927.jpg);  background-size: cover;">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">


					<br>	<h3>{{ subheader_message }}</h3>
	<div style="text-align: left;">This site is a collection of various types of analysis on your Spotify data.
		<b>Top artists</b> shows a text graph of your artists and genres as known by Spotify.
		<b>Tracks list</b> is a track list ordered by last added.

		Current work involves Plotly and data clustering using
						scikit-learn packages to plot features against time to analyze evolution (or lack thereof)
		of  musical tastes. <b>Orphaned tracks</b> analysis is trying to find all tracks that have been abandoned. This means that
									you never added any albums of this artist. Maybe you liked one song and forgot about
									this cool band? Or maybe it's a stinker?
	</div><br><br>

						<img src="public/images/spotify-app-logo.png">
						<!--<h3>Playlists:		<b>{{'0' if library['playlists'] == None else  library['playlists']|length}}</b>
<br>
					Albums:	<b>{{'0' if library['albums'] == None else  library['albums']|length}}</b>
							<br>
						Tracks:	<b>{{'0' if library['tracks'] == None else  library['tracks']|length}}</b>
						</h3>-->


	<!--h4><a href="/datadownload">Update all Spotify data</a></li></h4-->

    <div class="chart" id="bargraph">
    <script>
        var graphs = {{plot | safe}};
        Plotly.plot('bargraph',graphs,{});
    </script>
    </div>
</div>
				</div>
{% endblock %}

	{% block secondarycontent %}


{% endblock %}