
{% extends "layout.html" %}


{% block subheader %}

{{ subheader_message }}

{% endblock %}

    {% block body %}

<ul>

{% for key in sortedA %}
    key: {{key}} <br>
    {% for rec in sortedA[key] %}
    -- {{rec}} <br>

    {% endfor %}
      {% endfor %}
</ul>

 <footer>
      <a href="https://gomix.com">
        Remix this in Gomix
      </a>
    </footer>




    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>


  </body>
</html>
{% endblock %}