
{% extends "layout.html" %}


{% block subheader %}

{{ subheader_message }}

{% endblock %}

    {% block body %}


    <div class="chart" id="bargraph">
    <script>
        var graphs = {{plot | safe}};
        Plotly.plot('bargraph',graphs,{});
    </script>
    </div>

<img src="/plot.png?{{diagramVersion}}" alt="my plot">
<br><br>



 <footer>
      <a href="https://gomix.com">
        Remix this in Gomix
      </a>
    </footer>




    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>


  </body>
</html>
{% endblock %}