
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Additive Spotify Analyzer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Additive Spotify Analyzer" />
	<meta name="keywords" content="python, spotify, scikit, flask, gevent, Jinja2, matplotlib, pandas, plotly" />


  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content="Spotify Additive Analyzer"/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="public/images/favicon.png?v5">
		<link rel="icon" href="public/images/favicon.png?v5">


	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,300' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="public/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="public/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="public/css/bootstrap.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="public/css/superfish.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="public/css/flexslider.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="public/css/magnific-popup.css">
	<!-- Date Picker -->
	<link rel="stylesheet" href="public/css/bootstrap-datepicker.min.css">
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css">

	<!-- CS Select -->
	<link rel="stylesheet" href="public/css/cs-select.css">
	<link rel="stylesheet" href="public/css/cs-skin-border.css">
	
	<link rel="stylesheet" href="public/css/style.css">


	<!-- Modernizr JS -->
	<script src="public/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="public/js/respond.min.js"></script>
	<![endif]-->
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

<script>
//https://stackoverflow.com/questions/9933619/html5-eventsource-listener-for-all-events





	function retrieveData() {
		var targetContainer = document.getElementById('progressMessages');
    	targetContainer.innerHTML = "<h3>Loading...</h3>";

		var eventSource = new EventSource("/progress");
		var lastUpdate = ' ';
		eventSource.onmessage = function(e) {
			var targetContainer = document.getElementById('progressMessages');
    		targetContainer.innerHTML = "<h3>"+e.data+"</h3>";
    		//targetContainer.innerHTML = e.data;
    		lastUpdate = e.data;

    		console.log('progress '+e.data+' '+e.msg)
    		console.log(e)


			if(e.data.includes('All data loaded')){
				console.log(' closing source ')
				eventSource.close()
			}
		};


		var targetContainer = document.getElementById('progressMessages');
    		//targetContainer.innerHTML = "<pre>"+e.data+"</pre>";
    		//targetContainer.innerHTML = " ";
		var updateButtonContainer = document.getElementById('updateButton');
		updateButtonContainer.innerHTML = ""



    	//console.log('Loading... ')
      $.ajax({
           type: "GET",
           url: '/datadownload',
           data:{action:'call_this'},
           success:function(html) {
             //alert(html);
             //window.location.href = '/'
             //targetContainer.innerHTML = "<h3>"+html+lastUpdate+"<br>";
             updateButtonContainer.innerHTML = 'Choose analysis from the main menu'
           }

      });
 }
	</script>



	</head>
	<body>

		<div id="fh5co-wrapper">
		<div id="fh5co-page">

		<header id="fh5co-header-section" class="sticky-banner">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
					<h1 id="fh5co-logo"><a href="/">Additive Spotify Analyzer</a> </h1>


					<!-- START #fh5co-menu-wrap -->
					<nav id="fh5co-menu-wrap" role="navigation">

						<ul class="sf-menu" id="fh5co-primary-menu">

							<li><a href="https://github.com/dmossakowski/additive-spotify-analyzer/" target="_blank"><i class="icon-github"></i></a></li>
							<li><a href="https://www.facebook.com/AdditiveSpotifyAnalyzer" target="_blank"><i class="icon-facebook2"></i></a></li>
								<li><a href="https://hackernoon.com/visualizing-the-data-spotify-data-for-favorite-artists-over-time-3p9r35h1" target="_blank"><i class="icon-dribbble2"></i></a>
								</li>
						{% if username is defined %}

							<!--li><a href="/progresstest">Progress</a></li-->
							<li><a href="/dataload">Update data</a></li>

							<li>
								<a href="/playlistDashboard" class="fh5co-sub-ddown">Playlists</a>
								<ul class="fh5co-sub-menu">
									<li><a href="/randomPlaylist">Random playlist</a></li>
									<li><a href="/playlistDashboard">Dashboard</a></li>

									<!--li><a href="/audio_features">Audio Features</a></li-->

								</ul>
							</li>
							<li>
								<a href="/orphanedTracks" class="fh5co-sub-ddown">Analysis</a>
								<ul class="fh5co-sub-menu">
									<li><a href="/orphanedTracks">Orphaned tracks</a></li>
									<li>
										 <a href="/topartists">Favorite artist gallery</a></li>


									<li><a href="/topgenres">Top genres</a></li>
									<li><a href="/trackslist">Track list</a></li>
									<!--li><a href="/audio_features">Audio Features</a></li-->

								</ul>
							</li>
							<li>
								<a href="/orphanedTracks" class="fh5co-sub-ddown">Charts</a>
								<ul class="fh5co-sub-menu">
									<li><a href="/audio_features">Audio features</a></li>

									<li><a href="/favorite_artists_over_time">Favorite artists</a></li>


								</ul>
							</li>
								{% endif %}
							<!--li><a href="blog.html">Blog</a></li-->
							<!--li class="active"><a href="blog.html">Blog</a></li-->
							<!--li><a href="contact.html">Contact</a></li-->
							{% if username is defined %}



							<li><a href="/logout">Logout</a></li>
							{% else %}
							<li>
								<a href="/#" class="fh5co-sub-ddown">Demo</a>
								<ul class="fh5co-sub-menu">

									<li><a href="/randomPlaylist">Random playlist</a></li>
									<!--li><a href="/audio_features">Audio Features</a></li-->

								</ul>
							</li>
							<li><a href="/login">Login</a></li>
							{% endif %}
						</ul>
					</nav>

				</div>
			</div>

		</header>


						<!--div id="progressMessages" class="badge col-xs-pull-3 text-center code pre"-->
			<!-- div id="progressMessages" class="text-center text-muted small samp pre"><font color="white">Welcome</font></div> -->
		<!-- end:header-top -->

				 {% block topcontent %} {% endblock %}


				 {% block secondarycontent %} {% endblock %}

		<!-- aside id="fh5co-hero" class="js-fullheight">
			<div class="flexslider js-fullheight">
				<ul class="slides">
			   	<li style="background-image: url(public/images/timeseries1.png);">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
			   				<div class="slider-text-inner">
			   				CONTENT

		   					</div>
			   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>
		-->

		<footer>
			<div id="footer">
				<div class="container">
					<div class="row row-bottom-padded-md">
						<div class="col-lg-5">
							<h3 class="section-title">About Spotify Analyzer</h3>
							<p>Analyze Spotify data from various angles. Using flask, Bootstrap javascript library, plotly,
								matplotlib, tensor-flow.
							</p>
						</div>


						<div class="col-lg-5">
							<h3 class="section-title">Links</h3>
							<ul>
								<li><a href="https://www.facebook.com/AdditiveSpotifyAnalyzer">Facebook page</a></li>

								<li><a href="https://github.com/dmossakowski/additive-spotify-analyzer/discussions">GitHub discssion</a></li>
								<li><a href="https://github.com/dmossakowski/additive-spotify-analyzer/issues">GitHub issues</a></li>
								<li><a href="https://hackernoon.com/visualizing-the-data-spotify-data-for-favorite-artists-over-time-3p9r35h1">Hackernoon article on favorite artists graph</a></li>
								<li><a href="https://hackernoon.com/spotify-audio-features-time-series-in-additive-spotify-analyzer-lp1q34vh">
									Hackernoon article on audio features time series</i></a></li>

							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<p class="fh5co-social-icons">
								<a href="https://github.com/dmossakowski/additive-spotify-analyzer"><i class="icon-github"></i></a>
								<a href="https://www.facebook.com/AdditiveSpotifyAnalyzer"><i class="icon-facebook2"></i></a>
								<a href="https://hackernoon.com/visualizing-the-data-spotify-data-for-favorite-artists-over-time-3p9r35h1"><i class="icon-dribbble2"></i></a>


								<!--a href="#"><i class="icon-dribbble2"></i></a>
								<a href="#"><i class="icon-youtube"></i></a-->
							</p>
							<p>Template copyright 2016 Free Html5 <a href="#">Module</a>. All Rights Reserved. <br>Made with <i class="icon-heart3"></i> by <a href="http://freehtml5.co/" target="_blank">Freehtml5.co</a> /
								Demo Images: <a href="https://pexels.com/" target="_blank">Pexels</a> &amp; <a href="http://blog.gessato.com/" target="_blank">Gessato</a></p>
						</div>
					</div>
				</div>
			</div>
		</footer>

	

	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- jQuery -->


	<script src="public/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="public/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="public/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="public/js/jquery.waypoints.min.js"></script>
	<script src="public/js/sticky.js"></script>
	<!-- Superfish -->
	<script src="public/js/hoverIntent.js"></script>
	<script src="public/js/superfish.js"></script>
	<!-- Flexslider -->
	<script src="public/js/jquery.flexslider-min.js"></script>
	<!-- Date Picker -->
	<script src="public/js/bootstrap-datepicker.min.js"></script>
	<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
		<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
	<!-- CS Select -->
	<script src="public/js/classie.js"></script>
	<script src="public/js/selectFx.js"></script>

	
	<!-- Main JS -->
	<script src="public/js/main.js"></script>


	</body>
</html>

