
{% extends "layout.html" %}

				{% block topcontent %}


		<aside id="fh5co-hero" class="js-fullheight">
			<div class="flexslider js-fullheight">
				<ul class="slides">
			   	<li style="background-image: url(public/images/people-having-a-concert-1190297.jpg);">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
			   				<div class="slider-text-inner">
<br><br>
												<a href="/login"><img src="public/images/Spotify_Logo_RGB_Green.png" width="470"><br>
		   						<h2 class="heading-title">Click to login</h2></a>
								<br><br><br>


		   					</div>
			   			</div>
				   		</div>
			   		</div>


			   	</li>
			  	</ul>
		  	</div>
		</aside>



								{% endblock %}

	{% block secondarycontent %}


{% endblock %}