


{% extends "skala3ma-layout.html" %}

{% block topcontent %}

			<!--div class="container"-->
		<!--		<div class="row" style="background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.8)), url(public/images/group-of-people-1587927.jpg);  background-size: cover;">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">


					<br>	<h3>{{ subheader_message }}</h3>


			<h4>Below tracks are in your playlist but you never added a full album of the artist. These could be some gems!</h4>
</div>
				</div>
				-->
<!--/div-->

{% endblock %}


	{% block secondarycontent %}

	<div class="container-fluid">
					<div class="col-md-8 col-md-offset-2 text-left heading-section animate-box">
						<br>
						<h3>{{ reference_data['current_language'].create_new }} </h3>
                        <font color="red">{{ reference_data['current_language'][error_code] }}   {{ error_code }}</font>
					
						{% if competitionName is not none  %}
				<a href="/competitionDashboard">  <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> back</a><br>

				<a href="/competitionDashboard/{{ competitionId}}/register">Registration link</a>

						{% else %}

                        
                        <div class="container">
                            <form action="/newCompetition" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <!-- Left Column -->
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="name" name="name" placeholder="Name" size="40">
                                            <label for="name">{{ reference_data['current_language'].nazwa }}:</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="date" class="form-control" id="date" name="date" placeholder="Date" size="30">
                                            <label for="date">{{ reference_data['current_language'].date }}:</label>
                                        </div>
                                         <div class="form-floating mb-3">
                                            <select class="form-control" id="competition_type" name="competition_type">
                                                <option value="0">{{ reference_data['current_language'].competition_type_adult_fsgt }}</option>
                                                <option value="1">{{ reference_data['current_language'].competition_type_ado_fsgt }}</option>
                                            </select>
                                            <label for="competition_type">{{ reference_data['current_language'].competition_type_adult_fsgt }} / {{ reference_data['current_language'].competition_type_ado_fsgt }}</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="number" class="form-control" id="max_participants" name="max_participants" placeholder="Max Participants" size="30" value="80">
                                            <label for="max_participants">{{ reference_data['current_language'].max_participants }}:</label>
                                        </div>
                                        <div class="mb-3">
                                            <label for="file1" class="form-label">Logo (max 4MB):</label>
                                            <input class="form-control-file" type="file" name="file1" id="file1">
                                        </div>
                                        <div class="form-floating mb-3">
                                            <select class="form-control" id="routes" name="routes">
                                                {% for club in clubs %}
                                                <option value="{{ club['routesid'] }}">{{ club['gymname'] }} - {{ club['routesname'] }}</option>
                                                {% endfor %}
                                            </select>
                                            <label for="routes">{{ reference_data['current_language'].gym }} - {{ reference_data['current_language'].routes }}:</label>
                                        </div>
                                       
                                    </div>
                                    <!-- Right Column -->
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3">
                                            <textarea style="height: 330px;" class="form-control" id="instructions" name="instructions" placeholder="Message" rows="20" maxlength="2000"></textarea>
                                            <label for="topmessage">{{ reference_data['current_language'].Instructions }}:</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- Submit Button Row -->
                                <div class="row">
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary btn-lg w-100">{{ reference_data['current_language'].submit }}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                        


						{% endif %}
					</div>
		<div class="container">
			<div class="row row-bottom-padded-md">






{% if climber is not none and climber is not undefined  %}
<div class="container">
	<div class="row">
				Name {{ climber['name'] }}
	({{ climber['sex'] }} ) from <i>{{climber['club'] }}</i>



				{{ climber['routesClimbed'] }}

</div>
		<div class="row">
			<form targt="/competitionDashboard/{{competitionId}}/updateRoutes">
<table style="width:100%"><tr>

					{% for i in range(100) %}
<td style="width:10%">

						<h3>	<a href="#" onclick="document.getElementById('route{{i}}').checked=!document.getElementById('route{{i}}').checked; return false;">
								 {{i}}</a>


								<input type="checkbox" id="route{{i}}" name="route{{i}}" value="{{i}}"
								{% if i in climber['routesClimbed'] %}checked{% endif %}

								></h3>

</td>
	{% if i%10==9 %} </tr><tr> {% endif %}

</td>

					{%endfor%}
</tr>
			</table>
				<button>Submit</button>
				</form>

</div>
	</div>
				{% endif %}









			</div>
		</div>
		<!-- fh5co-blog-section -->

	</div>

{% endblock %}