


{% extends "layout.html" %}

{% block topcontent %}

			<!--div class="container"-->
		<!--		<div class="row" style="background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.8)), url(public/images/group-of-people-1587927.jpg);  background-size: cover;">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">


					<br>	<h3>{{ subheader_message }}</h3>


			<h4>Below tracks are in your playlist but you never added a full album of the artist. These could be some gems!</h4>
</div>
				</div>
				-->
<!--/div-->

{% endblock %}


	{% block secondarycontent %}

	<div  style="background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.9)), url(public/images/group-of-people-1587927.jpg);  background-size: cover;">

		<!--div id="fh5co-blog-section" class="fh5co-section-gray"	-->
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<br>
						<h3>{{ subheader_message }} </h3>
						<p>

							This analysis is trying to find all tracks that have been abandoned. This means that you added a song to
							your library but you never added any albums of this artist. Maybe you liked one song and forgot about
									this cool band?  These could be some gems
							(or some real stinkers)!  </p>



					</div>

	<script type="text/javascript">
    function playPreview(audioId){
    	var audio = document.getElementById(audioId)
		audio.play();
	}

	function stopPreview(audioId){
    	var audio = document.getElementById(audioId)
		audio.pause();
	}
</script>
		<div class="container">
			<div class="row row-bottom-padded-md">

					{% for track in library['tracks'] %}
					{% if loop.index < 200 %}

					<div class="col-lg-3 col-md-4 col-sm-6">
						<div id='albumArt{{ loop.index }}' class="fh5co-blog animate-box"
							 onmouseover="playPreview('trackPreview{{ loop.index }}')"
							 onmouseleave="stopPreview('trackPreview{{ loop.index }}')">
							<a href="#"><img class="img-responsive" src="{{ track['track']['album']['images'][0]['url'] }}" alt=""></a>
							<div class="blog-text">
								<div class="prod-title">
									<h3>{{ track['track']['artists'][0]['name'] }}</h3>
									<span class="posted_by">{{ track['track']['name'] }}</span>
									<br>
									<span class="posted_by">{{ track['track']['dateaddedDisplay'] }}</span>
									<!--span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span-->

									<audio id="trackPreview{{ loop.index }}"  preload="auto">
									<source src="{{ track['track']['preview_url'] }}" controls></source>
									Your browser isn't invited for super fun time.
									</audio>

									<p></p>

								</div>
							</div>
						</div>
					</div>

					{% endif %}
					 {% endfor %}





			</div>
		</div>
		<!-- fh5co-blog-section -->

	</div>

{% endblock %}