


{% extends "layout.html" %}

{% block topcontent %}

			<!--div class="container"-->
		<!--		<div class="row" style="background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.8)), url(public/images/group-of-people-1587927.jpg);  background-size: cover;">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">


					<br>	<h3>{{ subheader_message }}</h3>


			<h4>Below tracks are in your playlist but you never added a full album of the artist. These could be some gems!</h4>
</div>
				</div>
				-->
<!--/div-->

{% endblock %}


	{% block secondarycontent %}

	<div  style="background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.9)), url(public/images/group-of-people-1587927.jpg);  background-size: cover;">

		<!--div id="fh5co-blog-section" class="fh5co-section-gray"	-->
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<br>
						<h3>{{ subheader_message }} </h3>{% if playlistName is not none  %}
				<a href="playlistDashboard">  <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> back</a><br>



						{% else %}


						{% endif %}


					</div>

	<script type="text/javascript">
    function playPreview(audioId){
    	var audio = document.getElementById(audioId)
		audio.play();
	}

	function stopPreview(audioId){
    	var audio = document.getElementById(audioId)
		audio.pause();
	}
</script>
		<div class="container">
			<div class="row row-bottom-padded-md">


				{% if playlistName is none  %}
	<table class="table table-borderless thead-dark table-hover table-dark table-sm border-0" data-toggle="table" >
         <thead borderless><tr>
		 <th></th>
         <th data-width="250" data-field="TimeAdded" data-filter-control="input">Name</th>
         <th data-field="artist" data-filter-control="input">Description</th>
         <th data-field="Owner" data-filter-control="select">Owner</th>
         <th data-filter-control-placeholder>Followers</th>
		 <th data-field="trackcount" data-filter-control="select">Track count</th>

         </tr>
         </thead>
    <tbody borderless>
         {# here we iterate over every item in our list which we will pass from bar() #}
         {% for key in library['playlists-tracks'] %}


                <tr><td>
					{% if key['images']|length >0 %}

							<a href="playlistDashboard?playlistName={{key['name']}}"><img class="img-responsive" src="{{ key['images'][0]['url'] }}" alt="" width="100"></a>
							{% endif %}

					</td>
					<td><a href="playlistDashboard?playlistName={{key['name']}}"><b>{{key['name']}}</b></a></td> <td><i>{{key['description']}}</i></td>
					<td><i>{{key['owner']['display_name']}} </i></td><td class="text-right"> {{key['followers']['total']}}</td>
					<td class="text-right"> {{key['tracks']['total']}}</td>
                    </tr>


         {% endfor %}
         </tbody>
     </table>


{% endif %}


{% if playlistName is not none  %}





					{% for track in playlist['tracks']['items'] %}
					{% if loop.index < 200 %}

<div class=" col-md-2 ">

						<div id='albumArt{{ loop.index }}' class="fh5co-blog animate-box"
							 onmouseover="playPreview('trackPreview{{ loop.index }}')"
							 onmouseleave="stopPreview('trackPreview{{ loop.index }}')">
							{% if track['track']['album']['images']|length >0 %}

							<img class="img-responsive" src="{{ track['track']['album']['images'][0]['url'] }}" alt="">
							{% endif %}
							<div class="blog-text">
								<div class="prod-title">
									<h4>{{ track['track']['artists'][0]['name'] }}</h4>
									<span class="posted_by">{{ track['track']['name'] }}</span>
									<br>
									<span class="posted_by">{{ track['track']['dateaddedDisplay'] }}</span>
									<!--span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span-->

									<audio id="trackPreview{{ loop.index }}"  preload="auto">
									<source src="{{ track['track']['preview_url'] }}" controls></source>
									Your browser isn't invited for super fun time.
									</audio>


								</div>
							</div>
						</div>
					</div>
					{% endif %}
					 {% endfor %}





{% endif %}


			</div>
		</div>
		<!-- fh5co-blog-section -->

	</div>

{% endblock %}