<img src='https://skala3ma.com/public/images/favicon.png' width="35">
<span style="color: #44C662; font-size: 38px; font-weight:700; font-family: 'sans-serif', 'Arial'"> SKALA3MA</span>

<br><br>{{ reference_data['current_language'].hello}} {{ email }},

<br><br>
{{ reference_data['current_language'].registration_email_text1}} 
<a href='{{confirm_url}}'>{{ reference_data['current_language'].registration_email_text2}}</a>.

<br><br>
{{ reference_data['current_language'].registration_email_text3}}  

<br><br>

