
<!DOCTYPE html>

<html lang="en">
	<head>
    <meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>SKALA3MA</title>
    <link rel="icon" type="image/x-icon" href="/public/images/favicon.png">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description" content="skala3ma" />
	<meta name="keywords" content="python, scikit, flask, gevent, Jinja2, matplotlib, pandas, plotly" />

	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
	<meta name="google-signin-client_id" content="1079392294623-u40kg3ucvuuegahfcogdq9vhcbgu8ab2.apps.googleusercontent.com">

    <style>
        .material-symbols-outlined {
          font-variation-settings:
          'FILL' 0,
          'wght' 600,
          'GRAD' 0,
          'opsz' 64;
          font-size: 44px;
        }
        </style>
	<link rel="shortcut icon" href="/public/images/favicon.png"/>
	<link rel="icon" href="/public/images/favicon.png?v5"/>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Heebo:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Monoton&family=Mukta:wght@200;300;400;500;600;700;800&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans+Adlam+Unjoined:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Slabo+27px&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

	<link rel="stylesheet" href="/public/css/languages.min.css"/>

	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/public/css/icomoon.css"/>
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js" ></script>
    


    <link
      rel="stylesheet"
      href="/public/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


	<script src="https://accounts.google.com/gsi/client" async></script>

    <!--link href="/public/css/tabulator_simple.min.css" rel="stylesheet"-->
    <link href="/public/css/tabulator_semanticui.min.css" rel="stylesheet">
    <script type="text/javascript" src="/public/js/tabulator.min.js"></script>
	
    <!--script src="https://cdn.jsdelivr.net/npm/apexcharts"></script-->
    <script src="/public/js/apexcharts.js"></script>

    
	<script src="/public/js/skala3ma-utils.js"></script>

    <link rel="stylesheet" href="/public/css/style.css">

    <link rel="stylesheet" href="/public/js/leaflet/leaflet.css"/>
    <script src="/public/js/leaflet/leaflet.js"></script>

<script>


   document.addEventListener('DOMContentLoaded', () => {
    // Load the language pack and replace translations
    loadLanguagePack().then(() => {
        replaceTranslations();
        // Call other functions that depend on translations being loaded
        initializeApp();
    }).catch(error => {
        console.error('Failed to load language pack:', error);
    });
});

function initializeApp() {
    // Your code that depends on translations being loaded
    //console.log('App initialized with translations');
}

	function retrieveData() {
		var targetContainer = document.getElementById('progressMessages');
    	targetContainer.innerHTML = "<h3>Loading...</h3>";

		var eventSource = new EventSource("/progress");
		var lastUpdate = ' ';
		eventSource.onmessage = function(e) {
			var targetContainer = document.getElementById('progressMessages');
    		targetContainer.innerHTML = "<h3>"+e.data+"</h3>";
    		//targetContainer.innerHTML = e.data;
    		lastUpdate = e.data;

    		console.log('progress '+e.data+' '+e.msg)
    		console.log(e)


			if(e.data.includes('All data loaded')){
				console.log(' closing source ')
				eventSource.close()
			}
		};


		var targetContainer = document.getElementById('progressMessages');
    		//targetContainer.innerHTML = "<pre>"+e.data+"</pre>";
    		//targetContainer.innerHTML = " ";
		var updateButtonContainer = document.getElementById('updateButton');
		updateButtonContainer.innerHTML = ""


 }


	function checkLoginState() {
  		FB.getLoginStatus(function(response) {
    		statusChangeCallback(response);
  		});
	}

	function statusChangeCallback(response)
	{
		if (response.status=="connected")
		{
			//console.log(' is connected boy')

		}else{
			//console.log(' iz no connect boy')
			//document.getElementById("fbbutton").style.visibility="visible";
		}
	}

	</script>

	</head>

	<body>

    <nav class="navbar navbar-expand-md bg-body-tertiary">
        <div class="container-fluid">
            <a class="skala3ma-logo navbar-brand " href="/">
            <img src="/public/images/favicon.png" height="30"> <span class="skala3ma-logo">SKALA3MA</span>
            </a> 
            
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><img src="{{session['picture']}}" height=27 referrerPolicy="no-referrer" class="d-inline-block align-text-top"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title skala3ma-logo" id="offcanvasNavbarLabel">
                        <img src="/public/images/favicon.png" height="30"> SKALA3MA</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">

                <!-- section shown below md width - mobile menu-->
                <div class="navbar-nav ml-auto d-md-none">
                
                <ul class="navbar-nav ml-left">
                    
                    <a class="nav-link fs-4 fw-medium" aria-current="page" href="/activities">{{ reference_data['current_language'].activities }}</a> 
                    <a class="nav-link fs-4 fw-medium" href="/gyms">{{ reference_data['current_language'].gyms }}</a>
                    <a class="nav-link fs-4 fw-medium" href="/competitionCalendar">{{ reference_data['current_language'].competitions }}</a>
                    <a href="/contact" class="nav-link fs-4 fw-medium">{{ reference_data['current_language'].Contact }}</a>

                               {% if session is defined and session['expires_at'] is defined %}
                               <hr>
                    <a href="/user" class="nav-link fs-4" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{session['picture']}}" height=27 referrerPolicy="no-referrer" class="d-inline-block align-text-top">
                        </a>
                
                    <a href="/user" class="nav-link fs-4">{{ reference_data['current_language'].myprofile }}</a>

                   
                    <a href="/myresultats" class="nav-link fs-4">{{ reference_data['current_language'].my_resultats }}</a>
                    
                    <a href="/logout" class="nav-link fs-4">{{ reference_data['current_language'].logout }}</a>

                    {% if session['godmode']  %}
                    <a href="/competitionRawAdmin" class="nav-link fs-4">Admin</a></li>
                    <a href="/adminV2" class="nav-link fs-4">Admin V2</a></li>

                    {% endif %}
                
                {% else %}

                <li><a href="/loginchoice" class="nav-link fs-4">{{ reference_data['current_language'].login }}
                    </a>
                </li>
                {% endif %}

                
                <hr>




                <li class="nav-item dropdown">
                   
                
                        <li><a href="/language/fr_FR" onclick="clearTranslations();" class="dropdown-item fs-4 fw-medium"><span class="lang-lg lang-lbl" lang="fr"></a></li>
                        <li><a href="/language/en_US" onclick="clearTranslations();" class="dropdown-item fs-4 fw-medium"><span class="lang-lg lang-lbl" lang="en"></span></a></li>
                        <li><a href="/language/pl_PL" onclick="clearTranslations();" class="dropdown-item fs-4 fw-medium"><span class="lang-lg lang-lbl" lang="pl"></span></a></li>
                        <!-- Ajoutez d'autres langues avec leurs liens href -->
                   
                <br>
                <hr>

                        
                        <li><a href="https://idf.fsgt.org/wp-content/uploads/2023/10/reglement-Contest-et-challenge-IdF-ADULTE-2024.pdf" class="dropdown-item fs-4 fw-medium" target="_blank"><i class="bi bi-question-circle-fill" ></i>  {{ reference_data['current_language'].adult_contest_rules }}</a></li>
                        <li><a href="https://idf.fsgt.org/wp-content/uploads/2023/10/reglement-Contest-et-challenge-IdF-ADO-2024.pdf" class="dropdown-item fs-4 fw-medium" target="_blank"><i class="bi bi-question-circle-fill" ></i>  {{ reference_data['current_language'].ado_contest_rules }}</a></li>
                        <li><a href="https://docs.google.com/document/d/1QNui5JaGIROgsGfv1puN-t5mF-KOKY2YXoUQWNPZYO8/edit?usp=drivesdk" class="dropdown-item fs-4 fw-medium" target="_blank"><i class="bi bi-question-circle-fill" ></i>  {{ reference_data['current_language'].participant_guide }} </a></li>
                        <li><a href="https://docs.google.com/document/d/1p9PIb6xgHeEL3d-QwylQjmrLQ2vR1CaJrsaC3dEtQjw/edit?usp=drivesdk" class="dropdown-item fs-4 fw-medium" target="_blank"><i class="bi bi-question-circle-fill" ></i> {{ reference_data['current_language'].admin_guide }}</a></li>
                      
                <br>
                <hr>
                <li><a href="https://www.facebook.com/skala3ma" class="nav-link fs-4"><i class="icon-facebook2"></i> Facebook page</a></li>
                <li><a href="https://github.com/dmossakowski/skala3ma/discussions" class="nav-link fs-4"><i class="icon-github"></i> GitHub</a> </li>
                   

            </div>
                
            </div>

            </div>


            <!-- section shown below md width - mobile menu-->
            <div class=" fixed-bottom    ml-auto d-block d-md-none  " 
            style="background: #000; color: #53be6b ;  font-size: 16px">
                
            <div class=" container-fluid   text-center">
              <div class="row">
                  <div class="col">
                    <a href="/activities" >
                
                    <span class="material-symbols-outlined" style="font-size: 44px;color: #53be6b ">
                        add_circle
                        </span>
                        </a>
                   
                    
                  </div>
                  <div  class="col">
                    <a href="/gyms" >
                
                    <span class="material-symbols-outlined" style="font-size: 44px;color: #53be6b ">
                        elevation
                        
                        </span>
                        </a>
                    
                  </div>
                  <div class="col">
                    <a href="/competitionDashboard" >
                
                    <span class="material-symbols-outlined" style="font-size: 44px;color: #53be6b ">
                        trophy
                        </span>
                        </a>    
                  </div>

                </div>
              </div>
                   

  
                </div>

                
            <!-- section shown above md width -- full screeen-->
            <div class="navbar-nav ml-auto d-none d-md-block">
            


            <ul class="navbar-nav ml-left">

                <a class="nav-link fs-7 fw-semibold" aria-current="page" href="/activities">{{ reference_data['current_language'].activities }}</a> 
                &nbsp;&nbsp;&nbsp;
                <a class="nav-link fs-7 fw-semibold" href="/gyms">{{ reference_data['current_language'].gyms }}</a>
                &nbsp;&nbsp;&nbsp;
                <a class="nav-link fs-7 fw-semibold" href="/competitionDashboard">{{ reference_data['current_language'].competitions }}</a>
                &nbsp;&nbsp;&nbsp;
                <a class="nav-link fs-9 fw-bold " href="/contact"> {{ reference_data['current_language'].Contact }} </a>
                &nbsp;&nbsp;&nbsp;

                <li  class="nav-item">
                <a href="" class="nav-link dropdown-toggle fs-7 fw-medium fw-medium" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-question-circle-fill" ></i> </a>
                <div class="dropdown-menu dropdown-menu-end">
                <a href="https://idf.fsgt.org/wp-content/uploads/2023/10/reglement-Contest-et-challenge-IdF-ADULTE-2024.pdf" class="dropdown-item fs-7 fw-medium" target="_blank">{{ reference_data['current_language'].adult_contest_rules }}</a>
                <a href="https://idf.fsgt.org/wp-content/uploads/2023/10/reglement-Contest-et-challenge-IdF-ADO-2024.pdf" class="dropdown-item fs-7 fw-medium" target="_blank">{{ reference_data['current_language'].ado_contest_rules }}</a>
                <a href="https://docs.google.com/document/d/1QNui5JaGIROgsGfv1puN-t5mF-KOKY2YXoUQWNPZYO8/edit?usp=drivesdk" class="dropdown-item fs-7 fw-medium" target="_blank">{{ reference_data['current_language'].participant_guide }} </a>
                <a href="https://docs.google.com/document/d/1p9PIb6xgHeEL3d-QwylQjmrLQ2vR1CaJrsaC3dEtQjw/edit?usp=drivesdk" class="dropdown-item fs-7 fw-medium" target="_blank">{{ reference_data['current_language'].admin_guide }}</a>
                <a href="https://github.com/dmossakowski/skala3ma" class="dropdown-item fs-7 fw-medium" target="_blank">{{ reference_data['current_language'].app_development }}</a>
                       
            </div>
                </li>


                <li class="nav-item">
                <a href="#" class="nav-link dropdown-toggle fs-7 fw-medium" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-translate" ></i></a>     
                <div class="dropdown-menu  dropdown-menu-end">
        
                <a href="/language/fr_FR" onclick="clearTranslations();" class="dropdown-item fs-7 fw-medium"><span class="lang-lg lang-lbl" lang="fr"></a>
                <a href="/language/en_US" onclick="clearTranslations();" class="dropdown-item fs-7 fw-medium"><span class="lang-lg lang-lbl" lang="en"></span></a>
                <a href="/language/pl_PL" onclick="clearTranslations();" class="dropdown-item fs-7  fw-medium"><span class="lang-lg lang-lbl" lang="pl"></span></a>
                <!-- Ajoutez d'autres langues avec leurs liens href -->
                </div>
                </li>

            
            {% if session is defined and session['expires_at'] is defined %}

                <li  class="nav-item">
                <a href="/user" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    
                <img src="{{session['picture']}}" height=27 referrerPolicy="no-referrer" class="d-inline-block align-text-top">
                
                </a> 
                <div class="dropdown-menu dropdown-menu-end">
                    <a href="/user" class="dropdown-item fs-7 fw-medium">{{ reference_data['current_language'].myprofile }}</a>

                 
                    <a href="/myresultats" class="dropdown-item fs-7">{{ reference_data['current_language'].my_resultats }}</a>
                        
                
                    <a href="/logout" class="dropdown-item fs-7">{{ reference_data['current_language'].logout }}</a>

                    {% if session['godmode']  %}
                    <a href="/competitionRawAdmin" class="dropdown-item fs-7">Admin</a></li>

                    {% endif %}
                </div>
                </li>
            {% else %}

                <li><a href="/loginchoice" class="nav-link fs-7 fw-semibold">{{ reference_data['current_language'].login }}
                </a>
                </li>
            {% endif %}
            </ul>

        </div>

        
</nav>
    

<div class="modal fade" id="fullscreenModal" tabindex="-1" role="dialog" aria-labelledby="fullscreenModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fullscreenModalLabel"></h5>
            </div>
            <div class="modal-body text-center" id="fullscreenModalBody">
                <img src="" class="img-fluid" id="fullscreenModalImage">
            </div>
        </div>
    </div>
</div>
<div id="alertPlaceholder"></div>

				 {% block topcontent %} {% endblock %}


				 {% block secondarycontent %}




			{% endblock %}

		<footer>
			<div id="footer">
				<div class="container">
					<div class="row row-bottom-padded-md">
						<div class="col-md-5">
							<h3 class="section-title"> <img src="/public/images/favicon.png" height="30">  {{ reference_data['current_language'].about }} skala3ma</h3>
							<p>{{ reference_data['current_language'].app_welcome }} <br>{{ reference_data['current_language'].short_app_description }}</p>
							<p><a href="/contact"><i class="icon-email"></i> {{ reference_data['current_language'].contact_email }}</a>
							
                               
                            </p>
						</div>


						<div class="col-md-5">
							<h3 class="section-title">Links</h3>
							<ul>

							{% if username is defined %}
								<li><a href="/privacy">{{ reference_data['current_language'].privacy_notice }}</a></li>
                                <li><a href="/logout">{{ reference_data['current_language'].logout }}</a></li>
							{% endif %}
                                <br>
								<li><a href="https://www.facebook.com/skala3ma"><i class="icon-facebook2"></i> Facebook</a></li>
                                <li><a href="https://github.com/dmossakowski/skala3ma"><i class="icon-github"></i> GitHub</a></li>
							</ul>

						</div>
						<div  class="col-md-2">
							<!-- http://usrz.github.io/bootstrap-languages/ -->
							<h3 class="section-title">Languages</h3>
							<a href="/language/fr_FR" style="color: white" onclick="clearTranslations();"> <span class="lang-lg lang-lbl" lang="fr"></span></a> <br>
							<a href="/language/en_US" style="color: white" onclick="clearTranslations();"> <span class="lang-lg lang-lbl" lang="en"></span></a> <br>
							<a href="/language/pl_PL" style="color: white" onclick="clearTranslations();"> <span class="lang-lg lang-lbl" lang="pl"></span></a><br>

                            <br><br>
						</div>

						<div class="row">
							<div class="col-md-12">
								
                                <p>Mapping data by <a href="https://www.openstreetmap.org/" target="_blank">https://www.openstreetmap.org/</a>. 
                                    <br>    
								Initial template by <a href="http://freehtml5.co/" target="_blank">Freehtml5.co</a>. 
                                    
                                    <br>Made with <i class="icon-heart3"></i> by davidski
							</div>
						</div>
					</div>

				</div>
			</div>

		</footer>

	

	</div>

	</div>

    <script>


        
        document.addEventListener('DOMContentLoaded', function() {
            const modal = document.getElementById('fullscreenModal');
            const modalBody = document.getElementById('fullscreenModalBody');
            const bootstrapModal = new bootstrap.Modal(modal);

            // Add click event listener to the modal body to dismiss the modal
            modalBody.addEventListener('click', function() {
                //const bootstrapModal = new bootstrap.Modal(modal);
                bootstrapModal.hide();
                console.log('hide modal in layout')
                //modal.style.display = 'none';
            });

            window.showFullscreen = function(url, title) {
            // Get the existing modal elements
            const modal = document.getElementById('fullscreenModal');
            const modalTitle = document.getElementById('fullscreenModalLabel');
            const modalImage = document.getElementById('fullscreenModalImage');
        
            // Set the title and image source
            modalTitle.textContent = title;
            modalImage.src = url;
        

            bootstrapModal.show();
        }
        });
    </script>
	</body>
</html>

<script>
// Ensure JWT cleared when user clicks any logout link
document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('a[href="/logout"]').forEach(a => {
        a.addEventListener('click', () => {
            if (window.clearJwtToken) { window.clearJwtToken(); }
        });
    });
    // Optional: attach token debug info in console
    if (window.getJwtToken) {
        const t = window.getJwtToken();
        if (t) { console.debug('JWT present (truncated):', t.substring(0,24)+'...'); }
    }
});
</script>

