{% extends "skala3ma-layout.html" %}

{% block topcontent %}

<style>
    #map { height: 640px; width: 100%; }
</style>

<div style="background:  linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.75) ), url(/public/images/main-back.jpg); height: auto; background-repeat: no-repeat;
                    background-size: cover; background-position: center center; opacity: 1">



<div class="row" >
    <div class="text-center">
    
        <p class="fw-medium m-0">
          <a href="/contact" >  <span data-translate-key="Contact_us_text1"></span>  <i class="icon-mail"></i></a>   <br>
        <!-- 
        <a href="/contact" class="btn btn-primary btn-small rounded-pill" 
        style="--bs-btn-padding-y: .35rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"><span data-translate-key="Contact_us"></span>  </a>
   -->
   
   <a href="https://www.instagram.com/skala3ma/"><i class="icon-instagram"></i> Instagram </a>   &nbsp;&nbsp;&nbsp;
    <a href="https://www.facebook.com/skala3ma"><i class="icon-facebook2"></i> Facebook </a>   &nbsp;&nbsp;&nbsp;
    <a href="https://github.com/dmossakowski/skala3ma/discussions"><i class="icon-github"></i> GitHub </a> &nbsp;&nbsp;&nbsp;
  
</p>
    </div>
    
            </div>
<div id="map"></div>

<div class="container">
    <div class="row">  
        <br> </div>
    <div class="row">

                <div class="col">
                    
                    <img src="public/images/fsgt-logo-me.png" width=320><br><br>

                </div>

                <div class="col">
                   
                    <h1 class="display-4" style="color: rgb(83, 80, 80);font-size:44px; font-weight: 200vw" > {{ reference_data['current_language'].app_welcome}}</h1>

                   
                </div>
                
    </div>
    
</div>

</div>  	



	
<div class="container">
       

    <div class="row" >

	        
        <script>
            var map = L.map('map').setView([48.885, 2.46], 11);
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            zoomSnap: 0,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);


        var LeafIcon = L.Icon.extend({
            options: {
            shadowUrl: '',
            
            shadowSize:   [250, 250],
            iconAnchor:   [1, 70],
            
            popupAnchor:  [35, -70]
        }
});


        
            var gyms;

function getData()
{
    fetch(`/api1/gyms/status/created`)
    .then(response => response.json())
    .then(data => {
        // use the retrieved data here
        //console.log("retrieved data in activities.js")
        //console.log(data);
        gyms=data
        processGyms(gyms);
    })
    .catch(error => console.error(error));
    
}

function processGyms(gyms)
{
    for (let i = 0; i < gyms.length; i++) {
     
        let img = new Image();
        let height = 0;
        let width = 0;
        img.src = '/image/'+gyms[i].logo_img_id;

        img.onload = function() {
            
            height = img.naturalHeight;
            width = img.naturalWidth;

            ratio = width / height; // 1 = square, >1 = landscape, <1 = portrait
            desiredScale = 55;

            if (ratio < 0.8) {
                desiredScale = 150; // smaller height for landscape images
            }else if (ratio < 1.6) {
                desiredScale = 120; // larger height for very tall images
            }else if (ratio < 2.1) {
                desiredScale = 90; // larger height for very tall images
            } else {
                desiredScale = 60; // larger height for very tall images
            }

            let proportionalWidth = (desiredScale / height) * width; // Calculate proportional width
            let proportionalHeight = desiredScale; // Set desired height
            
            //console.log(gyms[i].name+" - "+ratio+" "+img.naturalWidth+ " "+img.naturalHeight+" "+proportionalWidth+ ":"+proportionalHeight) // Error: undefined is not an object
            
            var icon = new LeafIcon ({iconUrl: '/image/'+gyms[i].logo_img_id, iconSize: [proportionalWidth, proportionalHeight], 
                shadowUrl: '/public/images/white-dot.png', 
                shadowSize: [proportionalWidth*2.7 , 250], 
                shadowAnchor: [proportionalWidth-10, 150],
                
            })

            var lat = gyms[i].lat;
            var lon = gyms[i].lon;
            /*if (lat == null || lon == null)
            {
                lat = 48.975;
                lon = 2.100000+i/17;
            }*/
            
            if (lat != undefined && lon != undefined)
            {
                var marker = L.marker([lat,lon],{icon: icon})
            .bindPopup("<b><a href=/gyms/"+gyms[i].id+">"+gyms[i].name+"</a></b><br>"+gyms[i].address+"").openPopup().addTo(map);  
            }
            
             
            
        };
        
    }	  
}	
    getData();

        
        </script>

<!--
     <div style="text-align: left;">
            <br><br>
            {{ reference_data['current_language'].manage_competitions_and_gyms}}
            {{ reference_data['current_language'].The_source_code_for_this_app_is_on}} <a href="https://github.com/dmossakowski/skala3ma">GitHub</a>.<br>
            <a href="https://github.com/dmossakowski/skala3ma/discussions">{{ reference_data['current_language'].Join_the_discussion_there}}</a> {{ reference_data['current_language'].or}}
            <a href="https://github.com/dmossakowski/skala3ma/issues">{{ reference_data['current_language'].add_an_issue}}</a><br><br>

            <a href="https://www.facebook.com/skala3ma">Facebook page</a><br><br>

            {{ reference_data['current_language'].list_features}}		<li>{{ reference_data['current_language'].Add_a_new_competition}}</li>
            <li>{{ reference_data['current_language'].Public_registration_link}}</li>
            <li>{{ reference_data['current_language'].Easy_scaled_route_entry}} </li>
            <li>{{ reference_data['current_language'].Instant_scoring}}</li>
            <li>{{ reference_data['current_language'].Multi_language}}</Li>
            <li>{{ reference_data['current_language'].Google_and_Facebook_logins}}</li>

            <div id="fblikebutton"  class="fb-like" data-href="https://www.facebook.com/skala3ma" data-width="" data-layout="button" data-action="like" data-size="small" data-share="true"></div>
            <br><br>
	        </div><br><br>
-->


	
</div>
				</div>
{% endblock %}

	{% block secondarycontent %}


{% endblock %}