


{% extends "skala3ma-layout.html" %}

{% block topcontent %}

			<!--div class="container"-->
		<!--		<div class="row" style="background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.8)), url(public/images/group-of-people-1587927.jpg);  background-size: cover;">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">


					<br>	<h3>{{ subheader_message }}</h3>


			<h4>Below tracks are in your playlist but you never added a full album of the artist. These could be some gems!</h4>
</div>
				</div>
				-->
<!--/div-->

{% endblock %}


	{% block secondarycontent %}

	<div class="row">
		<!--div id="fh5co-blog-section" class="fh5co-section-gray"	-->
					<div class="col-md text-center heading-section animate-box">
						<br><br>
				{% if gym is not none and gym is not undefined  %}
						<h3>{{ gym['name'] }}</h3>

	 	<label for="default_routes">{{ reference_data['current_language'].routes }}</label>
	<select name="default_routes" id="default_routes" onchange="document.location.href='/gyms/{{gym['id']}}/'+this.value+'/edit'">


		{% for route in all_routes %}
			<option name="id" value="{{all_routes[route]['id']}}" {% if all_routes[route]['id'] == routes['id'] %} selected {% endif %}  >{{all_routes[route]['name']}} - {{all_routes[route]['id']}} </option>

		{% endfor %}


	</select>

						{% else %}
						<h3>{{ reference_data['current_language'].gyms }} </h3>
				{% endif %}
					</div>


	</div>
{% if gym is not none and gym is not undefined  %}


<script>

	//me.addRow = function(btn){
     // btn ? btn.parentNode.parentNode.insertAdjacentHTML('afterend', row1): table.insertAdjacentHTML('beforeend',row1);
      //setIds();
    //}


	function addRowAtId(id) {
	const d = new Date();
	let time = d.getTime();

  var row = document.getElementById(id);
	row.id=time;
  var cell1 = row.insertCell(0);
  var cell2 = row.insertCell(1);
  var cell3 = row.insertCell(2);
  var cell4 = row.insertCell(3);
  var cell5 = row.insertCell(4);
  var cell6 = row.insertCell(5);
  var cell7 = row.insertCell(6);
  var cell8 = row.insertCell(7);
  cell1.innerHTML = '<input type="text" value="" name="routeline" id="routeline1"/>';
  cell2.innerHTML = '<input type="text" value="" name="routegrade" id="routegrade1"/>';
  cell3.innerHTML =  i+'new cell'+time
  cell8.innerHTML = ' <a  onclick="addRowAtId('+time+')" >add</a><a  onclick="deleteRow('+(time)+')" >del</a>';

	var rowHtml = `
	testing one
	testing two
	`;
  var rowHTML = row.outerHTML;
  var rowParent = row.parentNode;

  var row = row.parentNode.insertAdjacentHTML('afterend', row);


}

	function addRow(rowindex) {
	const d = new Date();
	let time = d.getTime();
	var rowid = 0;
	var table = document.getElementById("routestable");

	for (var i = 0, row; row = table.rows[i]; i++) {
		var rowidtemp = row.id
		if (rowidtemp==rowindex){
			rowid = i;
			break;
			}
	}

  var row = table.insertRow(rowid);
  row.className = "bg-warning";
  row.id=time;
  var cell1 = row.insertCell(0);
  var cell2 = row.insertCell(1);
  var cell3 = row.insertCell(2);
  var cell4 = row.insertCell(3);
  var cell5 = row.insertCell(4);
  var cell6 = row.insertCell(5);
  var cell7 = row.insertCell(6);
  var cell8 = row.insertCell(7);
  cell1.innerHTML = '<input type="hidden" name="routeid" value="0"><input type="text" value="" name="routeline" id="routeline1" size=3/>';
  cell2.innerHTML = '<input name="color1" type ="color" ><select type="select" name="color_modifier"><option name="solid" selected> solid</option><option name="marble" > marble</option></select>';

  cell3.innerHTML = '<input type="text" value="" name="routegrade" id="routegrade1" size="5"/>';
  cell4.innerHTML = '<input type="text" value="" name="routename" id="routenum1"/>';
  cell5.innerHTML = '<input type="text" value="" name="openedby" id="openedby"/>';
  cell6.innerHTML = '<input type="date" value="" name="opendate" id="opendate" size="10"/>';
  cell7.innerHTML = '<input type="text" value="" name="notes" id="notes"/>';

  cell8.innerHTML = ' <a href="#"  onclick="addRow('+rowindex+'); return false;" ><b>+</b></a> &nbsp; <a href="#"  onclick="deleteRow('+(time)+'); return false;" ><b>-</b></a>';
}


function deleteRow(id) {
  //document.getElementById("routestable").deleteRow(i);
  document.getElementById(id).remove();

}
</script>




<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
		  	<form action="/gyms/{{gym['id']}}/{{routes['id']}}/edit" enctype="multipart/form-data"  method="POST">
				<input type="text" name="afterrow" id="afterrow" value=""/>

			</form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<div class="container  text-left heading-section animate-box">


	<form action="/gyms/{{gym['id']}}/{{routes['id']}}/edit" enctype="multipart/form-data"  method="POST">

	 	<!--label for="default_routes">{{ reference_data['current_language'].routes }} id:</label>
		{{ routes['id']}} -->
		<div class="row">
		<div class="col-sm-8">
		<label for="name">{{ reference_data['current_language'].name }}</label>
		<input type="text" id="name" name="name" value="{{routes['name']}}">





		<!-- Trigger the modal with a button -->
<!--button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal" data-afterrow="12"

onclick="$('#afterrow').val($(this).data('afterrow')); $('#showmodal').modal('show');"
>Add new route</button-->





</div><div class="col-sm-4 text-right">
		<input type="submit" class="btn btn-primary btn-md" name=save value="{{ reference_data['current_language'].save}}">

		&nbsp;&nbsp;&nbsp;<button name=copy value="copy" class="btn btn-warning btn-md">{{ reference_data['current_language'].make_copy}}</button>

		</h2>
			<br><br>

			</div>
			</div>
<table class="table thead-dark  table-sm" id="routestable"
    data-url="data/url.json"
    data-id-field="id"
    data-editable-emptytext="Default empty text."
    data-editable-url="/my/editable/update/path">
         <thead><tr>
         <th data-width="250" data-field="line" data-filter-control="input">{{ reference_data['current_language'].line }}</th>
         <th data-field="color1" data-filter-control="input">{{ reference_data['current_language'].color }}</th>

         <th data-field="track" data-filter-control="input" data-editable="true">{{ reference_data['current_language'].grade }}</th>
         <th data-field="name" data-filter-control="input" data-editable="true">{{ reference_data['current_language'].route_name }}</th>
         <th data-field="openedby" data-filter-control="input">{{ reference_data['current_language'].route_opened_by }}</th>
         <th data-field="openeddate" data-filter-control="input">{{ reference_data['current_language'].route_opened_date }}</th>
         <th data-field="notes" data-filter-control="input">{{ reference_data['current_language'].notes }}</th>

         </tr>
         </thead>
    <tbody>
         {# here we iterate over every item in our list which we will pass from bar() #}
		 {% for route in routes['routes'] %}

		 <tr id="{{loop.index}}" class="bg-normal">
			 <td><input type="hidden" name="routeid" value="{{ route['id']}}">
				 {{loop.index}} <input type="text" value="{{ route['line'] }}" name="routeline" id="routeline1" size="3"/> </td>
			 <td>
				 <input name="color1" type ="color" value="{{ route['color1'] }}">
				 <select type="select" name="color_modifier">
					 <option name="solid" {% if route['color_modifier'] == 'solid' %}selected{% endif %} > solid</option>
					 <option name="marble" {% if route['color_modifier'] == 'marble' %}selected{% endif %} > marble</option>
				 </select>
			 </td>

			 <td><i><input type="text" value="{{route['grade'] }}" name="routegrade" id="routegrade1" size="5"/></i></td>
			 <td> <input type="text" value="{{ route['name'] }}" name="routename" id="routenum1"/></td>
			 <td> <input type="text" value="{{ route['openedby'] }}" name="openedby" id="openedby"/></td>
			 <td> <input type="date" value="{{ route['opendate'] }}" name="opendate" id="opendate" size="10"/></td>
			 <td> <input type="text" value="{{ route['notes'] }}" name="notes" id="notes"/></td>
			 <td><a href="#" onclick="addRow({{loop.index}}); return false;" >+</a> &nbsp;
				 <a href="#"  onclick="deleteRow({{loop.index}}); return false;" >-</a></td>
		 </tr>
		 {% endfor %}

         </tbody>
     </table>

		</form>

</div>




				{%endif %}

{% if gyms is not none  %}





					{% for gymid in gyms %}


					<div class=" col-md-2 ">

						<div id='albumArt{{ loop.index }}' class="fh5co-blog animate-box"
							 onmouseover="playPreview('trackPreview{{ loop.index }}')"
							 onmouseleave="stopPreview('trackPreview{{ loop.index }}')"
						>
							<a href="gyms/{{ gymid }}">
							<div class="blog-text">
								<div class="prod-title">
									{% if gyms[gymid]['logoimg'] is not none %}
									<img src="public/images/gyms/{{ gyms[gymid]['logoimg'] }}">
									{% else %}

									<h4>{{ gyms[gymid]['name'] }}</h4>
									<span class="posted_by">{{ gyms[gymid]['date'] }}</span>
									{% endif %}
									<!--span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span-->




								</div>
							</div>
								</a>
						</div>
					</div>

					 {% endfor %}





{% endif %}




			</div>
		</div>

	</div>
{% endblock %}