<!DOCTYPE html>
<html>
<head>
    <style>
        .hatched-pattern {
            background-image: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 10px, transparent 10px, transparent 20px);
            background-size: 20px 20px;
        }
    </style>
</head>
<body>

    <div class="hatched-pattern" style="width: 200px; height: 200px;">
        This div should have a hatched pattern.
    </div>

    <table class="table thead-dark table-hover" id="my_table_id"
    data-url="data/url.json"
    data-id-field="id"
    data-editable-emptytext="Default empty text."
    data-editable-url="/my/editable/update/path">
    
    <tbody>

        <td align="center" class="hatched-pattern">
          <font style="text-shadow: 0px 0px 3px rgb(2, 255, 31);"><b>32</b></font>
        </td>


        </tbody>
    </table>

</body>
</html>
