


<div style="background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url(public/images/group-of-people-1587927.jpg);  background-size: cover;">
			<div class="container" >

				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<br>
						<h3>Your top artists </h3>
						<p>Spotify thinks that these are your top artists.  </p>
					</div>
				</div>
			</div>

	<script type="text/javascript">
    function playPreview(audioId){
    	var audio = document.getElementById(audioId)
		audio.play();
	}

	function stopPreview(audioId){
    	var audio = document.getElementById(audioId)
		audio.pause();
	}
</script>
			<div class="container">
					{% for track in library['topartists_medium_term'] %}
					{% if loop.index < 51 %}

					<div class="col-md-3">
						<div id='albumArt{{ loop.index }}' class="fh5co-blog animate-box">
							{% if track['images']|length >0 %}
								<img class="img-responsive" src="{{ track['images'][0]['url'] }}" alt="">
							{% endif %}
							<div class="blog-text">
								<h4>	{{ track['name'] }}</h4>


							</div>
						</div>
					</div>

					{% endif %}
					 {% endfor %}

			</div>



	<div class="row row-bottom-padded-lg">
	</div>

</div>
		<!-- fh5co-blog-section -->

