


{% extends "layout.html" %}

{% block topcontent %}

			<!--div class="container"-->
				<div class="row" style="background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.9)), url(public/images/group-of-people-1587927.jpg);  background-size: cover;">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">


					<br>	<h3>{{ subheader_message }}</h3>

						<h3>Playlists:		<b>{{'0' if library['playlists'] == None else  library['playlists']|length}}</b>
<br>
					Albums:	<b>{{'0' if library['albums'] == None else  library['albums']|length}}</b>
							<br>
						Tracks:	<b>{{'0' if library['tracks'] == None else  library['tracks']|length}}</b>
						</h3>

<br><br>
	<h4><a href="/datadownload">Update all Spotify data</a></li></h4>

    <div class="chart" id="bargraph">
    <script>
        var graphs = {{plot | safe}};
        Plotly.plot('bargraph',graphs,{});
    </script>
    </div>
</div>
				</div>
<!--/div-->
<br>
{% endblock %}


	{% block secondarycontent %}


{% include 'topartists_block.html' %}

{% include 'toptracks_block.html' %}
{% endblock %}