
{% extends "layout.html" %}


{% block topcontent %}
	<div  style="background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.8)), url(public/images/group-of-people-1587927.jpg);  background-size: cover;">

		<!--div id="fh5co-blog-section" class="fh5co-section-gray"-->
			<div class="container">
				<div class="row text-center heading-section">
					<!--div class="col-md-8 col-md-offset-2 text-center heading-section animate-box"-->
					<br>	<h3>Tracks list </h3>
{{ subheader_message }}
                </div>
            </div><!--/div--><!--/div-->


<div class="container-fluid">
<table class="table thead-dark table-hover" data-toggle="table"  data-filter-control="true" >
         <thead><tr>
         <th data-width="250" data-field="Time Added" data-filter-control="input">Time added</th>
         <th data-field="artist" data-filter-control="input">Artist</th>
         <th data-field="track" data-filter-control="input">Track name</th>
         <th data-field="album" data-filter-control="input">Album</th>
         </tr>
         </thead>
    <tbody>
         {# here we iterate over every item in our list which we will pass from bar() #}
         {% for key in sortedA %}

            {% for rec in sortedA[key] %}
                <tr><td>{{key}}</td> <td> {{rec.artist}}</td> <td><i>{{rec.trackname}}</i></td>  <td><i>{{rec.albumname}} </i></td>
                    </tr>
             {% endfor %}

         {% endfor %}
         </tbody>
     </table>

    <script>
  $(function() {
    $('#table').bootstrapTable()
  })
</script>

                    </div>

</div>
{% endblock %}

{% block secondarycontent %}

	{% endblock %}

