
<!-- START gyms-menu -->
<div class="nav">
  <ul class="nav justify-content-center">
  
    <li>
      <a href="/profile" class="nav-link sf-menu2">
        <i class="bi bi-person-fill"></i>
        <span data-translate-key="myprofile">{{ reference_data['current_language'].profile }}</span>
      </a>
    </li>
   
      <li>
      <a href="/myactivities" class="nav-link sf-menu2">
        <i class="bi bi-activity"></i>
        <span data-translate-key="my_activities">Activities</span>
      </a>
    </li>
     <li>
      <a href="/myresultats" class="nav-link sf-menu2">
        <i class="bi bi-trophy-fill"></i>
        <span data-translate-key="my_resultats">Results</span>
      </a>
    </li>
    
  </ul>
</div>
<br>
